<template>
  <v-row class="ma-0 create-poster-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">События</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/posters')" class="grey--text cursor-pointer">События</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">Добавить событие</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 py-6 px-6"
                   color="grey"
                   outlined><span
                class="grey--text">Отменить</span></v-btn>
            <v-btn v-if="edit" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
            <v-btn :disabled="!currentForm" @click="save" v-if="!edit" class="pa-6" color="primary"><span
                class="font-weight-medium">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-5">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="12">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="mb-4">
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="secondary--text mb-1">Заголовок</span>
                      <v-text-field :rules="[$rule.required]" v-model="model.title"
                                    placeholder="Введите название заголовока . ." dense outlined
                                    hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-4">
                      <div class="mb-1 d-flex justify-space-between">
                        <span class="grey--text">Тип события</span>
                        <v-icon color="#858D9D" small>mdi-information</v-icon>
                      </div>
                      <v-autocomplete :rules="[$rule.required]" placeholder="Выберите тип события" outlined dense
                                      hide-details v-model="model.categories[0]" return-object item-text="nameRu"
                                      :items="categories.filter(el => el.type === 'POSTER')"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span class="grey--text mb-1">Дата</span>
                      <v-text-field :rules="[$rule.required]" type="date" placeholder="Дата" outlined dense hide-details
                                    v-model="model.date"/>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between mt-4">
                    <div style="width: 100%" class="d-flex flex-column mr-4">
                      <div class="mb-1 d-flex justify-space-between">
                        <span class="grey--text">Место проведения</span>
                        <v-icon color="#858D9D" small>mdi-information</v-icon>
                      </div>
                      <v-autocomplete :rules="[$rule.required]" :items="establishments"
                                      v-model="model.establishment"
                                      placeholder="Введите место проведения события"
                                      dense outlined hide-details
                                      return-object
                                      clearable
                                      item-value="id" item-text="name"
                      />
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span class="grey--text mb-1">Контакты</span>
                      <v-text-field :rules="[$rule.required]" placeholder="Введите контакты" outlined dense hide-details
                                    v-model="model.contacts"/>
                    </div>
                  </div>

                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <div class="d-flex flex-column">
                  <span class="black--text font-weight-medium mb-3 text-20">Описание</span>
                  <vue-editor v-model="model.description" :editorToolbar="customToolbar">
                  </vue-editor>
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Обложка события</span>
                <div style="background: #FFFFFF;border-radius: 12px" class="mt-5">
                  <div class="poster_images pa-6 d-flex flex-column align-center text-center"
                       @dragover.prevent
                       @drop.prevent="handleDrop">
                    <div v-if="edit ? !model.files : !cover.fileUrl" class="poster_preview">
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex justify-center" v-if="edit ? model.files : cover.fileUrl">
                      <div style="border-radius: 16px" class="poster_logo">
                        <v-img width="100%" height="100%" style="border-radius: 16px"
                               :src="edit ? (!cover.fileUrl ? currentCover : cover.fileUrl) : cover.fileUrl"/>
                      </div>
                    </div>
                    <span
                        class="text-16 secondary--text mt-5">Перетащите изображение сюда или нажмите <br> «Выбрать обложку»</span>
                    <input type="file" ref="coverInput" accept="image/*" style="display: none"
                           @change="handleCoverUpload">
                    <v-btn @click="triggerCoverInput" outlined color="secondary" class="mt-5 py-6 px-12" depressed><span
                        class="text-14 secondary--text text-none">Выбрать обложку</span></v-btn>
                  </div>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Баннер события</span>
                <div @dragover.prevent
                     @drop.prevent="handleLargeDrop" class="poster_images mt-5 py-6 px-14 d-flex flex-column">
                  <div v-if="!image.file" class="poster_images__preview">
                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                  </div>
                  <div v-if="image.file" style="width: 100%" class="d-flex justify-center">
                    <div style="border-radius: 8px" class="poster_image">
                      <div @click="removeLargeImage" class="poster_remove cursor-pointer">
                        <heroicon style="margin-right: -10px" class="mb-n2" name="trash" fill="#858D9D"/>
                      </div>
                      <div style="width: 337px;height: 218px">
                        <v-img width="100%" height="100%" style="border-radius: 8px" :src="image.fileUrl"/>
                      </div>
                    </div>
                  </div>
                  <span class="text-center text-16 secondary--text mt-5">Перетащите изображение сюда или нажмите <br> «Добавить изображение».</span>
                  <input type="file" ref="fileLargeInput" accept="image/*" style="display: none"
                         @change="handleLargeImageUpload">
                  <v-btn @click="triggerLargeFileInput" outlined color="secondary" class="mt-5 py-6 px-12"
                         depressed><span
                      class="text-14 secondary--text text-none">Добавить изображение</span></v-btn>
                </div>
              </div>
              <!--              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">-->
              <!--                <span class="font-normal text-18 accent&#45;&#45;text">Фото</span>-->
              <!--                <div @dragover.prevent-->
              <!--                     @drop.prevent="handleSmallDrop" class="poster_images mt-4 py-6 px-14 d-flex flex-column">-->
              <!--                  <div v-if="!model.smallCover" class="poster_images__preview">-->
              <!--                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>-->
              <!--                  </div>-->
              <!--                  <div style="width: 100%" class="d-flex justify-center" v-if="model.smallCover">-->
              <!--                    <div style="border-radius: 8px" class="poster_image">-->
              <!--                      <div @click="removeSmallImage" class="poster_remove cursor-pointer">-->
              <!--                        <heroicon style="margin-right: -10px" class="mb-n2" name="trash" fill="#858D9D"/>-->
              <!--                      </div>-->
              <!--                      <div style="width: 337px;height: 218px">-->
              <!--                        <v-img width="100%" height="100%" style="border-radius: 8px" :src="model.smallCover"/>-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                  <span class="secondary&#45;&#45;text text-14 mt-4">Перетащите изображение сюда или нажмите «Добавить изображение».</span>-->
              <!--                  <input type="file" ref="fileSmallInput" accept="image/*" style="display: none"-->
              <!--                         @change="handleSmallImageUpload">-->
              <!--                  <v-btn @click="triggerSmallFileInput" class="mt-4" depressed color="#EFEFEF"><span-->
              <!--                      class="text-14 font-normal primary&#45;&#45;text text-none">Добавить изображение</span></v-btn>-->
              <!--                </div>-->
              <!--              </div>-->
            </v-col>
<!--            <v-col class="pa-0 pl-6" cols="3">-->
<!--              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">-->
<!--                <div class="mb-4">-->
<!--                  <span class="text-18 black&#45;&#45;text">Настройки</span>-->
<!--                </div>-->
<!--                <div style="width: 100%" class="d-flex flex-column mt-3">-->
<!--                  <span style="color: #777980" class="grey&#45;&#45;text mb-1">Дата публикации</span>-->
<!--                  <v-text-field type="date" dense outlined hide-details/>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div @click="previewNews" style="background: #FFFFFF;border-radius: 12px;border: 1px solid #858D9D"-->
<!--                   class="pa-3 mt-6 cursor-pointer">-->
<!--                <div class="d-flex justify-center align-center">-->
<!--                  <span class="text-14 secondary&#45;&#45;text mr-3">Предпросмотр</span>-->
<!--                  <heroicon class="mb-n3" name="eye" fill="#A3A9B6"/>-->
<!--                </div>-->
<!--              </div>-->
<!--            </v-col>-->
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import VueCropper from "vue-cropper";
import {mapGetters} from "vuex";
import {Quill,VueEditor} from "vue2-editor";


function getFontName(font) {
  return font.toLowerCase().replace(/\s/g, '-')
}

const fontList = ['Qanelas']
const fontNames = fontList.map(font => getFontName(font))
const fonts = Quill.import('formats/font')
fonts.whitelist = fontNames
Quill.register(fonts, true)

let fontStyles = ''
fontList.forEach(function (font) {
  let fontName = getFontName(font)
  fontStyles +=
      '.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=' +
      fontName +
      ']::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=' +
      fontName +
      ']::before {' +
      "content: '" +
      font +
      "';" +
      "font-family: '" +
      font +
      "', sans-serif;" +
      '}' +
      '.ql-font-' +
      fontName +
      '{' +
      " font-family: '" +
      font +
      "', sans-serif;" +
      '}'
})

const node = document.createElement('style')
node.innerHTML = fontStyles
document.body.appendChild(node)
export default {
  name: 'Users',
  components: {VueCropper: VueCropper.vueCropper,VueEditor},
  data: () => ({
    customToolbar: [
      [{font: fonts.whitelist}],
      [{header: [false, 1, 2, 3, 4, 5, 6]}],
      ['bold', 'italic', 'underline', 'strike'],
      [{align: ''}, {align: 'center'}, {align: 'right'}],
      ['blockquote', 'code-block'],
      [{list: 'ordered'}, {list: 'bullet'}, {list: 'check'}],
      [{indent: '-1'}, {indent: '+1'}],
      [{color: []}, {background: []}],
      ['link', 'image', 'video', 'formula'],
      [{direction: 'rtl'}],
      ['clean']
    ],
    edit: false,
    establishments: [],
    categories: [],
    model: {
      files: [],
      active: true,
      position: 0,
      establishment: {},
      categories: []
    },
    options: {
      size: 1,
      outputType: "png",
      autoCrop: true,
      autoCropWidth: 416,
      autoCropHeight: 516,
      fixedBox: true,
      img: '',
    },
    image: {
      file: '',
      fileUrl: '',
      dto: {
        source: "POSTER",
        fileType: "IMAGE",
        userId: 0,
        isCover: false,
        sourceName: "poster",
        order: 0,
        isLogo: false
      }
    },
    cover: {
      file: '',
      fileUrl: '',
      dto: {
        source: "POSTER",
        fileType: "IMAGE",
        isCover: true,
        sourceName: "poster",
        order: 0,
        isLogo: false
      }
    },

  }),
  computed: {
    ...mapGetters(["domain"]),
    currentForm() {
      return (
          this.model.title &&
          this.model.categories.length &&
          this.model.establishment &&
          this.model.date &&
          this.model.contacts

      );
    },
    currentCover() {
      const coverFile = this.model.files.find(f => f.isCover);
      return coverFile ? 'data:image/png;base64,' + coverFile.file : '';
    }
  },
  methods: {
    getCategories() {
      this.$http.get('/categories')
          .then(r => this.categories = r.data)
    },
    async handleCoverUpload(e) {
      const file = e.target.files[0];
      if (file) {
        this.cover.file = file
        const fileURL = URL.createObjectURL(file);
        this.cover.fileUrl = fileURL;
      }
    },
    triggerCoverInput() {
      this.$refs.coverInput.click();
    },
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        console.log(file)
        this.cover.file = file
        const fileURL = URL.createObjectURL(file);
        this.cover.fileUrl = fileURL;
      }
    },
    formatDate() {
      if (this.model.date) {
        const dateObject = new Date(this.model.date);
        const formattedDate = `${dateObject.getDate().toString().padStart(2, '0')}-${(dateObject.getMonth() + 1).toString().padStart(2, '0')}-${dateObject.getFullYear()}`;
        this.model.date = formattedDate;
      }
    },
    previewNews() {

    },
    removeSmallImage() {
      this.model.smallCover = null
    },
    removeLargeImage() {
      this.image = {
        file: '',
        fileUrl: '',
        dto: {
          source: "POSTER",
          fileType: "IMAGE",
          userId: 0,
          isCover: true,
          sourceName: "poster",
          order: 0,
          isLogo: false
        }
      }
    },
    triggerSmallFileInput() {
      this.$refs.fileSmallInput.click();
    },
    triggerLargeFileInput() {
      this.$refs.fileLargeInput.click();
    },
    async handleSmallImageUpload(e) {
      const file = e.target.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.model.smallCover = base64;
      }
    },
    async handleLargeImageUpload(e) {
      const file = e.target.files[0];
      if (file) {
        this.image.file = file
        const fileURL = URL.createObjectURL(file);
        this.image.fileUrl = fileURL;
      }
    },
    async handleSmallDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.model.smallCover = base64;
      }
    },
    async handleLargeDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        this.image.file = file
        const fileURL = URL.createObjectURL(file);
        this.image.fileUrl = fileURL;
      }
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(error);
        };
        reader.readAsDataURL(file);
      });
    },
    async saveCover() {
      const formData = new FormData();
      formData.append('file', this.cover.file);

      const dtoBlob = new Blob([JSON.stringify(this.cover.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}posters/image/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json();
          console.log(jsonResponse)
          this.model.files.push(jsonResponse);
          console.log(this.model.files)
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    async saveImage() {
      const formData = new FormData();
      formData.append('file', this.image.file);

      const dtoBlob = new Blob([JSON.stringify(this.image.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}posters/image/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json();
          console.log(jsonResponse)
          this.model.files.push(jsonResponse);
          console.log(this.model.files)
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    saveContent() {
      this.formatDate();
      this.$http.post('/posters', this.model)
          .then(r => this.$router.push('/posters'))
    },
    async save() {
      await this.saveCover();
      await this.saveImage();
      this.saveContent()
    },
    init() {
      this.$http.get('/establishments/short')
          .then(r => {
            this.establishments = r.data
            console.log(this.establishments)
          })
    }
  },
  created() {
    this.init()
    this.getCategories()
    this.$router.currentRoute.params.id ? this.edit = true : this.edit = false
  }
}
</script>


<style scoped lang="scss">
.create-poster-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .poster_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9FC;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .poster_image {
    position: relative;
    margin-right: 16px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .poster_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
  }

  .poster_preview {
    background: #000000;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poster_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .poster_top {
    .v-input {
      background: none !important;
      width: 70px !important;
    }

    .v-input__control {
      width: 20px !important;
    }
  }

  .poster_logo {
    width: 540px;
    height: 516px;
    background: #E0E2E7;
    border-radius: 16px;
  }
}
</style>