<template>
  <v-row class="ma-0 reports_wrapper">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Удалить Репортаж</span>
          <span class="text-16 accent--text mt-3">Вы действительно хотите удалить репортаж?</span>
          <div class="mt-8">
            <v-btn style="width: 192px" @click="deleteDialog = false" class="mr-4 py-6 px-10" outlined depressed
                   color="secondary"><span
                class="text-14 font-weight-medium secondary--text">Отменить</span></v-btn>
            <v-btn style="width: 192px" @click="deleteAdvertising" class="py-6 px-10" depressed color="red"><span
                class="text-14 font-weight-medium white--text">Удалить</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="archiveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="py-8 px-16  d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Переместить  в архив</span>
          <span class="text-16 accent--text text-center mt-4">Действительно хотите переместить репортаж в архив?</span>
          <div class="mt-11">
            <v-btn @click="archiveDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn depressed color="primary"><span class="text-14 font-normal">Переместить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex flex-column">
          <div class="d-flex justify-space-between align-end">
            <div>
              <span class="black--text font-weight-medium text-24">События</span>
              <div class="d-flex align-center mt-2">
                <span @click="$router.push('/dashboard')" class="secondary--text text-14 cursor-pointer">Дашборд</span>
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span class="text-14 black--text">События</span>
              </div>
            </div>
            <v-btn @click="$router.push('/poster/create')" class="py-6 px-6" depressed color="primary">
              <v-icon class="mr-4">mdi-plus</v-icon>
              <span class="font-weight-medium text-none text-14 white--text">Добавить событие</span>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-text
            style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
            class="pa-0 mt-5 d-flex flex-column justify-space-between">
          <v-data-table :loading="loading" hide-default-footer :items="data" :headers="headers">
            <template v-slot:item.photo="{item}">
              <div class="d-flex align-center">
                <div class="report_logo mr-2">
                  <v-img width="100%" height="100%" style="border-radius: 8px;position: relative"
                         :src="'data:image/png;base64,' + isCover(item)">
                    <div style="position: absolute;width: 100%;height: 100%;background: #00000066;z-index: 98"></div>
                    <div style="position: absolute;width: 100%; height: 100%;z-index: 99"
                         class="d-flex justify-center align-center">
                      <span class="white--text text-14 font-weight-bold">{{
                          item.files?.length > 100 ? '100+' : item.files?.length
                        }}</span>
                    </div>
                  </v-img>
                </div>
              </div>
            </template>
            <template v-slot:item.actions="{item}">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      :outlined="attrs['aria-expanded'] === 'false'"
                      :color="attrs['aria-expanded'] === 'true' ? 'black' : 'secondary'"
                      v-bind="attrs"
                      v-on="on"
                      class="pl-3 pr-0"
                  >
                    <span :style="{ color: attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99' }">Действия</span>
                    <heroicon class="mb-n5 ml-2" :name="attrs['aria-expanded'] === 'true' ? 'menuUp' : 'menuDown'"
                              :fill="attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99'"/>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="$router.push('/poster/edit/' + item.id)" class="d-flex align-center cursor-pointer">
                        <heroicon width="30px" class="mb-n2"
                                  name="pencil"
                                  fill="#A3A9B6"/>
                        <span class="pl-2">Редактировать</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="previewPoster(item)" class="d-flex align-center cursor-pointer">
                        <heroicon width="30px" class="mb-n2" name="eye" fill="#A3A9B6"/>
                        <span class="pl-2">Просмотр</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="openDeleteDialog(item.id)" class="d-flex align-center cursor-pointer">
                        <heroicon width="30px" class="mb-n2" name="trash" fill="#A3A9B6"/>
                        <span class="pl-2">Удалить</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны {{
                Math.min((page - 1) * 10 + 1, totalItems)
              }}-
              {{ Math.min(page * 10, totalItems) }}
              из {{ totalItems }}</span>
            <v-pagination :length="totalPages" @input="init" total-visible="10" prev-icon="mdi-menu-left"
                          next-icon="mdi-menu-right" v-model="page"
            ></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    search: '',
    dateRange: '',
    deleteDialog: false,
    archiveDialog: false,
    deletedPosterId: null,
    page: 1,
    size: 10,
    totalPages: 0,
    totalItems: 0,
    loading: false,
    data: [],
    headers: [
      {text: 'Фото', value: 'photo', sortable: false,},
      {text: 'Название', value: 'title', sortable: false},
      {text: 'Действия', value: 'actions', sortable: false, align: 'end'},
    ],
  }),
  methods: {
    init() {
      this.loading = true;
      const params = {page: this.page - 1, size: this.size};
      this.$http
          .get("/posters", {params})
          .then(r => {
            this.totalPages = r.data.totalPages;
            this.totalItems = r.data.totalElements;
            this.data = r.data.content;
            this.loading = false;
          })
          .catch(e => {
            this.loading = false;
          });
    },
    previewPoster(item) {
      // this.$router.push('/reports/edit/' + item.id)
    },
    openDeleteDialog(id) {
      this.deletedPosterId = id
      this.deleteDialog = true
    },
    deleteAdvertising() {
      this.$http.delete(`posters/${this.deletedPosterId}`)
          .then(r => {
            this.deleteDialog = false
            this.init()
          })
    },
    isCover(item) {
      console.log(item)
      const cover = item.files.find(el => el.isCover === true)
      return cover ? cover.file : ''
    },
  },
  created() {
    this.init()
  }
}
</script>


<style lang="scss">
.posters_block {
  .v-input__slot {
    background: #FFFFFF !important;
    border-radius: 8px !important;
  }
}

.report_logo {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.advertising_block {
  width: 350px;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n+4) {
    margin-top: 24px;
  }

}
</style>