<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="font-weight-medium black--text text-24">Языки</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/languages')" class="secondary--text cursor-pointer">Языки</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">Добавить язык</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 py-6 px-6" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn v-if="edit" class="py-6 px-6" color="primary"><span class="font-weight-mediumtext-14">Сохранить</span></v-btn>
            <v-btn @click="addLang" class="py-6 px-6" v-if="!edit" color="primary"><span class="font-weight-medium text-14">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0 pr-6" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column  create-wrapper">
                <span class="text-20 font-weight-medium black--text">Общая информация</span>
                <div class="mt-5 d-flex justify-space-between align-end">
                  <div style="width: 100%" class="d-flex flex-column">
                    <span style="color: #777980" class="grey--text mb-1">Выбор языка</span>
                    <v-autocomplete
                        :items="languages"
                        v-model="model"
                        placeholder="Выбрать"
                        outlined
                        dense
                        hide-details
                        item-text="name"
                        item-value="id"
                        return-object
                    >
                      <template #item="{ item, on, attrs }">
                        <v-list-item v-bind="attrs" v-on="on">
                          <v-list-item-content>
                            <v-list-item-title>
                              <div class="d-flex align-center">
                                <div class="mr-3">
                                  <v-img width="32" height="32" :src="item.icon"/>
                                </div>
                                <span style="color: #191B1C" class="text-14 mt-1">{{ item.name }}</span>
                              </div>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-autocomplete>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <div class="d-flex justify-space-between align-center">
                  <span class="text-18 black--text">Активировать</span>
                  <v-switch v-model="model.active" class="mt-0" inset hide-details/>
                </div>
                <span class="grey--text mt-4">Активируйте язык, если хотите сделать его основным</span>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Lang',
  data: () => ({
    edit: false,
    visible: false,
    visibleVerify: false,
    model: {
      active: false
    },
    languages: [
      {name: 'Русский', icon: '/static/images/flags/ru.svg'},
      {name: 'Кыргыский', icon: '/static/images/flags/kg.svg'},
      {name: 'Казахский', icon: '/static/images/flags/kz.svg'},
    ],
  }),
  methods: {
    addLang() {
      this.$http.post('/languages', this.model)
          .then(r => {
            this.$router.push('/languages')
          })
    }
  }
}
</script>


<style scoped lang="scss">
.create-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
}
</style>