<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-dialog max-width="440" v-model="deleteDialog">
        <v-card style="border-radius: 8px !important;">
          <v-card-text class="pa-8 d-flex flex-column justify-center align-center">
            <span class="font-weight-bold text-18 accent--text">Удалить язык</span>
            <span class="text-16 accent--text mt-4">Вы действительно хотите удалить {{ deletedLang }} язык?</span>
            <div class="mt-11">
              <v-btn @click="deleteDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                  class="text-14 font-normal accent--text">Отменить</span></v-btn>
              <v-btn @click="deleteLang" depressed color="primary"><span class="text-14 font-normal">Удалить</span>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text text-24 font-weight-medium">Языки</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">Языки</span>
            </div>
          </div>
          <v-btn @click="$router.push('/language/create')" class="py-6 px-6" depressed color="primary">
            <v-icon class="mr-4">mdi-plus</v-icon>
            <span class="font-weight-medium text-none">Добавить язык</span>
          </v-btn>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-6 d-flex flex-column justify-space-between">
          <v-data-table hide-default-footer :items="data" :headers="headers">
            <template v-slot:item.lang="{item}">
              <span>{{ item.name }}</span>
            </template>
            <template v-slot:item.active="{item}">
              <v-switch @change="updateLang(item)" class="mt-n2" hide-details inset v-model="item.active"/>
            </template>
            <template v-slot:item.actions="{item}">
              <div class="d-flex justify-center align-center">
                <heroicon @click="openDeleteDialog(item)" class="cursor-pointer" name="trash" fill="#A3A9B6"/>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="1"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    deleteDialog: false,
    deletedLang: '',
    deleteLangId: null,
    page: 1,
    data: [],
    headers: [
      {text: 'ID', value: 'id', sortable: false, align: 'start'},
      {text: 'Язык', value: 'name', sortable: false},
      {text: 'Активный', value: 'active', sortable: false, align: 'center'},
      {text: 'Действие', value: 'actions', sortable: false, align: 'center'},
    ]
  }),
  methods: {
    openDeleteDialog(item) {
      this.deletedLang = item.name
      this.deleteDialog = true
      this.deleteLangId = item.id
    },
    deleteLang() {
      this.$http.delete(`/languages/${this.deleteLangId}`)
          .then(r => {
            this.deleteDialog = false
            this.init()
          })
    },
    updateLang(item) {
      this.$http.put(`/languages/${item.id}/active?active=${item.active}`)
          .then(r => console.log(r.data))
    },
    init() {
      this.$http.get('/languages')
          .then(r => this.data = r.data)
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped>

</style>