<template>
  <v-row class="ma-0 role_create">
    <v-dialog max-width="440" v-model="saveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Сохранено</span>
          <div class="mt-8">
            <v-btn @click="saveDialog = false" style="width: 192px" class="py-6 px-10" depressed
                   color="black"><span
                class="text-14 font-weight-medium white--text">Закрыть</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Роли</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')"
                    class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/roles')" class="font-weight-medium grey--text cursor-pointer">Роли</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Добавить новую роль</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn @click="save" v-if="edit" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
            <v-btn :loading="loading" @click="addRole" v-if="!edit" color="primary"><span class="font-normal text-14">Добавить</span>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-text style="background: #FFFFFF;border-radius: 12px;overflow: hidden"
                     class="pa-6 mt-6 d-flex flex-column justify-space-between input-wrapper">
          <span class="text-18 font-normal accent--text">Общая информация</span>
          <div class="d-flex align-center justify-space-between mt-3">
            <div style="width: 100%" class="d-flex flex-column">
              <span style="color: #777980" class="font-weight-medium mb-1">Название роли</span>
              <v-text-field v-model="model.name" placeholder="Название" dense outlined hide-details/>
            </div>
            <!--            <div style="width: 100%" class="d-flex flex-column">-->
            <!--              <span style="color: #777980" class="font-weight-medium mb-1">Тип пользователя</span>-->
            <!--              <v-autocomplete-->
            <!--                  v-model="model.type"-->
            <!--                  :items="types"-->
            <!--                  placeholder="Выбрать"-->
            <!--                  outlined-->
            <!--                  dense-->
            <!--                  hide-details-->
            <!--                  item-text="description"-->
            <!--                  item-value="type"-->
            <!--              >-->
            <!--                <template #item="{ item, on, attrs }">-->
            <!--                  <v-list-item v-bind="attrs" v-on="on">-->
            <!--                    <v-list-item-content>-->
            <!--                      <v-list-item-title>{{ item.description }}</v-list-item-title>-->
            <!--                    </v-list-item-content>-->
            <!--                  </v-list-item>-->
            <!--                </template>-->
            <!--              </v-autocomplete>-->
            <!--            </div>-->
          </div>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-5 d-flex flex-column justify-space-between">
          <v-data-table
              :headers="headers"
              :items="permissions"
              :items-per-page="100"
              dense
              @input="selectAll"
              hide-default-footer
              item-key="id"
              style="width: 100%"
          >
            <template v-slot:item.view="{ item }">
              <v-checkbox v-model="item.view"></v-checkbox>
            </template>
            <template v-slot:item.edit="{ item }">
              <v-checkbox v-model="item.edit"></v-checkbox>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'CreateRole',
  data: () => ({
    saveDialog: false,
    types: [
      {type: 'ADMIN', description: 'Админ'},
      {type: 'USER', description: 'Пользователь'},
    ],
    selectedItems: [],
    permissions: [],
    allPermissions: [
      {id: 1, code: 'photographers', name: 'Фотографы'},
      {id: 2, code: 'role', name: 'Роли'},
      {id: 3, code: 'social_media', name: 'Контакты'},
      {id: 5, code: 'admins', name: 'Пользователи'},
      {id: 6, code: 'categories', name: 'Категории'},
      {id: 7, code: 'establishments', name: 'Заведения'},
      {id: 8, code: 'posts', name: 'Новости'},
      {id: 9, code: 'city_dict', name: 'Города'},
      {id: 10, code: 'country_dict', name: 'Страны'},
      {id: 11, code: 'language_dict', name: 'Языки'},
      {id: 12, code: 'posters', name: 'События'},
      {id: 13, code: 'albums', name: 'Репортажи'},
      {id: 14, code: 'video_reports', name: 'Видео отчеты'},
    ],
    permissionIdMap: {},
    edit: false,
    selected: [],
    model: {
      id: 0,
      description: '',
      type: 'ADMIN',
      permissions: [
        {
          code: 'info_view',
          id: 7,
          name: 'Просмотр информации о ресурсе'
        },
        {
          code: 'info_edit',
          id: 8,
          name: 'Редактирование информации о ресурсе'
        },
        {
          code: 'admins_block_unblock',
          id: 11,
          name: 'Блокировка и разблокировка админов'
        },
        {
          code: 'reportage_requests_view',
          id: 24,
          name: 'Просмотр заявок на сьемку'
        },
        {
          code: 'reportage_requests_edit',
          id: 25,
          name: 'Редактирование заявок на сьемку'
        },
      ],
    },
    data: {},
    headers: [
      // {text: 'Все', value: 'all', sortable: false, width: '6%'},
      {text: 'Функции', value: 'name', sortable: false, align: 'start', width: '20%'},
      {text: 'Редактирование', value: 'edit', sortable: false, width: '35%', align: 'center'},
      {text: 'Просмотр', value: 'view', sortable: false, align: 'center'},
    ],
    loading: false
  }),
  computed: {},
  methods: {
    init() {
      this.$http.get(`/authorities/roles/${this.$route.params.id}`)
          .then(response => {
            console.log(response.data)
            this.model = response.data;
            this.matchPermissions(response.data.permissions);
          });
    },
    matchPermissions(existingPermissions) {
      const permissionMap = existingPermissions.reduce((acc, permission) => {
        const baseCode = permission.code.replace(/_(view|edit)$/, '');
        if (!acc[baseCode]) {
          acc[baseCode] = {view: false, edit: false};
        }
        acc[baseCode].view = acc[baseCode].view || permission.code.endsWith('_view');
        acc[baseCode].edit = acc[baseCode].edit || permission.code.endsWith('_edit');
        return acc;
      }, {});

      this.permissions = this.allPermissions.map(permission => ({
        ...permission,
        view: permissionMap[permission.code]?.view || false,
        edit: permissionMap[permission.code]?.edit || false,
      }));
    },
    getPermissionsForServer() {
      const permissionIdMap = this.permissionIdMap;
      return this.permissions.flatMap(permission => {
        const perms = [];
        if (permission.view) {
          const viewCode = permission.code + '_view';
          const viewId = permissionIdMap[viewCode] || null;
          const viewName = `Просмотр ${this.getActionName(permission.code, 'view')}`;
          perms.push({id: viewId, code: viewCode, name: viewName});
        }
        if (permission.edit) {
          const editCode = permission.code + '_edit';
          const editId = permissionIdMap[editCode] || null;
          const editName = `Редактирование ${this.getActionName(permission.code, 'edit')}`;
          perms.push({id: editId, code: editCode, name: editName});
        }
        return perms;
      });
    },
    getActionName(baseCode, actionType) {
      const names = {
        photographers: 'фотографий',
        role: 'ролей',
        social_media: 'социальных сетей',
        info: 'информации',
        admins: 'администраторов',
        categories: 'категорий',
        establishments: 'учреждений',
        posts: 'постов',
        city_dict: 'городов',
        country_dict: 'стран',
        language_dict: 'языков',
        posters: 'постеров',
        albums: 'альбомов',
        video_reports: 'видео отчетов',
        reportage_requests: 'запросов на репортажи',
      };
      return names[baseCode] || baseCode;
    },
    save() {
      const permissions = this.getPermissionsForServer()
      this.model.permissions.push(...permissions)
      console.log(this.model)
      this.$http.put('/authorities/roles', this.model)
          .then(r => {
            this.saveDialog = true
            this.init();
          })
    },
    addRole() {
      this.loading = true
      const permissions = this.getPermissionsForServer()
      this.model.permissions.push(...permissions)
      this.$http.post('/authorities/roles', this.model)
          .then(r => {
            // this.init()
            this.$router.push('/roles')
            this.loading = false
          })
          .catch(e => this.loading = false)
    },
    selectAll() {
      const allSelected = this.permissions.every(p => p.view && p.edit);
      if (allSelected) {
        this.permissions.forEach(permission => {
          permission.view = false;
          permission.edit = false;
        });
      } else {
        this.permissions.forEach(permission => {
          permission.view = true;
          permission.edit = true;
        });
      }
    },
    setPermissions(permissionId, permissionType) {
      const permission = this.permissions.find(p => p.id === permissionId);
      if (permission) {
        if (permissionType === 'view') {
          permission.view = !permission.view;
        } else if (permissionType === 'edit') {
          permission.edit = !permission.edit;
        }
      }
    },
    getRoles() {
      this.$http.get('/authorities/roles')
          .then(r => {
            this.roles = r.data
          })
    },
    getPermissions() {
      this.$http.get('/authorities/permissions')
          .then(r => {
            console.log(r.data)
            this.createPermissionIdMap(r.data);
          });
    },
    createPermissionIdMap(permissions) {
      const map = {};
      permissions.forEach(permission => {
        map[permission.code] = permission.id;
      });
      this.permissionIdMap = map;
    },
    generateInitialPermissions() {
      return this.allPermissions.map(permission => ({
        id: null,
        code: permission.code,
        name: permission.name,
        view: false,
        edit: false
      }));
    },
    initNewRole() {
      this.permissions = this.generateInitialPermissions();
    },
    initEditRole() {
      this.init()
    },
  },
  created() {
    this.getPermissions()
    this.getRoles()
    if (this.$router.currentRoute.params.id) {
      this.edit = true;
      this.initEditRole();
    } else {
      this.initNewRole();
    }
  },
}
</script>


<style lang="scss">
.role_create {
  .input-wrapper {
    .v-input {
      background: #f9f9fc !important;
      border-radius: 8px;
    }
  }

  //.v-data-table-header {
  //  tr {
  //    th {
  //      &:nth-child(2) {
  //        span {
  //          margin-left: -45px !important;
  //        }
  //      }
  //    }
  //  }
  //}
}

</style>