<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-normal text-24">Роли</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon >
              <span class="font-weight-medium primary--text">Роли</span>
            </div>
          </div>
          <v-btn @click="$router.push('/roles/create')" class="pa-6" depressed color="primary">
            <v-icon class="mr-1">mdi-plus</v-icon>
            <span class="font-normal text-none">Добавить роль</span>
          </v-btn>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-6 d-flex flex-column justify-space-between">
          <v-data-table hide-default-footer :items="data" :headers="headers">
            <template v-slot:item.permissions="{item}">
              <span>Доступно {{ item.permissions.filter(permission => !['info_view', 'info_edit', 'admins_block_unblock', 'reportage_requests_view', 'reportage_requests_edit'].includes(permission.code)).length }} Функций</span>

            </template>
            <template v-slot:item.actions="{item}">
              <div class="d-flex justify-center align-center">
                <heroicon @click="$router.push('/roles/edit/' + item.id)" class="mr-3 cursor-pointer" name="pencil"
                          fill="#A3A9B6"/>
                <heroicon class="cursor-pointer mr-3" name="eye" fill="#A3A9B6"/>
                <heroicon @click="deleteRole(item.id)" class="cursor-pointer" name="trash" fill="#A3A9B6"/>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="1"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    page: 1,
    data: [],
    headers: [
      {text: 'ID', value: 'id', sortable: false, align: 'center', width: '6%'},
      {text: 'Название', value: 'name', sortable: false, align: 'start', width: '35%'},
      {text: 'Полномочии', value: 'permissions', sortable: false, width: '40%'},
      {text: 'Действие', value: 'actions', sortable: false, align: 'center'},
    ]
  }),
  methods: {
    init() {
      this.$http.get('/authorities/roles')
          .then(r => this.data = r.data)
    },
    deleteRole(id) {
      this.$http.delete(`/authorities/roles/${id}`)
          .then(r => {
            this.init()
          })
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped>

</style>