<template>
  <v-row class="ma-0 news_wrapper">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-8 d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Удалить новость</span>
          <span class="text-16 accent--text mt-4">Вы действительно хотите удалить ?</span>
          <div class="mt-11">
            <v-btn @click="deleteDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn depressed color="primary"><span class="text-14 font-normal">Удалить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="archiveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="py-8 px-16  d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Переместить  в архив</span>
          <span
              class="text-16 accent--text text-center mt-4">Действительно хотите переместить эту новость в архив?</span>
          <div class="mt-11">
            <v-btn @click="archiveDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn depressed color="primary"><span class="text-14 font-normal">Переместить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex flex-column">
          <div class="d-flex justify-space-between align-end">
            <div>
              <span class="black--text font-normal text-24">Новости</span>
              <div class="d-flex align-center mt-2">
                <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
                <v-icon class="mx-2">mdi-menu-right</v-icon>
                <span class="font-weight-medium primary--text">Новости</span>
              </div>
            </div>
            <v-btn @click="$router.push('/news/create')" class="pa-6" depressed color="primary">
              <v-icon class="mr-1">mdi-plus</v-icon>
              <span class="font-normal text-none">Добавить новость</span>
            </v-btn>
          </div>
          <div class="d-flex justify-space-between align-center mt-6 news_filter__wrapper">
            <div class="news_filter">
              <v-btn @click="filterTab(0)" :text="activeFilterTab !== 0" class="mr-1" depressed
                     color="primary"><span class="text-none font-weight-medium"
                                           :class="activeFilterTab !== 0 ? 'grey--text' : ''">Все новости</span>
              </v-btn>
              <v-btn @click="filterTab(1)" :text="activeFilterTab !== 1" depressed color="primary"><span
                  class="text-none font-weight-medium mr-1"
                  :class="activeFilterTab !== 1 ? 'grey--text' : ''">Топ новости</span></v-btn>
              <v-btn @click="filterTab(2)" :text="activeFilterTab !== 2" depressed color="primary"><span
                  class="text-none font-weight-medium"
                  :class="activeFilterTab !== 2 ? 'grey--text' : ''">Архив новостей</span></v-btn>
            </div>
            <div class="d-flex align-center">
              <v-text-field class="mr-4" style="width: 200px" placeholder="Поиск новостей" outlined hide-details dense
                            prepend-inner-icon="mdi-magnify">
              </v-text-field>
              <v-text-field placeholder="Выбрать дату" dense outlined hide-details type="date">
              </v-text-field>
            </div>
          </div>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-6 d-flex flex-column justify-space-between">
          <v-data-table :loading="loading" hide-default-footer :items-per-page="50" :items="data.content" :headers="headers">
            <template v-slot:item.photo="{item}">
              <div class="d-flex align-center">
                <div class="news_logo mr-2">
                  <v-img style="border-radius: 8px" width="100%" height="100%"
                         :src="'data:image/png;base64,' + item?.images[0]?.file"/>
                </div>
              </div>
            </template>
            <template v-slot:item.topNews="{item}">
              <v-switch @change="updateNews(item)" v-if="item.publicationStatus !== 'Приватный'" class="mt-n2"
                        hide-details inset
                        v-model="item.top"/>
            </template>
            <template v-slot:item.publicationStatus="{item}">
              <div
                  :class="(item.publicationStatus === 'Опубликован' && 'published') || (item.publicationStatus === 'Заархивирован' && 'archived') || (item.publicationStatus === 'Приватный' && 'private')">
                <span class="font-weight-medium text-14">{{ item.publicationStatus }}</span>
              </div>
            </template>
            <template v-slot:item.actions="{item}">
              <div class="d-flex align-center">
                <heroicon @click="$router.push('/news/edit/' + item.id)" class="mr-3 cursor-pointer" name="pencil"
                          fill="#A3A9B6"/>
                <heroicon @click="previewNews(item)" class="cursor-pointer mr-3" name="eye" fill="#A3A9B6"/>
                <heroicon @click="archiveDialog = true" class="cursor-pointer mr-3" name="archive" fill="#A3A9B6"/>
                <heroicon @click="deleteDialog = true" class="cursor-pointer" name="trash" fill="#A3A9B6"/>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination total-visible="5" prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="5"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import DatetimePicker from "@/components/DatetimePicker.vue";

export default {
  name: 'News',
  components: {DatetimePicker},
  data: () => ({
    loading: false,
    deleteDialog: false,
    archiveDialog: false,
    page: 1,
    activeFilterTab: 0,
    data: [
      // {
      //   id: 1,
      //   logo: '/static/images/estabTestLogo.svg',
      //   images: [
      //     {
      //       id: 1,
      //       name: '1',
      //       file: '/static/images/estab/1.png'
      //     },
      //     {
      //       id: 2,
      //       name: '1',
      //       file: '/static/images/estab/2.png'
      //     },
      //     {
      //       id: 3,
      //       name: '1',
      //       file: '/static/images/estab/3.png'
      //     },
      //     {
      //       id: 4,
      //       name: '1',
      //       file: '/static/images/estab/4.png'
      //     },
      //   ],
      //   name: 'До конца года ЕАБР ожидает ускорение',
      //   publicationDate: '16 окт 2023',
      //   publicationStatus: 'Опубликован',
      //   topReport: false,
      // },
    ],
    headers: [
      {text: 'Фото', value: 'photo', sortable: false,},
      {text: 'Название', value: 'title', sortable: false, width: '15%'},
      {text: 'Дата публикации', value: 'publicationDate', sortable: false,},
      {text: 'Статус публикации', value: 'publicationStatus', sortable: false,},
      {text: 'Топ новости', value: 'topNews', sortable: false, align: 'center'},
      {text: 'Действие', value: 'actions', sortable: false},
    ]
  }),
  methods: {
    filterTab(indx) {
      this.activeFilterTab = indx
    },
    previewNews(item) {
      this.$router.push('/news/preview/' + item.id)
    },
    init() {
      this.loading = true
      this.$http.get('/posts')
          .then(r => {
            this.data = r.data
            this.loading = false
          })
          .catch(e => {
            this.loading = false
          })
          .finally(() => this.loading = false)
    },
    updateNews(item) {
      this.$http.put(`/posts/${item.id}/top?top=${item.top}`,)
          .then(r => console.log(r.data))
    }
  },
  created() {
    this.init()
  }
}
</script>


<style lang="scss">
.news_wrapper {
  .news_filter__wrapper {
    .news_filter {
      background: #FFFFFF;
      border-radius: 8px;
      padding: 4px;
      border: 1px solid #E0E2E7;
    }

    .v-input__slot {
      background: #FFFFFF !important;
      border-radius: 8px !important;
    }
  }


  .news_logo {
    width: 64px;
    height: 64px;
    border-radius: 8px;
  }

  .published {
    width: 115px;
    background: #E9FAF7;
    color: #1A9882;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3;
    color: #667085;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 91px;
    background: #F33265;
    color: #FFFFFF;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }
}

</style>