<template>
  <v-row class="ma-0 create-report-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Новости</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')" class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/news')" class="font-weight-medium grey--text cursor-pointer">Новости</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="font-weight-medium primary--text">{{
                  edit ? 'Редактировать новость' : 'Добавить новость'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn @click="save" color="primary"><span
                class="font-normal text-14">{{ edit ? 'Сохранить' : 'Добавить' }}</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Заголовок</span>
                      <v-text-field v-model="model.title" placeholder="Название" dense outlined hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center mt-3 justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Краткое описание</span>
                      <v-textarea v-model="model.description" placeholder="Введите краткое описание" no-resize outlined
                                  hide-details/>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column mt-6">
                <span class="font-normal text-18 accent--text">Полное описание</span>
                <div class="mt-3">
                  <vue-editor v-model="model.text" :editorToolbar="customToolbar">
                  </vue-editor>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Фото</span>
                <div style="background: #FFFFFF;border-radius: 12px" class="mt-4">
                  <div style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                       class="pa-6 d-flex flex-column align-center text-center"
                       @dragover.prevent
                       @drop.prevent="handleDrop">
                    <div v-if="edit ? (!cover.fileUrl ? !isCover() : !cover.fileUrl) : !cover.fileUrl"
                         class="report_images__preview">
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex justify-center"
                         v-if="edit ? (!cover.fileUrl ? isCover() : cover.fileUrl) : cover.fileUrl">
                      <div style="border-radius: 16px" class="report_logo">
                        <v-img width="100%" height="100%" style="border-radius: 16px"
                               :src="edit ? (!cover.fileUrl ? isCover() : cover.fileUrl) : cover.fileUrl"/>
                      </div>
                    </div>
                    <span
                        class="text-14 secondary--text mt-4">Перетащите изображение сюда или нажмите «Добавить изображение»</span>
                    <input type="file" ref="coverInput" accept="image/*" style="display: none"
                           @change="handleCoverUpload">
                    <v-btn @click="triggerCoverInput" class="mt-4" depressed color="#EFEFEF"><span
                        class="text-14 font-normal primary--text text-none">Добавить изображение</span></v-btn>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <div class="mb-4">
                  <span class="font-normal text-18 accent--text mr-6">Настройки</span>
                </div>
                <div style="width: 100%" class="d-flex flex-column report_top">
                  <span style="color: #777980" class="font-weight-medium mb-1">Статус новости</span>
                  <v-autocomplete disabled :items="publicationStatus" v-model="model.publicationStatus" dense outlined
                                  hide-details>
                    <template v-slot:selection="{item,index}">
                      <div class="pa-0"
                           :class="(item === 'Опубликовано' && 'published') || (item === 'Заархивировано' && 'archived') || (item === 'Приватно' && 'private')">
                        <span class="font-weight-medium text-14">{{ item }}</span>
                      </div>
                    </template>
                  </v-autocomplete>
                </div>
                <div style="width: 100%" class="d-flex flex-column mt-3">
                  <span style="color: #777980" class="font-weight-medium mb-1">Дата публикации</span>
                  <v-text-field disabled v-model="model.publicationDate" type="date" dense outlined hide-details/>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <div class="mb-4">
                  <span class="font-normal text-18 accent--text mr-6">Выбор города</span>
                </div>
                <!--                <div style="width: 100%" class="d-flex flex-column">-->
                <!--                  <span style="color: #777980" class="font-weight-medium mb-1">Страна</span>-->
                <!--                  <v-autocomplete :items="countries" v-model="model.city" dense outlined hide-details/>-->
                <!--                </div>-->
                <div style="width: 100%" class="d-flex flex-column mt-3">
                  <span style="color: #777980" class="font-weight-medium mb-1">Город</span>
                  <v-autocomplete return-object item-text="nameRu" item-value="id" :items="cities" v-model="model.city"
                                  dense outlined hide-details/>
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <div class="d-flex align-center mb-4">
                  <span class="font-normal text-18 accent--text mr-6">Топ новость</span>
                  <v-switch v-model="model.top" class="mt-0" inset hide-details/>
                </div>
                <span
                    class="text-14 primary--text">При выборе Топ новость она окажутся на Глваной странице вебсайта</span>
              </div>
              <div @click="previewNews" style="background: #FFFFFF;border-radius: 12px;border: 1px solid #858D9D"
                   class="pa-3 mt-6 cursor-pointer">
                <div class="d-flex justify-center align-center">
                  <heroicon class="mb-n2" name="eye" fill="#A3A9B6"/>
                  <span class="text-14 secondary--text font-normal">Предпросмотр</span>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <!--        <v-dialog v-if="model.images.length > 0" style="position: relative !important;" class="pa-0 ma-0"-->
        <!--                  v-model="dialog" max-width="868px">-->
        <!--          <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">-->
        <!--            <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">-->
        <!--              <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">-->
        <!--                <v-icon large>mdi-menu-left</v-icon>-->
        <!--              </v-btn>-->
        <!--            </div>-->
        <!--            <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">-->
        <!--              <v-card-text class="pa-6">-->
        <!--                <v-img :src="model.images[currentImageIndex].data"></v-img>-->
        <!--              </v-card-text>-->
        <!--            </v-card>-->
        <!--            <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">-->
        <!--              <div class="d-flex justify-center align-center cursor-pointer"-->
        <!--                   style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -370px"-->
        <!--                   @click="dialog = false">-->
        <!--                <v-icon>mdi-close</v-icon>-->
        <!--              </div>-->
        <!--              <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">-->
        <!--                <v-icon large>mdi-menu-right</v-icon>-->
        <!--              </v-btn>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </v-dialog>-->
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {Quill, VueEditor} from "vue2-editor";
import {mapGetters} from "vuex";

function getFontName(font) {
  return font.toLowerCase().replace(/\s/g, "-");
}

const fontList = ['Qanelas'];
const fontNames = fontList.map(font => getFontName(font));
const fonts = Quill.import('formats/font');
fonts.whitelist = fontNames;
Quill.register(fonts, true);

let fontStyles = "";
fontList.forEach(function (font) {
  let fontName = getFontName(font);
  fontStyles += ".ql-snow .ql-picker.ql-font .ql-picker-label[data-value=" + fontName + "]::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=" + fontName + "]::before {" +
      "content: '" + font + "';" +
      "font-family: '" + font + "', sans-serif;" +
      "}" +
      ".ql-font-" + fontName + "{" +
      " font-family: '" + font + "', sans-serif;" +
      "}";
});

const node = document.createElement('style');
node.innerHTML = fontStyles;
document.body.appendChild(node);

export default {
  name: 'Create-News',
  components: {VueEditor},
  data: () => ({
    edit: false,
    typeImages: 'LIST',
    dialog: false,
    currentImageIndex: 0,
    cover: {
      fileUrl: '',
      file: '',
      dto: {
        source: "POST",
        fileType: "IMAGE",
        userId: 0,
        isCover: true,
        sourceName: "post",
        order: 0,
        isLogo: true
      }
    },
    model: {
      top: false,
      isActive: true,
      images: [],
    },
    publicationStatus: ["Опубликовано", "Заархивировано", "Приватно"],
    establishments: [],
    authors: [],
    countries: [],
    cities: [],
    customToolbar: [
      [{font: fonts.whitelist}],
      [
        {header: [false, 1, 2, 3, 4, 5, 6]}
      ],
      ['bold', 'italic', 'underline', 'strike'],
      [
        {align: ''},
        {align: 'center'},
        {align: 'right'},
      ],
      ['blockquote', 'code-block'],
      [
        {list: 'ordered'},
        {list: 'bullet'},
        {list: 'check'}
      ],
      [
        {indent: '-1'},
        {indent: '+1'}
      ],
      [
        {color: []},
        {background: []}
      ],
      ["link", "image", "video", "formula"],
      [{direction: "rtl"}],
      ["clean"],
    ],
  }),
  computed:{
    ...mapGetters(["domain"])
  },
  methods: {
    isCover() {
      const cover = this.model.images.find(el => el.isCover)
      return cover ? 'data:image/png;base64,' + cover.file : ''
    },
    handleCoverUpload(e) {
      const file = e.target.files[0];
      if (file) {
        this.cover.file = file
        const fileURL = URL.createObjectURL(file);
        this.cover.fileUrl = fileURL;
      }
    },
    triggerCoverInput() {
      if (this.edit) {
        this.model.images = []
      }
      this.$refs.coverInput.click();
    },
    previewNews() {
      this.$router.push({name: 'news-preview', params: {data: this.model}})
    },
    triggerFileInput() {
      this.$refs.fileInput.click();
    },
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        this.cover.file = file
        const fileURL = URL.createObjectURL(file);
        this.cover.fileUrl = fileURL;
      }
    },
    triggerLogoInput() {
      this.$refs.logoInput.click();
    },
    async handleLogoUpload(e) {
      const file = e.target.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.model.cover = base64;
      }
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(error);
        };
        reader.readAsDataURL(file);
      });
    },
    removeImage(index) {
      this.model.images.splice(index, 1);
    },
    openDialog(image) {
      this.currentImageIndex = this.model.images.findIndex(img => img.data === image);
      this.dialog = true;
    },
    nextImage() {
      if (this.currentImageIndex === this.model.images.length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = this.model.images.length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    async saveCover() {
      const formData = new FormData();
      formData.append('file', this.cover.file);

      const dtoBlob = new Blob([JSON.stringify(this.cover.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}posts/image/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json();
          this.model.images.push(jsonResponse);
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    saveContent() {
      this.$http.post('/posts', this.model)
          .then(r => this.$router.push('/news'))
    },
    updateContent() {
      this.$http.put('/posts', this.model)
          .then(r => this.$router.push('/news'))
    },
    async save() {
      if (this.edit) {
        await this.saveCover();
        this.updateContent();
      } else {
        await this.saveCover();
        this.saveContent();
      }
    },
    getCities() {
      this.$http.get('/cities')
          .then(r => this.cities = r.data)
    },
    init() {
      this.$http.get(`/posts/${this.$router.currentRoute.params.id}`)
          .then(r => this.model = r.data)
    },
  },
  created() {
    this.getCities()
    if (this.$router.currentRoute.params.id) {
      this.edit = true
      this.init()
    }
  }
}
</script>


<style lang="scss">

.create-report-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .report_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='%23f9f9fc' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .report_image {
    position: relative;
    margin-right: 16px;
  }

  .report_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
  }

  .report_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .report_top {
    .v-input {
      background: none !important;
    }
  }

  .report_logo {
    width: 540px;
    height: 300px;
    background: #E0E2E7;
    border-radius: 16px;
  }

  .published {
    width: 100px;
    background: #E9FAF7 !important;
    color: #1A9882 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3 !important;
    color: #667085 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 65px;
    background: #F33265 !important;
    color: #FFFFFF !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .report_images__icons_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .report_images__icons {
    margin-right: 16px;
    height: 70px;
    width: 250px;
    padding: 9px 5px 9px 15px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }

    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
      border-top: 1px solid #f2f2f2;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .ql-font {
    min-width: 110px !important;
    width: 100% !important;
  }

  .ql-picker-label {
    margin-right: 20px !important;
  }

  .quillWrapper {
    background: #f9f9fc !important;
    border-radius: 12px !important;
  }

  .ql-toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ql-container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

</style>