<template>
  <v-row class="ma-0 news_preview">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Новости</span>
            <div class="d-flex align-center">
              <span class="grey--text font-weight-medium">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium grey--text">Новости</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium grey--text">Топ новости</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Предпросмотр</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Назад</span></v-btn>
            <v-btn color="primary"><span class="font-normal text-14">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0">
          <div style="background: #FFFFFF;border-radius: 12px" class="pa-16 d-flex flex-column mt-6">
            <div>
              <div v-html="data.text"></div>
            </div>

            <div class="d-flex flex-column mt-16">
              <v-divider/>
              <div class="d-flex justify-space-between align-center mt-6">
                <div class="d-flex">
                  <div class="author_ava mr-3"></div>
                  <div class="d-flex flex-column">
                    <span class="text-16 primary--text font-normal">{{ data.author }}</span>
                    <span class="text-16 primary--text mt-2">15 апреля 2023 г. · Чтение: 4 минуты</span>
                  </div>
                </div>
                <div class="social_block d-flex align-center">
                  <div class="px-6 py-3 cursor-pointer social_block__item">
                    <v-img src="/static/images/social/instagram.svg"/>
                  </div>
                  <div class="px-6 py-3 cursor-pointer">
                    <v-img src="/static/images/social/telegram.svg"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'AllNews',
  data: () => ({
    data: {},
    edit: false
  }),
  methods: {
    init() {
      this.$http.get(`/posts/${this.$router.currentRoute.params.id}`)
          .then(r => this.data = r.data)
    }
  },
  created() {
    if (this.$router.currentRoute.params.data) {
      this.data = this.$router.currentRoute.params.data
    } else if (this.$router.currentRoute.params.id) {
      this.init()
    }
  }
}
</script>


<style lang="scss">
@import "~vue2-editor/dist/vue2-editor.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.news_preview {
  img {
    width: 100%;
  }

  .author_ava {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #D9D9D9;
  }

  .social_block {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);

    &__item {
      border-right: 1px solid #EAEAEA;

      &:last-child {
        border-right: 0;
      }
    }
  }

  p {
    margin-bottom: 4px !important;
  }

  h1 {
    margin-bottom: 20px !important;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }
}
</style>