<template>
  <v-row class="ma-0 create-acc-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Аккаунт</span>
            <div class="d-flex align-center">
              <span class="grey--text font-weight-medium">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Аккаунт</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn @click="saveSettings" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Имя</span>
                      <v-text-field v-model="model.firstName" placeholder="Имя" dense outlined hide-details/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Фамилия</span>
                      <v-text-field v-model="model.lastName" placeholder="Имя" dense outlined hide-details/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Email</span>
                      <v-text-field v-model="model.email" placeholder="Email" dense outlined hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between mt-3">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Номер телефона</span>
                      <v-text-field v-model="model.phone" placeholder="Номер телефона" dense outlined hide-details >
                      </v-text-field>
                    </div>
<!--                    <div style="width: 100%" class="d-flex flex-column mr-3">-->
<!--                      <span style="color: #777980" class="font-weight-medium mb-1">Страна</span>-->
<!--                      <v-text-field v-model="model.country" placeholder="Страна" dense outlined hide-details/>-->
<!--                    </div>-->
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Город</span>
                      <v-text-field v-model="model.city" placeholder="Город" dense outlined hide-details/>
                    </div>
                  </div>
                  <!--                  <div class="d-flex justify-end mt-4">-->
                  <!--                    <v-btn @click="save" depressed color="#EFEFEF">-->
                  <!--                      <span style="color: #5A5A5A" class="text-14 font-normal">Сохранить</span>-->
                  <!--                    </v-btn>-->
                  <!--                  </div>-->
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Изменить пароль</span>
                <div class="d-flex align-center justify-space-between mt-3">
                  <div style="width: 100%" class="d-flex flex-column mr-3">
                    <span style="color: #777980" class="font-weight-medium mb-1">Текущий пароль</span>
                    <v-text-field v-model="passwordModel.currentPassword" style="width: 100%" dense outlined
                                  hide-details/>
                  </div>
                  <div style="width:100%" class="d-flex flex-column mr-3">
                    <span style="color: #777980" class="font-weight-medium mb-1">Новый пароль*</span>
                    <v-text-field v-model="passwordModel.newPassword" style="width: 100%"
                                  dense outlined
                                  hide-details/>
                  </div>
                  <div style="width:100%" class="d-flex flex-column mr-3">
                    <span style="color: #777980" class="font-weight-medium mb-1">Подтвердите пароль</span>
                    <v-text-field v-model="passwordModel.repeatNewPassword" style="width: 100%"
                                  dense outlined
                                  hide-details/>
                  </div>
                </div>
                <!--                <div class="d-flex justify-end mt-4">-->
                <!--                  <v-btn @click="changePassword" depressed color="#EFEFEF">-->
                <!--                    <span style="color: #5A5A5A" class="text-14 font-normal text-none">Изменить пароль</span>-->
                <!--                  </v-btn>-->
                <!--                </div>-->
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <span class="font-normal text-18 accent--text">Фото профиля</span>
                <div @dragover.prevent
                     @drop.prevent="handleDrop" style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                     class="mt-3 pa-6 d-flex flex-column align-center text-center">
                  <div v-if="photo" class="acc_logo">
                    <v-img width="100%" height="100%" style="border-radius: 50%" :src="photo"/>
                  </div>
                  <div class="acc_logo d-flex justify-center align-center" v-if="!photo">
                    <div>
                      <v-img width="60" height="60" src="/static/images/nouser.svg"/>
                    </div>
                  </div>
                  <span
                      class="text-14 secondary--text mt-4">Перетащите изображение сюда или нажмите «Выбрать изображение»</span>
                  <input type="file" ref="logoInput" accept="image/*" style="display: none" @change="handleLogoUpload">
                  <v-btn @click="triggerPhotoInput" class="mt-4" depressed color="#EFEFEF"><span
                      class="text-14 font-normal primary--text text-none">{{
                      photo ? 'Изменить изображение' : 'Выбрать изображение'
                    }}</span>
                  </v-btn>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-dialog max-width="440" v-model="successDialog">
        <v-card style="border-radius: 8px !important;">
          <v-card-text class="pa-8 d-flex flex-column justify-center align-center">
            <span class="font-weight-bold text-24 accent--text">Данные успешно сохранены!</span>
            <div class="mt-11">
              <v-btn @click="successDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                  class="text-14 font-normal accent--text">ОК</span></v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog max-width="440" v-model="errorDialog">
        <v-card style="border-radius: 8px !important;">
          <v-card-text class="pa-8 d-flex flex-column justify-center align-center">
            <span class="font-weight-bold text-center text-24 accent--text">Произошла ошибка при сохранении в одном из полей в блоке {{
                error.text === 'info' ? 'Общая информация' : 'Изменить пароль'
              }}</span>
            <div class="mt-11">
              <v-btn @click="errorDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                  class="text-14 font-normal accent--text">ОК</span></v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'Users',
  data: () => ({
    edit: false,
    photo: null,
    model: {
      // photo: null
    },
    passwordModel: {},
    successDialog: false,
    errorDialog: false,
    error: {
      text: ''
    }
  }),
  computed: {
    ...mapGetters(["userId"])
  },
  methods: {
    ...mapActions(["updateUser"]),
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.photo = base64;
      }
    },
    triggerPhotoInput() {
      this.$refs.logoInput.click();
    },
    async handleLogoUpload(e) {
      const file = e.target.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.photo = base64;
      }
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(error);
        };
        reader.readAsDataURL(file);
      });
    },
    save() {
      if (!this.model.phone.startsWith('+996')) {
        this.model.phone = '+996' + this.model.phone;
      }
      this.$http.put('/users', this.model)
          .then(r => {
            this.updateUser()
            this.successDialog = true
          })
          .catch(e => {
            this.errorDialog = true
            this.error.text = 'info'
          })
    },
    changePassword() {
      this.$http.put('/users/password/change', this.passwordModel)
          .then(r => {
            this.updateUser()
            this.successDialog = true
            this.passwordModel = {}
          })
          .catch(e => {
            this.errorDialog = true
            this.error.text = 'password'
          })
    },
    init() {
      this.$http.get(`/users/${this.userId}`)
          .then(r => this.model = r.data)
    },
    saveSettings() {
      const {currentPassword, newPassword, repeatNewPassword} = this.passwordModel;
      const allFieldsEmpty = !currentPassword && !newPassword && !repeatNewPassword;
      const allFieldsFilled = currentPassword && newPassword && repeatNewPassword;

      if (allFieldsEmpty) {
        this.save();
      } else if (!allFieldsFilled) {
        this.errorDialog = true;
        this.error.text = 'password';
      } else {
        this.save();
        this.changePassword();
      }
    }
  },
  created() {
    this.$router.currentRoute.params.id ? this.edit = true : this.edit = false
    this.init()
  }
}
</script>


<style scoped lang="scss">
.create-acc-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .acc_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .acc_image {
    margin-right: 16px;
  }

  .acc_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .acc_top {
    .v-input {
      background: none !important;
      width: 70px !important;
    }

    .v-input__control {
      width: 20px !important;
    }
  }

  .acc_logo {
    width: 100px;
    height: 100px;
    background: #E0E2E7;
    border-radius: 50%;
  }
}
</style>