<template>
  <v-row class="ma-0 create-photo">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Фотографы</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')"
                    class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/photographers')" class="font-weight-medium grey--text cursor-pointer">Фотографы</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="font-weight-medium primary--text">{{
                  edit ? 'Редактировать фотографа' : 'Добавить фотографа'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn v-if="edit" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
            <v-btn @click="save" v-if="!edit" color="primary"><span class="font-normal text-14">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0 pr-6" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">ФИО</span>
                      <v-text-field v-model="model.fullName" placeholder="ФИО" dense outlined hide-details/>
                    </div>
                    <!--                    <div style="width: 100%" class="d-flex flex-column mr-3">-->
                    <!--                      <span style="color: #777980" class="font-weight-medium mb-1">Номер телефона</span>-->
                    <!--                      <v-text-field v-model="model.phone" dense outlined hide-details>-->
                    <!--                        <template v-slot:prepend-inner>-->
                    <!--                          <span class="text-14 secondary&#45;&#45;text">+996</span>-->
                    <!--                        </template>-->
                    <!--                      </v-text-field>-->
                    <!--                    </div>-->
                  </div>
                </div>
              </div>
            </v-col>
            <v-col cols="3" class="pa-0">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <span class="font-normal text-18 accent--text">Фото профиля</span>
                <div @dragover.prevent
                     @drop.prevent="handleDrop" style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                     class="mt-3 pa-6 d-flex flex-column align-center text-center">
                  <div v-if="photo" class="photo_ava">
                    <v-img width="100%" height="100%" style="border-radius: 50%" :src="photo"/>
                  </div>
                  <div class="photo_ava d-flex justify-center align-center" v-if="!photo">
                    <div>
                      <v-img width="60" height="60" src="/static/images/nouser.svg"/>
                    </div>
                  </div>
                  <span
                      class="text-14 secondary--text mt-4">Перетащите изображение сюда или нажмите «Выбрать изображение»</span>
                  <input type="file" ref="logoInput" accept="image/*" style="display: none" @change="handleLogoUpload">
                  <v-btn @click="triggerPhotoInput" class="mt-4" depressed color="#EFEFEF"><span
                      class="text-14 font-normal primary--text text-none">{{
                      photo ? 'Изменить изображение' : 'Выбрать изображение'
                    }}</span>
                  </v-btn>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    edit: false,
    photo: null,
    visible: false,
    visibleVerify: false,
    model: {},
    roles: [
      {text: 'Администратор', value: 'admin'},
      {text: 'Пользователь', value: 'user'},
    ],
    selectedItems: [],
    countries: [
      {name: 'kyrgyzstan', description: 'Кыргызстан'}
    ],
    cities: [
      {name: 'bishkek', description: 'Бишкек'}
    ]
  }),
  methods: {
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.photo = base64;
      }
    },
    triggerPhotoInput() {
      this.$refs.logoInput.click();
    },
    async handleLogoUpload(e) {
      const file = e.target.files[0];
      if (file) {
        const base64 = await this.convertFileToBase64(file);
        this.photo = base64;
      }
    },
    save() {
      this.$http.post('/photographers', {fullName: this.model.fullName, phone: this.model.phone})
          .then(r => {
            this.$router.push('/photographers')
          })
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(error);
        };
        reader.readAsDataURL(file);
      });
    },
    init() {
      this.$http.get(`/photographers/${this.$router.currentRoute.params.id}`)
          .then(r => this.model = r.data)
    }
  },
  created() {
    if (this.$router.currentRoute.params.id) {
      this.edit = true
      this.init()
    }
  }
}
</script>


<style scoped lang="scss">
.create-photo {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
  .photo_ava {
    width: 100px;
    height: 100px;
    background: #E0E2E7;
    border-radius: 50%;
  }
}
</style>