<template>
  <v-row class="ma-0 photographer_preview">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Фотографы</span>
            <div class="d-flex align-center">
              <span class="grey--text font-weight-medium">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium grey--text">Фотографы</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">{{
                  data?.photographer.firstName
                }} {{ data?.photographer.lastName }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Удалить</span></v-btn>
            <v-btn v-if="edit" color="primary"><span class="font-normal text-14">Удалить</span></v-btn>
            <v-btn v-if="!edit" color="primary"><span class="font-normal text-14">Редактровать</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0">
          <v-row class="pa-0 ma-0 mt-6">
            <v-col class="pa-0" cols="4">
              <div style="background: #FFFFFF;border-radius: 12px">
                <v-card elevation="0" color="transparent">
                  <v-card-text class="pa-6">
                    <div class="d-flex flex-column">
                      <div class="d-flex align-center">
                        <div class="photographer_ava mr-2">
                          <heroicon name="photographer" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text mb-1">Фотограф</span>
                          <span
                              class="text-14 font-weight-medium accent--text">{{
                              data?.photographer.firstName
                            }} {{ data?.photographer.lastName }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-center mt-4">
                        <div class="photographer_ava mr-2">
                          <heroicon class="mr-n2 mb-n1" name="mobilephone" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text mb-1">Номер телефона</span>
                          <span
                              class="text-14 font-weight-medium accent--text">
                            {{ data?.photographer.phone }}</span>
                        </div>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="8">
              <v-card color="transparent" elevation="0">
                <v-card-text class="pa-0 d-flex flex-column">
                  <div class="photographer_filter">
                    <v-btn class="mr-1" @click="filterTab({index:0,name:'Репортажи'})"
                           :text="activeFilterTab.index !== 0"
                           max-width="120" depressed
                           color="primary"><span
                        class="text-none font-weight-medium"
                        :class="activeFilterTab.index !== 0 ? 'grey--text' : ''">Репортажи</span></v-btn>

                    <v-btn @click="filterTab({index:1,name:'Видео'})" :text="activeFilterTab.index !== 1"
                           max-width="120" depressed
                           color="primary"><span
                        class="text-none font-weight-medium"
                        :class="activeFilterTab.index !== 1 ? 'grey--text' : ''">Видео</span></v-btn>
                  </div>
                  <div style="background: #FFFFFF;border-radius: 12px" class="mt-6 d-flex flex-column">
                    <v-card v-if="activeFilterTab.index === 0" elevation="0" color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="accent--text font-normal text-24">Репортажи</span>
                        </div>
                        <div class="d-flex align-center">
                          <heroicon class="mr-1 mb-n1" name="picture" fill="#667085"/>
                          <span class="text-20 font-weight-medium grey--text">{{ data?.reports.length }}</span>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                            <div class="photographer_preview__report" v-for="report in data?.reports">
                              <div
                                  style="position: relative; width: 334px; height: 218px; border-radius: 12px; overflow: hidden;">
                                <v-img :src="report.file ? report.file : '/static/images/noreport.svg'"></v-img>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="activeFilterTab.index === 1" elevation="0" color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="accent--text font-normal text-24">Видео</span>
                        </div>
                        <div class="d-flex align-center">
                          <heroicon class="mr-2" name="video" fill="#667085"/>
                          <span class="text-20 font-weight-medium grey--text">{{ data?.videos.length }}</span>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                            <div class="photographer_preview__report" v-for="video in data?.videos">
                              <div
                                  style="position: relative; width: 334px; height: 218px; border-radius: 12px; overflow: hidden;">
                                <div v-if="video.file">
                                  <div class="video-block">
                                    <v-img :src="video.cover"/>
                                    <div @click="openDialog(video.id)" class="video-play">
                                      <v-img src="/static/images/player.svg"/>
                                    </div>
                                  </div>
                                </div>
                                <v-img v-else src="/static/images/noreport.svg"></v-img>
                              </div>
                              <div class="d-flex flex-column mt-3">
                                <span class="mb-1 text-14 font-weight-medium primary--text">{{ video.name }}</span>
                                <span class="text-14 font-weight-medium grey--text">{{ video.date }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-dialog style="position: relative !important;" class="pa-0 ma-0" v-model="dialog" max-width="868px">
        <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">
          <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">
            <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">
              <v-icon large>mdi-menu-left</v-icon>
            </v-btn>
          </div>
          <v-card class="video-dialog" width="748" style="border-radius: 8px;overflow: hidden" elevation="0"
                  color="white">
            <v-card-text class="pa-6">
              <video-player id="my-video" :file="data?.videos[currentVideoIndex].file"/>
            </v-card-text>
          </v-card>
          <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">
            <div class="d-flex justify-center align-center cursor-pointer"
                 style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -250px"
                 @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </div>
            <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">
              <v-icon large>mdi-menu-right</v-icon>
            </v-btn>
          </div>
        </div>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayer.vue";

export default {
  name: 'Photographer',
  components: {VideoPlayer},
  data: () => ({
    dialog: false,
    currentVideoIndex: 0,
    page: 1,
    videoOptions: {
      autoplay: false,
      liveui: true,
      controls: true,
      sources: [
        {
          src: '',
          type: 'video/mp4'
        }
      ],
      poster: "",
    },
    activeFilterTab: {
      index: 0,
      name: 'Фотографии'
    },
    data: {
      videos: [
        {
          id: 1,
          file: '/static/videos/restaurant.mp4',
          name: 'ШАНСОН / НАМ 14 ЛЕТ',
          date: '02 Апреля 2023',
          cover: '/static/images/estab/1.png'
        },
        {
          id: 2,
          file: '/static/videos/restaurant2.mp4',
          name: 'ШАНСОН / НАМ 14 ЛЕТ',
          date: '02 Апреля 2023',
          cover: '/static/images/estab/2.png'
        },
      ],
      reports: [
        {
          id: 1,
          file: '/static/images/estab/1.png'
        }
      ],
      photographer: {
        firstName: 'Самат',
        lastName: 'Жолдошов',
        ava: '',
        phone: '+996 501 544 407'
      }
    },
    edit: false
  }),
  methods: {
    filterTab(item) {
      this.activeFilterTab = item
    },
    openDialog(item) {
      this.currentVideoIndex = this.data.videos.findIndex(video => video.id === item);
      console.log(this.currentVideoIndex)
      this.dialog = true;
    },
    nextImage() {
      if (this.currentVideoIndex === this.data.videos.length - 1) {
        this.currentVideoIndex = 0;
      } else {
        this.currentVideoIndex++;
      }
    },
    previousImage() {
      if (this.currentVideoIndex === 0) {
        this.currentVideoIndex = this.data.videos.length - 1;
      } else {
        this.currentVideoIndex--;
      }
    }
  },
  created() {
    // this.data = this.$router.currentRoute.params.item
  }
}
</script>


<style lang="scss">
.photographer_preview {
  .photographer_filter {
    background: #FFFFFF;
    border-radius: 8px;
    width: 190px;
    padding: 4px;
    border: 1px solid #E0E2E7;
  }

  .photographer_ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F0F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-right: 20px;
  }

  &__image:nth-child(n+4) {
    margin-top: 24px;
  }

  &__image:nth-child(3n) {
    margin-right: 0;
  }

  &__report {
    margin-right: 20px;
  }

  &__report:nth-child(n+3) {
    margin-top: 24px;
  }

  &__report:nth-child(2n) {
    margin-right: 0;
  }

  .image_hover {
    background-color: red !important;
    z-index: 9999;
  }

  .video-js {
    position: relative;
    width: 334px !important;
    height: 218px !important;
    border-radius: 16px !important;
    overflow: hidden;
  }

  .video-block {
    position: relative;
  }

  .video-play {
    position: absolute;
    top: 25%;
    left: 40%;
    color: white;
    cursor: pointer;
  }
}

.video-dialog {
  .video-js {
    position: relative;
    width: 700px !important;
    height: 460px !important;
    border-radius: 16px !important;
    overflow: hidden;
  }
}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
</style>