<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-normal text-24">Фотографы</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Фотографы</span>
            </div>
          </div>
          <v-btn @click="$router.push('/photographers/create')" class="pa-6" depressed color="primary">
            <v-icon class="mr-1">mdi-plus</v-icon>
            <span class="font-normal text-none">Добавить фотографа</span>
          </v-btn>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-6 d-flex flex-column justify-space-between">
          <v-data-table hide-default-footer :items="data" :headers="headers">
<!--            <template v-slot:item.reports="{item}">-->
<!--              <span>{{ item.reports.length }}</span>-->
<!--            </template>-->
<!--            <template v-slot:item.videos="{item}">-->
<!--              <span>{{ item.videos.length }}</span>-->
<!--            </template>-->
            <template v-slot:item.actions="{item}">
              <div class="d-flex justify-center align-center">
                <heroicon @click="$router.push('/photographer/edit/' + item.id)" class="mr-3 cursor-pointer"
                          name="pencil"
                          fill="#A3A9B6"/>
                <heroicon @click="$router.push('/photographer/' + item.id)" class="cursor-pointer mr-3" name="eye"
                          fill="#A3A9B6"/>
                <heroicon @click="deletePhotograph(item.id)" class="cursor-pointer" name="trash" fill="#A3A9B6"/>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="1"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    page: 1,
    data: [
      // {
      //   id: 1,
      //   firstName: 'Самат',
      //   lastName: 'Жолдошов',
      //   phone: '+996 777 555 444',
      //   reports: [
      //     {
      //       id: 1,
      //       image: '/static/images/estab/1.png'
      //     }
      //   ],
      //   videos: [
      //     {
      //       id: 1,
      //       image: '/static/images/estab/2.png'
      //     }
      //   ],
      // },
    ],
    headers: [
      {text: 'ID', value: 'id', sortable: false, align: 'center', width: '6%'},
      {text: 'ФИО', value: 'fullName', sortable: false},
      {text: 'Номер телефона', value: 'phone', sortable: false},
      {text: 'Репортажей', value: 'reports', sortable: false},
      {text: 'Видео', value: 'videos', sortable: false},
      {text: 'Действие', value: 'actions', sortable: false, align: 'center'},
    ]
  }),
  methods: {
    init() {
      this.$http.get('/photographers')
          .then(r => this.data = r.data)
    },
    deletePhotograph(id) {
      this.$http.delete(`/photographers/${id}`)
          .then(r => {
            this.init()
          })
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped>

</style>