<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.svg">
  <link href="https://fonts.cdnfonts.com/css/qanelas" rel="stylesheet">
</head>
<style>
    #toolbar-container .ql-font span[data-label="Qanelas"]::before {font-family: "Qanelas";}
    .ql-font-qanelas {font-family: "Qanelas";}
</style>

<body>
<div id="app"></div>
</body>
</html>