<template>
  <v-row class="ma-0 contacts">
    <v-dialog max-width="433" v-model="contactsDialog">
      <v-card style="border-radius: 8px !important;" class="contacts">
        <v-card-text class="pa-6">
          <span class="text-18 font-normal accent--text">Контакты</span>
          <div class="mt-6">
            <div style="width: 100%" class="d-flex flex-column">
              <span style="color: #777980" class="font-weight-medium mb-1">Номер телефона</span>
              <v-text-field v-model="model.phone" dense outlined hide-details>
              </v-text-field>
            </div>
            <div style="width: 100%" class="d-flex flex-column mt-4">
              <span style="color: #777980" class="font-weight-medium mb-1">Email</span>
              <v-text-field v-model="model.email" dense outlined hide-details>
              </v-text-field>
            </div>
            <div style="width: 100%" class="d-flex flex-column mt-4">
              <span style="color: #777980" class="font-weight-medium mb-1">Адрес</span>
              <v-text-field v-model="model.address" dense outlined hide-details>
              </v-text-field>
            </div>
          </div>
          <div class="mt-6 d-flex justify-end">
            <v-btn outlined @click="closeContactsDialog" color="secondary" class="mr-4" style="color: #858D9D"
                   depressed><span
                class="text-14 font-normal">Отменить</span></v-btn>
            <v-btn v-if="contactsStatus === 'NONE'" @click="addContacts" depressed color="primary"><span
                class="text-14 font-normal">Сохранить</span></v-btn>
            <v-btn v-if="contactsStatus === 'THERE'" @click="updateContacts" depressed color="primary"><span
                class="text-14 font-normal">Сохранить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="433" v-model="socialDialog">
      <v-card style="border-radius: 8px !important;" class="contacts">
        <v-card-text class="pa-6">
          <span class="text-18 font-normal accent--text">Социальные сети</span>
          <div class="mt-6">
            <div style="width: 100%" class="d-flex flex-column">
              <span style="color: #777980" class="font-weight-medium mb-1">WhatsApp</span>
              <v-text-field v-model="whatsapp.link" dense outlined hide-details>
              </v-text-field>
            </div>
            <div style="width: 100%" class="d-flex flex-column mt-4">
              <span style="color: #777980" class="font-weight-medium mb-1">Telegram</span>
              <v-text-field v-model="telegram.link" dense outlined hide-details>
              </v-text-field>
            </div>
            <div style="width: 100%" class="d-flex flex-column mt-4">
              <span style="color: #777980" class="font-weight-medium mb-1">Youtube</span>
              <v-text-field v-model="youtube.link" dense outlined hide-details>
              </v-text-field>
            </div>
            <div style="width: 100%" class="d-flex flex-column mt-4">
              <span style="color: #777980" class="font-weight-medium mb-1">Instagram</span>
              <v-text-field v-model="instagram.link" dense outlined hide-details>
              </v-text-field>
            </div>
          </div>
          <div class="mt-6 d-flex justify-end">
            <v-btn outlined @click="closeSocialDialog" color="secondary" class="mr-4" style="color: #858D9D"
                   depressed><span
                class="text-14 font-normal">Отменить</span></v-btn>
            <v-btn v-if="socialStatus === 'NONE'" @click="addSocial" depressed color="primary"><span
                class="text-14 font-normal">Сохранить</span></v-btn>
            <v-btn v-if="socialStatus === 'THERE'" @click="updateSocial" depressed color="primary"><span
                class="text-14 font-normal">Сохранить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Контакты</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')" class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Контакты</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
            <span class="font-normal text-18 accent--text">Контакты</span>
            <div class="d-flex align-center mt-4">
              <div v-if="model.phone" class="d-flex align-center mr-11">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <v-img src="/static/images/contacts/phone.svg"/>
                </div>
                <span class="text-14 primary--text">{{ model.phone }}</span>
              </div>
              <div v-if="model.email" class="d-flex align-center mr-11">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <v-img src="/static/images/contacts/mail.svg"/>
                </div>
                <span class="text-14 primary--text">{{ model.email }}</span>
              </div>
              <div v-if="model.address" class="d-flex align-center mr-11">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <v-img src="/static/images/contacts/address.svg"/>
                </div>
                <span class="text-14 primary--text">{{ model.address }}</span>
              </div>
            </div>
            <div class="d-flex justify-end mt-4">
              <v-btn @click="contactsDialog = true" depressed color="#EFEFEF">
                <span style="color: #5A5A5A"
                      class="font-normal">{{ contactsStatus === 'NONE' ? 'Добавить' : 'Изменить' }}</span>
              </v-btn>
            </div>
          </div>
          <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column mt-6">
            <span class="font-normal text-18 accent--text">Социальные сети</span>
            <div class="d-flex align-center mt-4">
              <div v-if="youtube.link" class="d-flex align-center mr-8">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <a :href="youtube.link" target="_blank" rel="noreferrer">
                    <v-img src="/static/images/social/youtube.svg"/>
                  </a>
                </div>
              </div>
              <div v-if="instagram.link" class="d-flex align-center mr-8">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <a :href="instagram.link" target="_blank" rel="noreferrer">
                    <v-img src="/static/images/social/instagram.svg"/>
                  </a>
                </div>
              </div>
              <div v-if="telegram.link" class="d-flex align-center mr-8">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <a :href="telegram.link" target="_blank" rel="noreferrer">
                    <v-img src="/static/images/social/telegram.svg"/>
                  </a>
                </div>
              </div>
              <div v-if="whatsapp.link" class="d-flex align-center mr-8">
                <div style="width: 32px;height: 32px" class="mr-2">
                  <a :href="whatsapp.link" target="_blank" rel="noreferrer">
                    <v-img src="/static/images/social/whatsapp.svg"/>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-end mt-4">
              <v-btn @click="socialDialog = true" depressed color="#EFEFEF">
                <span style="color: #5A5A5A" class="font-normal">{{
                    socialStatus === 'NONE' ? 'Добавить' : 'Изменить'
                  }}</span>
              </v-btn>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    contactsDialog: false,
    socialDialog: false,
    contactsStatus: '',
    socialStatus: '',
    contacts: {},
    model: {
      phone: '',
      email: '',
      address: ''
    },
    youtube: {
      code: 'youtube',
      link: ''
    },
    instagram: {
      code: 'instagram',
      link: ''
    },
    telegram: {
      code: 'telegram',
      link: ''
    },
    whatsapp: {
      code: 'whatsapp',
      link: ''
    },
  }),
  methods: {
    addContacts() {
      this.$http.post('/info', this.model)
          .then(r => {
            this.contactsDialog = false
            this.init()
          })
    },
    closeContactsDialog() {
      this.contactsDialog = false
      this.init()
    },
    updateContacts() {
      this.$http.put('/info', this.model)
          .then(r => {
            this.contactsDialog = false
            this.init()
          })
    },
   async addSocial() {
    await this.$http.post('/social-medias', this.youtube)
          .then(r => {
          })
     await this.$http.post('/social-medias', this.telegram)
          .then(r => {
          })
     await this.$http.post('/social-medias', this.instagram)
          .then(r => {
          })
      this.$http.post('/social-medias', this.whatsapp)
          .then(r => {
            this.socialDialog = false
          })
    },
    closeSocialDialog() {
      this.socialDialog = false
      this.init()
    },
    updateSocial() {
      this.$http.put('/social-medias', this.social)
          .then(r => {
            this.socialDialog = false
            this.init()
          })
    },
    getContacts() {
      this.$http.get('/info')
          .then(r => {
            if (!r.data.length) {
              this.contactsStatus = 'NONE'
              this.model = {}
            } else {
              this.model = r.data[0]
              this.contactsStatus = 'THERE'
            }
          })
    },
    getSocial() {
      this.$http.get('/social-medias')
          .then(r => {
            console.log(r.data)
            if (!r.data.length) {
              this.socialStatus = 'NONE'
              this.social = {}
            } else {
              this.socialStatus = 'THERE'
              this.youtube.link = '';
              this.instagram.link = '';
              this.telegram.link = '';
              this.whatsapp.link = '';

              r.data.forEach(socialMedia => {
                switch (socialMedia.code) {
                  case 'youtube':
                    this.youtube.link = socialMedia.link;
                    break;
                  case 'instagram':
                    this.instagram.link = socialMedia.link;
                    break;
                  case 'telegram':
                    this.telegram.link = socialMedia.link;
                    break;
                  case 'whatsapp':
                    this.whatsapp.link = socialMedia.link;
                    break;
                }
              });
            }
          })
    },
    init() {
      this.getContacts()
      this.getSocial()
    }
  },
  created() {
    this.init()
  }
}
</script>


<style lang="scss">
.contacts {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
}
</style>