<template>
  <v-row class="ma-0 create-report-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Видео</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/videos')" class="secondary--text cursor-pointer">Видео</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="font-weight-medium primary--text">{{
                  edit ? 'Редактировать видео' : 'Добавить видео'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 py-6 px-6" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn :disabled="!currentForm" class="py-6 px-6" @click="save" color="primary"><span class="font-normal text-14">{{
                edit ? 'Сохранить' : 'Добавить'
              }}</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-weight-medium black--text text-20">Общая информация</span>
                <div class="mt-5 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="text-14 secondary--text mb-1">Заголовок</span>
                      <v-text-field :rules="[$rule.required]" v-model="model.title" placeholder="Введите название заголовока . ." dense outlined
                                    hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center mt-4 justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-4">
                      <div class="d-flex justify-space-between align-center">
                        <span style="color: #777980" class="text-14 grey--text mb-1">Заведение</span>
                        <v-icon color="#858D9D">mdi-information</v-icon>
                      </div>
                      <v-autocomplete :rules="[$rule.required]" :items="establishments" v-model="model.establishmentDto"
                                      placeholder="Выберите заведение"
                                      dense outlined hide-details
                                      return-object
                                      clearable
                                      item-text="name"
                      />
                    </div>
                    <!--                    <div style="width: 100%" class="d-flex flex-column mr-3">-->
                    <!--                      <span style="color: #777980" class="font-weight-medium mb-1">Автор видео новый</span>-->
                    <!--                      <v-text-field v-model="model.photographer"-->
                    <!--                                    placeholder="Имя автора"-->
                    <!--                                    dense outlined hide-details/>-->
                    <!--                    </div>-->
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="text-14 grey--text mb-1">Дата</span>
                      <v-text-field :rules="[$rule.required]" v-model="model.reportDate" type="date" dense outlined
                                    hide-details/>
                    </div>
                  </div>
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Обложка видео</span>
                <div style="background: #FFFFFF;border-radius: 12px" class="mt-5">
                  <div style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                       class="pa-6 d-flex flex-column align-center text-center"
                       @dragover.prevent
                       @drop.prevent="handleDrop">
                    <div v-if="edit ? !model.coverImage.file :  !cover.file" class="report_images__preview">
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex justify-center" v-if="edit ? model.coverImage : cover.file">
                      <div style="border-radius: 16px" class="report_logo">
                        <v-img width="100%" height="100%" style="border-radius: 16px"
                               :src="edit ? (cover.fileUrl ? cover.fileUrl : 'data:image/png;base64,' + model.coverImage.file) : cover.fileUrl"/>
                      </div>
                    </div>
                    <span
                        class="text-14 secondary--text mt-5">Перетащите изображение сюда или нажмите <br> «Выбрать обложку»</span>
                    <input type="file" ref="logoInput" accept="image/*" style="display: none"
                           @change="handleCoverUpload">
                    <v-btn @click="triggerCoverInput" outlined color="secondary" class="mt-5 py-6 px-12" depressed><span
                        class="text-14 secondary--text text-none">Выбрать обложку</span></v-btn>
                  </div>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Видео</span>
                <div style="background: #FFFFFF;border-radius: 12px" class="mt-5">
                  <div style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                       class="pa-6 d-flex flex-column align-center text-center">
                    <div v-if="edit ? !model.file.name : !video.file" class="report_images__preview">
                      <heroicon name="video" fill="#FFFFFF"/>
                    </div>
                    <div v-if="edit ? model.file.name : video.file" style="width: 100%" class="d-flex justify-center">
                      <div style="border-radius: 16px" class="report_logo">
                        <video-player id="my-video" :file="video.fileUrl"/>
                      </div>
                    </div>
                    <span
                        class="text-14 secondary--text mt-4">Загрузите видео</span>
                    <input type="file" ref="videoInput" accept="video/*" style="display: none"
                           @change="handleVideoUpload">
                    <v-btn @click="triggerVideoInput"outlined color="secondary" class="mt-5 py-6 px-12" depressed><span
                        class="text-14 secondary--text text-none">Добавить видео</span></v-btn>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mb-6 top_block">
                <div class="d-flex align-center justify-space-between mb-4">
                  <span class="text-18 neutral--text">Топ видео</span>
                  <v-switch v-model="model.top" class="mt-0" inset hide-details/>
                </div>
                <span
                    class="text-14 grey--text">Топ видео окажутся на главной странице вебсайта</span>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <div class="mb-4">
                  <span class="text-18 black--text">Настройки</span>
                </div>
                <div style="width: 100%" class="d-flex flex-column ">
                  <span style="color: #777980" class="grey--text mb-1">Статус репортажа</span>
                  <v-select :rules="[$rule.required]" :items="publicationStatus" item-value="value" item-text="name" v-model="model.status" dense
                            outlined
                            hide-details>
                    <template v-slot:selection="{item,index}">
                      <div class="pa-0">
                        <span
                            :class="(item.name === 'Опубликовано' && 'published') || (item.name === 'Заархивировано' && 'archived') || (item.name === 'Приватно' && 'private')"
                            class="font-weight-medium text-14">{{ item.name }}</span>
                      </div>
                    </template>
                  </v-select>
                </div>
<!--                <div style="width: 100%" class="d-flex flex-column mt-4">-->
<!--                  <span style="color: #777980" class="grey&#45;&#45;text mb-1">Дата публикации</span>-->
<!--                  <v-text-field @input="formatDatePublish" type="date" dense outlined-->
<!--                                hide-details/>-->
<!--                </div>-->
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <span class="text-18 black--text">Просмотры и Фотографы</span>
                <div class="mt-4">
                  <span style="color: #777980" class="grey--text">Выбрать фотографа</span>
                  <v-autocomplete :rules="[$rule.required]" class="mt-1" item-value="id" item-text="fullName"
                                  :items="authors"
                                  v-model="selectedAuthor"
                                  placeholder="Фотограф" return-object dense outlined
                                  hide-details @change="handleAuthorChange"/>
                </div>
<!--                <div class="mt-4">-->
<!--                  <span style="color: #777980" class="grey&#45;&#45;text">Cтартовые просмотры</span>-->
<!--                  <v-text-field class="mt-1" outlined dense hide-details v-model="model.views"-->
<!--                  >-->
<!--                    <template v-slot:append>-->
<!--                      <v-icon color="#A3A9B6">-->
<!--                        mdi-eye-->
<!--                      </v-icon>-->
<!--                    </template>-->
<!--                  </v-text-field>-->
<!--                </div>-->
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <div class="mb-4">
                  <span class="text-18 black--text">Выбор города</span>
                </div>
                <!--                <div style="width: 100%" class="d-flex flex-column">-->
                <!--                  <span style="color: #777980" class="font-weight-medium mb-1">Страна</span>-->
                <!--                  <v-autocomplete :items="countries" v-model="model.country" dense return-object outlined hide-details/>-->
                <!--                </div>-->
                <div style="width: 100%" class="d-flex flex-column mt-3">
                  <span style="color: #777980" class="grey--text mb-1">Город</span>
                  <v-autocomplete :rules="[$rule.required]" :items="cities" v-model="model.city" item-value="id" item-text="nameRu" dense outlined
                                  hide-details return-object/>
                </div>
              </div>

              <div v-if="!commentActive" @click="commentActive = true"
                   class="d-flex align-center justify-center text-center py-3 px-10 mt-6 comment_block cursor-pointer">
                <span class="text-14 secondary--text">Добавить комментарий</span>
              </div>
              <template v-if="commentActive">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                  <span class="text-18 black--text">Комментарий</span>
                  <div class="mt-4">
                    <v-textarea v-model="model.comment" outlined no-resize hide-details
                                placeholder="Оставьте комментарий"/>
                  </div>
                </div>
                <v-btn @click="deleteComment" class="py-5 px-13 mt-5" outlined color="secondary">
                  <span class="secondary--text text-none">Удалить комментарий</span>
                </v-btn>
              </template>

            </v-col>
          </v-row>
        </v-card-text>
        <!--        <v-dialog v-if="model.images.length > 0" style="position: relative !important;" class="pa-0 ma-0"-->
        <!--                  v-model="dialog" max-width="868px">-->
        <!--          <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">-->
        <!--            <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">-->
        <!--              <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">-->
        <!--                <v-icon large>mdi-menu-left</v-icon>-->
        <!--              </v-btn>-->
        <!--            </div>-->
        <!--            <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">-->
        <!--              <v-card-text class="pa-6">-->
        <!--                <v-img :src="model.images[currentImageIndex].data"></v-img>-->
        <!--              </v-card-text>-->
        <!--            </v-card>-->
        <!--            <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">-->
        <!--              <div class="d-flex justify-center align-center cursor-pointer"-->
        <!--                   style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -370px"-->
        <!--                   @click="dialog = false">-->
        <!--                <v-icon>mdi-close</v-icon>-->
        <!--              </div>-->
        <!--              <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">-->
        <!--                <v-icon large>mdi-menu-right</v-icon>-->
        <!--              </v-btn>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </v-dialog>-->
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayer.vue";
import videojs from 'video.js';
import {mapGetters} from "vuex";

export default {
  name: 'Users',
  components: {VideoPlayer},
  data: () => ({
    commentActive: false,
    selectedPhotographer: null,
    streamVideo: '',
    edit: false,
    typeImages: 'LIST',
    dialog: false,
    currentImageIndex: 0,
    video: {
      file: '',
      fileUrl: '',
      dto: {
        source: "VIDEO_REPORT",
        fileType: "VIDEO",
        isCover: false,
        sourceName: "video",
        order: 0,
        isLogo: false,

      }
    },
    cover: {
      file: null,
      fileUrl: '',
      dto: {
        source: "VIDEO_REPORT",
        fileType: "IMAGE",
        isCover: true,
        sourceName: "video",
        order: 0,
        isLogo: false
      }
    },
    photographers: [],
    model: {
      isActive: true,
      coverImage: '',
      file: '',
      isHidden: false,
      reportDate: '',
      establishmentDto: {},
      photographers: [],
    },
    publicationStatus: [
      {
        name: 'Опубликовано',
        value: 'PUBLISHED'
      },
      {
        name: 'Заархивировано',
        value: 'ARCHIVED'
      },
      {
        name: 'Приватно',
        value: 'PRIVATE'
      },
    ],
    establishments: [],
    countries: [],
    cities: [],
    videoOptions: {
      autoplay: false,
      liveui: true,
      controls: true,
      sources: [
        {
          src: '',
          type: 'video/mp4'
        }
      ],
      poster: "",
    },
    authors: [],
    selectedAuthor: null
  }),
  computed: {
    ...mapGetters(["domain"]),
    currentForm() {
      return (
          this.model.title &&
          this.model.establishmentDto &&
          this.model.reportDate &&
          this.model.status &&
          this.model.city
      );
    },
  },
  methods: {
    getAuthors() {
      this.$http.get('/photographers')
          .then(r => this.authors = r.data)
    },
    handleAuthorChange() {
      if (this.selectedAuthor) {
        this.model.photographers.push({...this.selectedAuthor});
      }
    },
    formatDate() {
      if (this.model.reportDate) {
        const dateObject = new Date(this.model.reportDate);
        const formattedDate = `${dateObject.getDate().toString().padStart(2, '0')}-${(dateObject.getMonth() + 1).toString().padStart(2, '0')}-${dateObject.getFullYear()}`;
        this.model.reportDate = formattedDate;
        console.log(this.model.reportDate)
      }
    },
    deleteComment() {
      this.commentActive = false
      this.model.comment = ''
    },
    handlePhotoChange() {
      if (this.selectedPhotographer) {
        this.model.photographers.push({...this.selectedPhotographer});
      }
    },
    formatDatePublish() {
      // if (this.model.reportDate) {
      //   const dateObject = new Date(this.model.reportDate);
      //   const formattedDate = `${dateObject.getDate().toString().padStart(2, '0')}-${(dateObject.getMonth() + 1).toString().padStart(2, '0')}-${dateObject.getFullYear()}`;
      //   this.model.reportDate = formattedDate;
      // }
    },
    triggerCoverInput() {
      this.$refs.logoInput.click();
    },
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        this.cover.file = file
        const coverUrl = URL.createObjectURL(file);
        this.cover.fileUrl = coverUrl
      }
    },
    triggerFileInput() {
      this.$refs.fileInput.click();
    },
    handleVideoUpload(event) {
      const file = event.target.files[0];
      console.log(file);
      if (file) {
        this.video.file = file
        const videoUrl = URL.createObjectURL(file);
        this.video.fileUrl = videoUrl
      }
    },
    triggerVideoInput() {
      this.$refs.videoInput.click();
    },
    async handleCoverUpload(e) {
      const file = e.target.files[0];
      if (file) {
        this.cover.file = file
        const coverUrl = URL.createObjectURL(file);
        this.cover.fileUrl = coverUrl
      }
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(new Error("Ошибка чтения файла: ", error));
        };
        reader.readAsDataURL(file);
      });
    },
    removeImage(index) {
      this.model.images.splice(index, 1);
    },
    openDialog(image) {
      this.currentImageIndex = this.model.images.findIndex(img => img.data === image);
      this.dialog = true;
    },
    nextImage() {
      if (this.currentImageIndex === this.model.images.length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = this.model.images.length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    async saveCover() {
      const formData = new FormData();

      if (this.edit && !this.cover.file) {
        const coverBlob = new Blob([JSON.stringify(this.model.coverImage)], {type: 'application/json'});

        const coverFile = new File([coverBlob], 'cover.json', {type: 'application/json'});

        formData.append('file', coverFile);
      } else if (this.edit && this.cover.file) {
        formData.append('file', this.cover.file);
      } else if (this.cover.file) {
        formData.append('file', this.cover.file);
      }

      const dtoBlob = new Blob([JSON.stringify(this.cover.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}files/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        });

        if (response.ok) {
          const jsonResponse = await response.json();
          this.model.coverImage = jsonResponse;
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    async saveVideo() {
      console.log(this.video)
      const formData = new FormData();
      formData.append('file', this.video.file);

      const dtoBlob = new Blob([JSON.stringify(this.video.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}files/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json();
          this.model.file = jsonResponse;
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    saveContent() {
      this.formatDate()
      this.$http.post('/reports/video', this.model)
          .then(r => {
            this.$router.push('/videos')
          })
    },
    updateContent() {
      if (this.isValidDateFormat(this.model.reportDate)) {
        this.$http.post('/reports/video', this.model)
            .then(r => {
              this.$router.push('/videos')
            });
      } else {
        const formattedDate = this.formatNormalDate(this.model.reportDate);

        this.$http.post('/reports/video', {...this.model, reportDate: formattedDate})
            .then(r => {
              this.$router.push('/videos')
            });
      }
    },
    isValidDateFormat(dateString) {
      const regex = /^\d{2}-\d{2}-\d{4}$/;
      return regex.test(dateString);
    },
    formatNormalDate(dateString) {
      const parts = dateString.split('-');
      if (parts.length === 3) {
        return `${parts[2]}-${parts[1]}-${parts[0]}`;
      }
      return dateString;
    },
    init() {
      this.$http.get('/establishments/short')
          .then(r => this.establishments = r.data)
      this.$http.get('/cities')
          .then(r => this.cities = r.data)
    },
    getData(id) {
      this.$http.get(`/reports/video/${id}`)
          .then(r => {
            this.model = r.data
            this.stream(id)
            this.selectedPhotographer = this.model.photographers[0];
            if (this.model.reportDate) {
              if (this.isServerFormat(this.model.reportDate)) {
                this.model.reportDate = this.parseEditedDate(this.model.reportDate);
              }
            }
          })
    },
    stream(id) {
      this.$mediaHttp.get(`/reports/video/stream/${id}`, {responseType: 'arraybuffer'})
          .then(r => {
            const videoUrl = URL.createObjectURL(new Blob([r.data], {type: 'video/mp4'}));
            this.$set(this.video, 'fileUrl', videoUrl);
            console.log(this.video.fileUrl)
          })
    },
    async save() {
      if (this.edit) {
        await this.saveCover()
        await this.saveVideo()
        this.updateContent()
      } else {
        await this.saveCover()
        await this.saveVideo()
        this.saveContent()
      }
    },
    parseEditedDate(dateString) {
      const parts = dateString.split('-');
      return `${parts[2]}-${parts[1]}-${parts[0]}`;
    },
    isServerFormat(dateString) {
      return dateString.includes('-');
    },
  },
  created() {
    this.init()
    this.getAuthors()
    if (this.$router.currentRoute.params.id) {
      this.edit = true
      this.getData(this.$router.currentRoute.params.id)
    }
  }
}
</script>


<style lang="scss">
.create-report-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .report_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='%23f9f9fc' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .report_image {
    position: relative;
    margin-right: 16px;
  }

  .report_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
  }

  .report_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .video_top {
    .v-input {
      background: none !important;
    }
  }

  .report_logo {
    width: 728px;
    height: 420px;
    background: #E0E2E7;
    border-radius: 16px;
    overflow: hidden;
  }

  .published {
    width: 100px;
    background: #12B54033 !important;
    color: #12B540 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3 !important;
    color: #495057 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 65px;
    background: #FE252E33 !important;
    color: #FE252E !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .report_images__icons_wrapper {
    width: 100%;
    column-count: 3;
    column-gap: 20px;
  }

  .report_images__icons {
    height: 60px;
    break-inside: avoid;
    padding: 9px 15px;
    background: #FFFFFF;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
.video-js {
  position: relative;
  width: 728px !important;
  height: 420px !important;
  border-radius: 16px !important;
  overflow: hidden;
}
.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.comment_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23818C99' stroke-width='1' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.top_block {
  .v-input {
    background: none !important;
  }
}
</style>