<template>
  <v-row class="ma-0 videos_wrapper">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-8 d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Удалить репортаж</span>
          <span class="text-16 accent--text mt-4">Вы действительно хотите удалить репортаж?</span>
          <div class="mt-11">
            <v-btn @click="deleteDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn @click="deleteVideo" depressed color="primary"><span class="text-14 font-normal">Удалить</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="archiveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="py-8 px-16  d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Переместить  в архив</span>
          <span class="text-16 accent--text text-center mt-4">Действительно хотите переместить репортаж в архив?</span>
          <div class="mt-11">
            <v-btn @click="archiveDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn depressed color="primary"><span class="text-14 font-normal">Переместить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex flex-column">
          <div class="d-flex justify-space-between align-end">
            <div>
              <span class="black--text font-weight-medium text-24">Видео</span>
              <div class="d-flex align-center mt-2">
                <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span class="black--text">Видео</span>
              </div>
            </div>
            <v-btn @click="$router.push('/video/create')" class="py-6 px-6" depressed color="primary">
              <v-icon class="mr-4">mdi-plus</v-icon>
              <span class="font-weight-medium text-none text-14 white--text">Добавить видео</span>
            </v-btn>
          </div>
          <div class="d-flex justify-space-between align-center mt-6 video_filter__wrapper">
            <div class="video_filter">
              <v-btn @click="filterTab(0)" :text="activeFilterTab !== 0" class="mr-1" depressed
                     color="primary"><span class="text-none font-weight-medium"
                                           :class="activeFilterTab !== 0 ? 'grey--text' : ''">Все видео</span>
              </v-btn>
              <v-btn @click="filterTab(1)" :text="activeFilterTab !== 1" depressed color="primary"><span
                  class="text-none font-weight-medium mr-1"
                  :class="activeFilterTab !== 1 ? 'grey--text' : ''">Топ видео</span></v-btn>
              <v-btn @click="filterTab(2)" :text="activeFilterTab !== 2" depressed color="primary"><span
                  class="text-none font-weight-medium"
                  :class="activeFilterTab !== 2 ? 'grey--text' : ''">Архив видео</span></v-btn>
            </div>
            <div class="d-flex align-center">
              <v-text-field class="mr-4" style="width: 200px" placeholder="Поиск Репортажа. . ." outlined hide-details
                            dense
                            prepend-inner-icon="mdi-magnify">
              </v-text-field>
              <v-text-field placeholder="Выбрать дату" dense outlined hide-details type="date">
              </v-text-field>
            </div>
          </div>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-5 d-flex flex-column justify-space-between">
          <v-data-table :loading="loading" hide-default-footer :items="data" :headers="headers">
            <template v-slot:item.photo="{item}">
              <div class="d-flex align-center">
                <div class="report_logo mr-2">
                  <v-img width="100%" height="100%" style="border-radius: 8px;position: relative"
                         :src="'data:image/png;base64,' + item.coverImage.file">
                    <div style="position: absolute;width: 100%;height: 100%;background: #00000066;z-index: 98"></div>
                    <div style="position: absolute;width: 100%; height: 100%;z-index: 99"
                         class="d-flex justify-center align-center">
                      <span class="white--text text-14 font-weight-bold">{{
                          item.files?.length > 100 ? '100+' : item.files?.length
                        }}</span>
                    </div>
                  </v-img>
                </div>
              </div>
            </template>
            <template v-slot:item.photo="{item}">
              <div class="d-flex align-center">
                <div class="video_logo mr-2">
                  <v-img width="100%" height="100%" style="border-radius: 8px;position: relative"
                         :src="'data:image/png;base64,' + item.coverImage.file">
                    <div style="position: absolute;width: 100%;height: 100%;background: #00000066;z-index: 98"></div>
                    <div style="position: absolute;width: 100%; height: 100%;z-index: 99"
                         class="d-flex justify-center align-center">
                      <span class="white--text text-14 font-weight-bold">{{
                          item.file.length > 100 ? '100+' : item.file.length
                        }}</span>
                    </div>
                  </v-img>
                </div>
              </div>
            </template>
            <template v-slot:item.topVideo="{item}">
              <v-switch @change="switchTop(item)" v-if="item.status !== 'PRIVATE'" class="mt-n2" hide-details inset
                        v-model="item.top"/>
            </template>
            <template v-slot:item.status="{item}">
              <span
                  :class="(item.status === 'PUBLISHED' && 'published') || (item.name === 'ARCHIVED' && 'archived') || (item.name === 'PROVATE' && 'private')">{{
                  (item.status === 'PRIVATE' && 'Приватно') || (item.status === 'ARCHIVED' && 'Заархивировано') || (item.status === 'PUBLISHED' && 'Опубликовано')
                }}</span>
            </template>
            <template v-slot:item.actions="{item}">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      :outlined="attrs['aria-expanded'] === 'false'"
                      :color="attrs['aria-expanded'] === 'true' ? 'black' : 'secondary'"
                      v-bind="attrs"
                      v-on="on"
                      class="pl-3 pr-0"
                  >
                    <span :style="{ color: attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99' }">Действия</span>
                    <heroicon class="mb-n5 ml-2" :name="attrs['aria-expanded'] === 'true' ? 'menuUp' : 'menuDown'"
                              :fill="attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99'"/>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="$router.push('/video/edit/' + item.id)" class="d-flex align-center cursor-pointer">
                        <heroicon class="mr-3 mb-n2"
                                  name="pencil"
                                  fill="#A3A9B6"/>
                        <span>Редактировать</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="$router.push('/video/preview/' + item.id)"
                           class="d-flex align-center cursor-pointer">
                        <heroicon class="mr-3 mb-n2" name="eye" fill="#A3A9B6"/>
                        <span>Просмотр</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                  >
                    <v-list-item-title>
                      <div @click="openDeleteVideoDialog(item.id)" class="d-flex align-center cursor-pointer">
                        <heroicon class="mr-3 mb-n2" name="trash" fill="#A3A9B6"/>
                        <span>Удалить</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination total-visible="5" prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="1"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import DatetimePicker from "@/components/DatetimePicker.vue";

export default {
  name: 'Users',
  components: {DatetimePicker},
  data: () => ({
    deleteDialog: false,
    archiveDialog: false,
    page: 1,
    deletedVideoId: null,
    activeFilterTab: 0,
    loading: false,
    data: [],
    headers: [
      {text: 'Фото', value: 'photo', sortable: false,},
      {text: 'Название репортажа', value: 'title', sortable: false, width: '20%'},
      {text: 'Заведение', value: 'establishmentDto.name', sortable: false,},
      {text: 'Дата публикации', value: 'reportDate', sortable: false,},
      {text: 'Статус публикации', value: 'status', sortable: false,},
      {text: 'Топ репортажи', value: 'topVideo', sortable: false, align: 'center'},
      {text: 'Действие', value: 'actions', sortable: false},
    ]
  }),
  methods: {
    checkAndUpdateSwitch(item) {
      let trueTopIndexes = [];
      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i].top) {
          trueTopIndexes.push(i);
        }
      }

      if (trueTopIndexes.length >= 3) {
        let indexToSwitchOff = trueTopIndexes[trueTopIndexes.length - 2]; // Index of the penultimate item
        if (this.data[indexToSwitchOff] !== item) {
          this.data[indexToSwitchOff].top = false;
          this.$http.put(`reports/video/${this.data[indexToSwitchOff].id}/top?top=false`)
              .then(response => {
                console.log("Penultimate item with top set to true has been turned off successfully.");
                this.init();
              })
              .catch(error => {
                console.error("Error updating penultimate item with top set to true:", error);
              });
        }
      }
    },
    switchTop(item) {
      this.$http.put(`reports/video/${item.id}/top?top=${item.top}`)
          .then(r => {
            this.checkAndUpdateSwitch(item);
            this.init();
          })
          .catch(error => {
            console.error("Error updating switch:", error);
          });
    },
    filterTab(indx) {
      this.activeFilterTab = indx
    },
    init() {
      this.loading = true;
      this.$http.get('/reports/video')
          .then(r => {
            this.data = r.data.content;
            this.loading = false;
            let topItems = this.data.filter(item => item.top);
            if (topItems.length >= 3) {
              for (let i = 3; i < topItems.length; i++) {
                topItems[i].top = false;
                this.$http.put(`reports/video/${topItems[i].id}/top?top=false`)
                    .then(response => {
                      console.log(`Item with id ${topItems[i].id} has been turned off.`);
                    })
                    .catch(error => {
                      console.error(`Error updating item with id ${topItems[i].id}:`, error);
                    });
              }
            }
          })
          .catch(e => {
            this.loading = false;
          });
    },
    openDeleteVideoDialog(id) {
      this.deleteDialog = true
      this.deletedVideoId = id
    },
    deleteVideo() {
      this.$http.delete(`/reports/video/${this.deletedVideoId}`)
          .then(r => {
            this.deleteDialog = false
            this.init()
          })
    },
  },
  created() {
    this.init()
  }
}
</script>


<style lang="scss">
.videos_wrapper {
  .video_filter__wrapper {
    .video_filter {
      background: #FFFFFF;
      border-radius: 8px;
      padding: 4px;
      border: 1px solid #E0E2E7;
    }

    .v-input__slot {
      background: #FFFFFF !important;
      border-radius: 8px !important;
    }
  }


  .video_logo {
    width: 64px;
    height: 64px;
    border-radius: 8px;
  }

  .published {
    width: 106px;
    background: #E9FAF7;
    color: #1A9882;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3;
    color: #667085;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 91px;
    background: #F33265;
    color: #FFFFFF;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .published {
    width: 100px;
    background: #12B54033 !important;
    color: #12B540 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3 !important;
    color: #495057 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 65px;
    background: #FE252E33 !important;
    color: #FE252E !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }
}

</style>