<template>
  <v-row class="ma-0 video_preview">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">Видео</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="grey--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/videos')" class="grey--text cursor-pointer">Видео</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">{{ model?.title }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="deleteVideo(model.id)" class="mr-4 py-6 px-5" color="grey"
                   outlined><span
                class="font-weight-medium text-14 secondary--text">Удалить</span></v-btn>
<!--            <v-btn v-if="edit" class="py-6 px-5" color="primary"><span class="font-normal text-14">Удалить</span></v-btn>-->
            <v-btn @click="$router.push('/video/edit/' + model.id)" class="py-6 px-5" color="primary"><span class="font-weight-medium text-14">Редактровать</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0">
          <v-row class="pa-0 ma-0 mt-6">
            <v-col class="pa-0" cols="4">
              <div style="background: #FFFFFF;border-radius: 12px">
                <v-card elevation="0" color="transparent">
                  <v-card-text class="pa-6">
                    <div v-if="model.coverImage" style="width: 312px;height: 300px;border-radius: 8px;overflow: hidden">
                      <v-img height="100%" width="100%" :src="'data:image/png;base64,' + model.coverImage.file"/>
                    </div>
                    <div class="d-flex flex-column mt-4">
                      <span class="text-24 font-weight-bold primary--text">{{ model.title }}</span>
                      <span class="text-16 font-weight-medium mt-2">{{ model.reportDate }}</span>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="8">
              <v-card color="transparent" elevation="0">
                <v-card-text class="pa-0 d-flex flex-column">
                  <div style="background: #FFFFFF;border-radius: 12px" class="d-flex flex-column">
                    <v-card style="border-radius: 12px" elevation="0"
                            color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <span class="black--text font-weight-medium text-20">Видео</span>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                           <template v-if="model.videoUrl">
                             <video-player :file="model.videoUrl" id="my-video" :options="videoOptions"/>
                           </template>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
<!--      <v-dialog style="position: relative !important;" class="pa-0 ma-0" v-model="dialog" max-width="868px">-->
<!--        <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">-->
<!--          <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">-->
<!--            <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">-->
<!--              <v-icon large>mdi-menu-left</v-icon>-->
<!--            </v-btn>-->
<!--          </div>-->
<!--          <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">-->
<!--            <v-card-text class="pa-6">-->
<!--              <v-img :src="model.images[currentImageIndex].file"></v-img>-->
<!--            </v-card-text>-->
<!--          </v-card>-->
<!--          <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">-->
<!--            <div class="d-flex justify-center align-center cursor-pointer"-->
<!--                 style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -370px"-->
<!--                 @click="dialog = false">-->
<!--              <v-icon>mdi-close</v-icon>-->
<!--            </div>-->
<!--            <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">-->
<!--              <v-icon large>mdi-menu-right</v-icon>-->
<!--            </v-btn>-->
<!--          </div>-->
<!--        </div>-->
<!--      </v-dialog>-->
    </v-col>
  </v-row>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayer.vue";
import videojs from 'video.js';

export default {
  name: 'Users',
  components: {VideoPlayer},
  data: () => ({
    dialog: false,
    currentImageIndex: 0,
    page: 1,
    activeFilterTab: {
      index: 0,
      name: 'Фотографии'
    },
    model: {},
    edit: false,
    videoOptions: {
      autoplay: false,
      liveui: true,
      controls: true,
      sources: [
        {
          src: '',
          type: 'video/mp4'
        }
      ],
      poster: "",
    }
  }),
  watch: {
    'model.id': {
      handler(newId, oldId) {
        this.streamVideo(newId);
      },
      immediate: true,
    },
  },
  methods: {
    deleteVideo(id) {
      this.$http.delete(`/reports/video/${id}`)
          .then(r => {
            this.$router.push('/videos')
          })
    },
    streamVideo(id) {
      this.$mediaHttp.get(`/reports/video/stream/${id}`, { responseType: 'arraybuffer' })
          .then(response => {
            const videoUrl = URL.createObjectURL(new Blob([response.data], { type: 'video/mp4' }));
            this.$set(this.model, 'videoUrl', videoUrl);
            console.log(this.model)
          })
          .catch(error => console.error(error));
    },
    filterTab(item) {
      this.activeFilterTab = item
    },
    openDialog(image) {
      this.currentImageIndex = this.model.images.findIndex(img => img.file === image);
      this.dialog = true;
    },
    nextImage() {
      if (this.currentImageIndex === this.model.images.length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = this.model.images.length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    init() {
      this.$http.get(`/reports/video/${this.$router.currentRoute.params.id}`)
          .then(r => {
            this.model = r.data
          })
    }
  },
  created() {
    if(this.$router.currentRoute.params.id) {
      this.init()
    }
  }
}
</script>


<style lang="scss">
.video_preview {
  .video_filter {
    background: #FFFFFF;
    border-radius: 8px;
    width: 305px;
    padding: 4px;
    border: 1px solid #E0E2E7;
  }

  .video_logo {
    position: absolute;
    bottom: -50px;
    width: 148px;
    height: 148px;
    background: #E0E2E7;
    border-radius: 50%;
  }

  .video_info {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #F0F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-right: 20px;
  }

  &__image:nth-child(n+4) {
    margin-top: 24px;
  }

  &__image:nth-child(3n) {
    margin-right: 0;
  }

  &__report {
    margin-right: 20px;
  }

  &__report:nth-child(n+3) {
    margin-top: 24px;
  }

  &__report:nth-child(2n) {
    margin-right: 0;
  }

  .image_hover {
    background-color: red !important;
    z-index: 9999;
  }

  .video-js {
    position: relative;
    width: 696px !important;
    height: 464px !important;
    border-radius: 16px !important;
    overflow: hidden;
  }
}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
</style>