<template>
  <v-row class="ma-0 create-report-wrapper">
    <v-dialog max-width="440" v-model="createdDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Репортаж успешно создан</span>
          <span class="text-16 accent--text mt-3">Репортаж {{ model.name }} готов</span>
          <div class="mt-8">
            <v-btn style="width: 192px" @click="$router.push('/report/' + id)" class="mr-4 py-6 px-10" outlined
                   depressed
                   color="secondary"><span
                class="text-14 font-weight-medium secondary--text text-none">Перейти к репортажу</span></v-btn>
            <v-btn style="width: 192px" @click="$router.push('/reports')" class="py-6 px-10" depressed
                   color="black"><span
                class="text-14 font-weight-medium white--text">Понятно</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">Репортажи</span>
            <div class="d-flex align-center mt-3">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/reports')" class="secondary--text cursor-pointer">Репортажи</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="black--text">{{
                  edit ? 'Редактировать репортаж' : 'Добавить репортаж'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 pa-6"
                   color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn :loading="loading" :disabled="!currentForm" class="pa-6" @click="save" color="primary"><span
                class="font-normal text-14">{{ edit ? 'Сохранить' : 'Добавить' }}</span></v-btn>
          </div>
        </v-card-text>
        <template v-if="loading">
          <v-card-text class="d-flex align-center justify-center mt-120">
            <div>
              <v-img width="250" class="circle_block" src="/static/images/logo.svg"/>
            </div>
          </v-card-text>
        </template>
        <v-card-text v-show="!loading" class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Общая информация</span>
                <div class="mt-5 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column">
                      <span class="secondary--text mb-1">Заголовок</span>
                      <v-text-field :rules="[$rule.required]" v-model="model.name"
                                    placeholder="Введите название заголовока . ." dense outlined
                                    hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center mt-4 justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <div class="d-flex justify-space-between align-center">
                        <span style="color: #777980" class="secondary--text mb-1">Заведение</span>
                        <v-icon small>mdi-information</v-icon>
                      </div>
                      <v-autocomplete :rules="[$rule.required]" :items="establishments" v-model="model.establishment"
                                      placeholder="Выберите заведение"
                                      dense outlined hide-details return-object
                                      item-text="name"
                      />
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="secondary--text mb-1">Дата</span>
                      <v-text-field :rules="[$rule.required]" v-model="model.albumDate" type="date"
                                    dense outlined
                                    hide-details/>
                    </div>
                  </div>
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-weight-medium text-20 black--text">Фото обложки</span>
                <div style="background: #FFFFFF;border-radius: 12px" class="mt-5">
                  <div style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                       class="pa-6 d-flex flex-column align-center text-center"
                       @dragover.prevent
                       @drop.prevent="handleDrop">
                    <div v-if="edit ? !model.files : !cover.fileUrl" class="report_images__preview">
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%;height: 900px" class="d-flex justify-center"
                         v-if="edit ? model.files : cover.fileUrl">
                      <div class="cropper-box">
                        <VueCropper
                            :canMove="true"
                            ref="cropper"
                            mode="100% auto"
                            :full="true"
                            :img="options.img"
                            :info="true"
                            :centerBox="true"
                            :outputSize="options.size"
                            :outputType="options.outputType"
                            :autoCrop="options.autoCrop"
                            :autoCropWidth="options.autoCropWidth"
                            :autoCropHeight="options.autoCropHeight"
                            :fixedBox="options.fixedBox"
                        ></VueCropper>
                      </div>
                      <!--                        <v-img width="100%" height="100%" style="border-radius: 16px"-->
                      <!--                               :src="edit ? (!cover.fileUrl ? currentCover : cover.fileUrl) : cover.fileUrl"/>-->
                    </div>
                    <span
                        class="text-16 secondary--text mt-4">Перетащите изображение сюда или нажмите <br> «Выбрать обложку»</span>
                    <input type="file" ref="coverInput" accept="image/*" style="display: none"
                           @change="handleCoverUpload">
                    <v-btn @click="triggerLogoInput" outlined color="secondary" class="mt-5 py-6 px-12" depressed><span
                        class="text-14 secondary--text text-none">Выбрать обложку</span></v-btn>
                  </div>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <div class="d-flex justify-space-between">
                  <span class="font-weight-medium text-20 black--text">Фотографии</span>
                  <div class="d-flex align-center">
                    <div @click="typeImages = 'LIST'" class="d-flex align-center mr-3 cursor-pointer">
                      <div class="mr-1">
                        <v-icon :color="typeImages === 'LIST'? '#000000' : '#858D9D'">
                          mdi-menu
                        </v-icon>
                      </div>
                      <span :class="typeImages === 'LIST' ? 'black--text' : 'secondary--text'">Список</span>
                    </div>
                    <div @click="typeImages = 'ICONS'" class="d-flex align-center cursor-pointer">
                      <heroicon class="mb-n1 mr-n1" name="widgets"
                                :fill="typeImages === 'ICONS'? '#000000' : '#858D9D'"/>
                      <span :class="typeImages === 'ICONS' ? 'primary--text' : 'secondary--text'">Крупне значки</span>
                    </div>
                  </div>
                </div>
                <div v-if="typeImages === 'LIST'" class="report_images mt-4 py-6 px-3 d-flex flex-column">
                  <div v-if="edit ? !model.files.length : !images.data.length" class="report_images__preview">
                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                  </div>
                  <div class="report_images__icons_wrapper" style="width: 100%;">
                    <div
                        v-for="(image, index) in (edit ? model.files : images.urls).filter(img => !img.isCover)"
                        :key="index"
                        class="report_images__icons">
                      <span class="text-14 primary--text mr-3">{{ truncateFileName(image) }}</span>
                      <div class="d-flex align-center">
                        <heroicon v-if="!edit" @click="openDialog(edit ?  image.file : image.url)"
                                  class="mb-n1 mr-1 cursor-pointer"
                                  name="eye"
                                  fill="#858D9D"/>
                        <heroicon @click="removeImage(image,index)" class="cursor-pointer" name="trash" fill="#858D9D"/>
                      </div>
                    </div>
                  </div>
                  <span class="secondary--text text-center text-16 mt-4">Перетащите изображние сюда или нажмите <br> «Добавить изображение»</span>
                  <input type="file" ref="fileInput" accept="image/*" style="display: none" @change="handleImageUpload"
                         multiple>
                  <v-btn @click="handleUpdateImages" outlined class="mt-5 py-6 px-12" depressed color="secondary"><span
                      class="text-14 secondary--text text-none">Добавить изображение</span>
                  </v-btn>
                </div>
                <div v-if="typeImages === 'ICONS'" class="report_images mt-4 px-3 py-4 d-flex flex-column">
                  <div
                      v-if="edit ? (!images.urls.length ? !model.files.filter(el => !el.isCover).length : !images.urls.length) : !images.urls.length"
                      class="report_images__preview">
                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                  </div>
                  <div style="width: 100%" class="d-flex flex-wrap">
                    <div style="width: 100px;height: 100px;border-radius: 8px" class="report_image"
                         v-for="(image, index) in (edit ? model.files : images.urls).filter(img => !img.isCover)">
                      <div class="report_remove cursor-pointer">
                        <heroicon @click="removeImage(image,index)" style="margin-right: -10px" class="mb-n2"
                                  name="trash"
                                  fill="#858D9D"/>
                      </div>
                      <v-img style="border-radius: 8px" width="100%" height="100%"
                             :src="edit ? ('data:image/png;base64,' + image.file) : image.url"/>
                    </div>
                  </div>
                  <span class="text-center secondary--text text-16 mt-4">Перетащите изображние сюда или нажмите <br> «Добавить изображение»</span>
                  <input type="file" ref="fileInput" accept="image/*" style="display: none" @change="handleImageUpload">
                  <v-btn @click="handleUpdateImages" outlined class="mt-4 py-6 px-12" depressed color="secondary"><span
                      class="text-14 secondary--text text-none">Добавить изображение</span>
                  </v-btn>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mb-6">
                <div class="d-flex align-center mb-4">
                  <span class="text-18 neutral--text mr-6">Топ репортаж</span>
                  <v-switch v-model="model.top" class="mt-0" inset hide-details/>
                </div>
                <span class="text-14 grey--text">Топ Репортажи окажутся на главной странице вебсайта</span>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <div class="mb-4">
                  <span class="text-16 black--text">Настройки</span>
                </div>
                <div style="width: 100%" class="d-flex flex-column report_top">
                  <span class="grey--text mb-1">Статус репортажа</span>
                  <v-select :rules="[$rule.required]" :items="publicationStatus" item-value="value" item-text="name"
                            v-model="model.status" dense
                            outlined
                            hide-details>
                    <template v-slot:selection="{item,index}">
                      <div class="pa-0">
                        <span
                            :class="(item.name === 'Опубликовано' && 'published') || (item.name === 'Заархивировано' && 'archived') || (item.name === 'Приватно' && 'private')"
                            class="font-weight-medium text-14">{{ item.name }}</span>
                      </div>
                    </template>
                  </v-select>
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <span class="text-18 black--text">Просмотры и Фотографы</span>
                <div class="mt-4">
                  <span style="color: #777980" class="grey--text">Выбрать фотографа</span>
                  <v-autocomplete :rules="[$rule.required]" class="mt-1" item-value="id" item-text="fullName"
                                  :items="authors"
                                  v-model="selectedAuthor"
                                  placeholder="Фотограф" return-object dense outlined
                                  hide-details @change="handleAuthorChange"/>
                </div>
                <div class="mt-4">
                  <span style="color: #777980" class="grey--text">Cтартовые просмотры</span>
                  <v-text-field class="mt-1" outlined dense hide-details v-model="model.views"
                  >
                    <template v-slot:append>
                      <v-icon color="#A3A9B6">
                        mdi-eye
                      </v-icon>
                    </template>
                  </v-text-field>
                </div>

              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                <div class="mb-4">
                  <span class="text-18 black--text">Выбор города</span>
                </div>
                <div style="width: 100%" class="d-flex flex-column mt-3">
                  <span style="color: #777980" class="grey--text mb-1">Город</span>
                  <v-autocomplete :rules="[$rule.required]" :items="cities" v-model="model.city" item-text="nameRu"
                                  item-value="id" return-object
                                  dense outlined hide-details/>
                </div>
              </div>

              <div v-if="!commentActive" @click="commentActive = true"
                   class="d-flex align-center justify-center text-center py-3 px-10 mt-6 comment_block cursor-pointer">
                <span class="text-14 secondary--text">Добавить комментарий</span>
              </div>
              <template v-if="commentActive">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                  <span class="text-18 black--text">Комментарий</span>
                  <div class="mt-4">
                    <v-textarea v-model="model.comment" outlined no-resize hide-details
                                placeholder="Оставьте комментарий"/>
                  </div>
                </div>
                <v-btn @click="commentActive = false" class="py-5 px-13 mt-5" outlined color="secondary">
                  <span class="secondary--text text-none">Удалить комментарий</span>
                </v-btn>
              </template>
            </v-col>
          </v-row>
        </v-card-text>
        <v-dialog v-if="edit ? model.files.length > 0 : images.data.length > 0" style="position: relative !important;"
                  class="pa-0 ma-0"
                  v-model="dialog" max-width="868px">
          <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">
            <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">
              <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">
                <v-icon large>mdi-menu-left</v-icon>
              </v-btn>
            </div>
            <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">
              <v-card-text class="pa-6">
                <div style="width: 700px;height: 460px">
                  <v-img width="100%" height="100%"
                         :src="edit ? 'data:image/png;base64,' + model?.files[currentImageIndex].file : images?.urls[currentImageIndex]?.url"></v-img>
                </div>
              </v-card-text>
            </v-card>
            <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">
              <div class="d-flex justify-center align-center cursor-pointer"
                   style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -250px"
                   @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </div>
              <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">
                <v-icon large>mdi-menu-right</v-icon>
              </v-btn>
            </div>
          </div>
        </v-dialog>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import VueCropper from "vue-cropper"
import {mapGetters} from "vuex";

export default {
  name: 'CreateReport',
  components: {VueCropper: VueCropper.vueCropper},
  data: () => ({
    id: null,
    createdDialog: false,
    commentActive: false,
    previews: {},
    options: {
      size: 1,
      original:true,
      outputType: "jpg",
      autoCrop: true,
      autoCropWidth: 416,
      autoCropHeight: 516,
      fixedBox: true,
      img: '',
    },
    edit: false,
    typeImages: 'LIST',
    dialog: false,
    currentImageIndex: 0,
    imagesUpdatedStatus: false,
    images: {
      data: [],
      urls: [],
      dto: {
        source: "ALBUM",
        fileType: "IMAGE",
        isCover: false,
        sourceName: "album",
        order: 0,
        isLogo: false
      }
    },
    cover: {
      file: '',
      fileUrl: '',
      dto: {
        source: "ALBUM",
        fileType: "IMAGE",
        isCover: true,
        sourceName: "album",
        order: 0,
        isLogo: false
      }
    },
    model: {
      files: [],
      description: '',
      isActive: true,
      photographers: [],
      isHidden: false,
      publish: true,
      views: 0,
      top: false,
      albumDate: ''
    },
    publicationStatus: [
      {
        name: 'Опубликовано',
        value: 'PUBLISHED'
      },
      {
        name: 'Заархивировано',
        value: 'ARCHIVED'
      },
      {
        name: 'Приватно',
        value: 'PRIVATE'
      },
    ],
    establishments: [],
    authors: [],
    countries: [],
    cities: [],
    selectedAuthor: null,
    loading: false,
  }),
  computed: {
    ...mapGetters(["domain"]),
    currentForm() {
      return (
          this.model.name &&
          this.model.establishment &&
          this.model.albumDate &&
          this.model.status &&
          this.model.photographers.length > 0 &&
          this.cities.length > 0
      );
    },
    currentCover() {
      const coverFile = this.model.files.find(f => f.isCover);
      return coverFile ? 'data:image/png;base64,' + coverFile.file : '';
    }
  },
  methods: {
    formatDate() {
      if (this.model.albumDate) {
        const dateObject = new Date(this.model.albumDate);
        const formattedDate = `${dateObject.getDate().toString().padStart(2, '0')}-${(dateObject.getMonth() + 1).toString().padStart(2, '0')}-${dateObject.getFullYear()}`;
        this.model.albumDate = formattedDate;
        console.log(this.model.albumDate)
      }
    },
    handleAuthorChange() {
      if (this.selectedAuthor) {
        this.model.photographers.push({...this.selectedAuthor});
      }
    },
    handleUpdateImages() {
      // if (!this.imagesUpdatedStatus) {
      //   this.model.files = this.model.files.filter(el => el.isCover)
      // }
      // this.imagesUpdatedStatus = true
      this.$refs.fileInput.click();
    },
    triggerFileInput() {
      this.$refs.fileInput.click();
    },
    async handleDrop(e) {
      const file = e.dataTransfer.files[0];
      if (file) {
        console.log(file)
        this.cover.file = file
        const fileURL = URL.createObjectURL(file);
        this.cover.fileUrl = fileURL;
      }
    },
    async handleImageUpload(e) {
      const files = e.target.files;

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        if (file) {
          if(this.edit) {
            const base64String = await this.fileToBase64(file);
            this.model.files.push({
              image: file,
              file: base64String,
              isTemporary: true
            });
          }
          this.images.data.push(file);
          const fileURL = URL.createObjectURL(file);
          const imageObject = {
            url: fileURL,
            name: file.name
          };
          this.images.urls.push(imageObject);
        }
      }
    },
    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result.split(',')[1]);
        reader.onerror = error => reject(error);
      });
    },
    triggerLogoInput() {
      this.$refs.coverInput.click();
    },
    async handleCoverUpload(e) {
      const file = e.target.files[0];
      if (file) {
        const fileURL = URL.createObjectURL(file);
        this.options.img = fileURL
        this.cover.fileUrl = fileURL;
      }
    },
    removeImage(image) {
      if (this.edit) {
        const index = this.model.files.findIndex(file => file.id === image.id);
        if (index !== -1) {
          this.model.files.splice(index, 1);
        }
      } else {
        const index = this.images.urls.findIndex(url => url.id === image.id);
        if (index !== -1) {
          this.images.urls.splice(index, 1);
        }
      }
    },
    openDialog(image) {
      const imagesArray = this.edit ? this.model.files : this.images.urls;
      this.currentImageIndex = imagesArray.findIndex(img =>
          this.edit ? img.file === image : img.url === image
      );
      if (this.currentImageIndex !== -1) {
        this.dialog = true;
      } else {
        console.error('Image not found');
      }
    },
    nextImage() {
      if (this.currentImageIndex === (this.edit ? this.model.files : this.images.urls).length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = (this.edit ? this.model.files : this.images.urls).length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    async updateCover() {
      try {
        const cropData = await new Promise(resolve => {
          this.$refs.cropper.getCropData(data => resolve(data));
        });

        const blob = await new Promise(resolve => {
          this.$refs.cropper.getCropBlob(data => resolve(data));
        });

        const randomNumber = Math.floor(Math.random() * 1000000);
        const fileName = `cropped_image_${randomNumber}.jpg`;

        const file = new File([blob], fileName, {type: 'image/jpeg', lastModified: new Date().getTime()});

        const formData = new FormData();
        formData.append('file', file);

        const dto = {
          source: 'ALBUM',
          fileType: 'IMAGE',
          isCover: true,
          sourceName: 'album',
          order: 0,
          isLogo: false
        };

        const dtoBlob = new Blob([JSON.stringify(dto)], {type: 'application/json'});
        formData.append('dto', dtoBlob);

        const response = await fetch(`${this.domain}albums/images/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        });

        if (response.ok) {
          const jsonResponse = await response.json();
          const coverIndex = this.model.files.findIndex(el => el.isCover);
          if (coverIndex !== -1) {
            this.model.files.splice(coverIndex, 1, jsonResponse);
          }
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    async saveCover() {
      try {
        const cropData = await new Promise(resolve => {
          this.$refs.cropper.getCropData(data => resolve(data));
        });

        const blob = await new Promise(resolve => {
          this.$refs.cropper.getCropBlob(data => resolve(data));
        });

        const randomNumber = Math.floor(Math.random() * 1000000);
        const fileName = `cropped_image_${randomNumber}.jpg`;

        const file = new File([blob], fileName, {type: 'image/jpeg', lastModified: new Date().getTime()});

        const formData = new FormData();
        formData.append('file', file);

        const dto = {
          source: 'ALBUM',
          fileType: 'IMAGE',
          isCover: true,
          sourceName: 'album',
          order: 0,
          isLogo: false
        };

        const dtoBlob = new Blob([JSON.stringify(dto)], {type: 'application/json'});
        formData.append('dto', dtoBlob);

        const response = await fetch(`${this.domain}albums/images/upload`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        });

        if (response.ok) {
          const jsonResponse = await response.json();
          jsonResponse.file = null;
          this.model.files.push(jsonResponse);
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload cover: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    async updateImages() {
      const formData = new FormData();

      this.images.data.forEach((file) => {
        formData.append('files', file);
      });

      const dtoBlob = new Blob([JSON.stringify(this.images.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}albums/images/upload/batch`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        });

        if (response.ok) {
          const jsonResponse = await response.json();
          this.model.files = this.model.files.filter(file => !file.isTemporary);
          this.model.files.push(...jsonResponse);
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload images: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    async saveImages() {
      const formData = new FormData();

      this.images.data.forEach((file) => {
        formData.append('files', file);
      });

      const dtoBlob = new Blob([JSON.stringify(this.images.dto)], {type: 'application/json'});
      formData.append('dto', dtoBlob);

      try {
        const response = await fetch(`${this.domain}albums/images/upload/batch`, {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        });

        if (response.ok) {
          const jsonResponse = await response.json();
          this.model.files = jsonResponse;
        } else {
          const errorResponse = await response.text();
          console.error("Failed to upload images: ", errorResponse);
        }
      } catch (error) {
        console.error("Error during fetch", error);
      }
    },
    saveContent() {
      this.formatDate();
      this.$http.post('/albums', this.model)
          .then(r => {
            this.createdDialog = true
            this.id = r.data
          })
    },
    updateContent() {
      const formattedDate = this.formatNormalDate(this.model.albumDate);
      this.$http.post('/albums', {...this.model, albumDate: formattedDate})
          .then(r => {
            this.$router.push('/reports')
          });
    },
    isValidDateFormat(dateString) {
      const regex = /^\d{2}-\d{2}-\d{4}$/;
      return regex.test(dateString);
    },
    formatNormalDate(dateString) {
      const parts = dateString.split('-');
      if (parts.length === 3) {
        return `${parts[2]}-${parts[1]}-${parts[0]}`;
      }
      return dateString;
    },
    async save() {
      this.loading = true;
      if (this.edit) {
        await this.updateImages();
        await this.updateCover();
        await this.updateContent()
      } else {
        await this.saveImages();
        await this.saveCover();
        await this.saveContent()
      }
      this.loading = false;
    },
    getCities() {
      this.$http.get('/cities')
          .then(r => this.cities = r.data)
    },
    getEstablishments() {
      this.$http.get('/establishments/short')
          .then(r => {
            this.establishments = r.data
          })
    },
    getAuthors() {
      this.$http.get('/photographers')
          .then(r => this.authors = r.data)
    },
    init() {
      this.$http.get(`/albums/${this.$router.currentRoute.params.id}`)
          .then(r => {
            console.log(r.data)
            this.model = r.data;
            const file = r.data.files.find(el => el.isCover);
            console.log(file)
            this.options.img = 'data:image/png;base64,' + file.file;
            this.selectedAuthor = this.model.photographers[0];
            if (this.model.albumDate) {
              if (this.isServerFormat(this.model.albumDate)) {
                this.model.albumDate = this.parseEditedDate(this.model.albumDate);
              }
            }
          });
      this.getFiles()
    },
    getFiles() {
      this.$http.get(`/albums/${this.$router.currentRoute.params.id}/files?page=0&size=100`)
          .then(response => {
            const newData = response.data.content.filter(el => !el.isCover);
            console.log(newData)
            this.model.files = this.model.files.concat(newData);
            console.log(this.model.files)
          })
          .catch(error => {
            console.error('Ошибка при загрузке данных:', error);
          });
    },
    parseEditedDate(dateString) {
      const parts = dateString.split('-');
      return `${parts[2]}-${parts[1]}-${parts[0]}`;
    },
    isServerFormat(dateString) {
      return dateString.includes('-');
    },
    truncateFileName(file) {
      const maxCharacters = 15;
      const extension = ".png";
      const truncatedName = (file.name || file.image.name).substring(0, maxCharacters);
      const finalName = truncatedName + extension;
      return finalName;
    },
    addDefaultEstab() {
      const defaultEstablishment = {
        "id": 213213,
        "name": "Default",
        "description": "<p>фывыфвфывыфв</p>",
        "address": "фывфыв",
        "averageCheck": 213213,
        "dayOfWork": null,
        "hoursOfWork": "21:01 - 04:42",
        "coverImageName": null,
        "isActive": true,
        "top": true,
        "phone": "+996213123",
        "cousins": [],
        "images": [],
        "categories": [{
          "id": 20,
          "nameRu": "Бар",
          "nameKg": "",
          "nameEn": "",
          "type": "ESTABLISHMENT",
          "fastFood": true
        }],
        "city": {
          "id": 1,
          "nameRu": "Бишкек",
          "nameKg": "Бишкек",
          "nameEn": "Bishkek",
          "visible": true
        },
        "albums": null,
        "videoReports": null,
        "whatsApp": null,
        "telegram": null,
        "instagram": null,
        "youtube": null,
        "facebook": null,
        "peculiarities": [],
        "interiorDescription": "",
        "menuDescription": "",
        "barDescription": "",
        "email": null,
        "link": "ыфвфыв",
        "cousinTypes": ["Европейская", "asdasd"],
        "type": null,
        "posters": null,
        "longitude": "",
        "latitude": ""
      };
      this.establishments.push(defaultEstablishment)
    }
  },
  created() {
    this.getAuthors()
    this.getEstablishments()
    this.getCities()
    if (this.$router.currentRoute.params.id) {
      this.edit = true
      this.init()
    }
  }
}
</script>


<style lang="scss">
.create-report-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .report_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='%23f9f9fc' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .report_image {
    position: relative;
    margin-right: 16px;
  }

  .report_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
  }

  .report_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .report_top {
    .v-input {
      background: none !important;
    }
  }

  .report_logo {
    width: 540px;
    height: 516pxpx;
    background: #E0E2E7;
    border-radius: 16px;
  }

  .published {
    width: 100px;
    background: #12B54033 !important;
    color: #12B540 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 120px;
    background: #F0F1F3 !important;
    color: #495057 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 65px;
    background: #FE252E33 !important;
    color: #FE252E !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .report_images__icons_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .report_images__icons {
    margin-right: 16px;
    height: 70px;
    width: 250px;
    padding: 9px 5px 9px 15px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }

    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
      border-top: 1px solid #f2f2f2;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

.comment_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23818C99' stroke-width='1' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.cropper-box {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 100% !important;
  width: 100% !important;
  flex: 1;
}
</style>