<template>
  <v-row class="ma-0 reports_wrapper">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Удалить Репортаж</span>
          <span class="text-16 accent--text mt-3">Вы действительно хотите удалить репортаж?</span>
          <div class="mt-8">
            <v-btn style="width: 192px" @click="deleteDialog = false" class="mr-4 py-6 px-10" outlined depressed
                   color="secondary"><span
                class="text-14 font-weight-medium secondary--text">Отменить</span></v-btn>
            <v-btn style="width: 192px" @click="deleteReport" class="py-6 px-10" depressed color="red"><span
                class="text-14 font-weight-medium white--text">Удалить</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="archiveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="py-8 px-16  d-flex flex-column justify-center align-center">
          <span class="font-weight-bold text-18 accent--text">Переместить  в архив</span>
          <span class="text-16 accent--text text-center mt-4">Действительно хотите переместить репортаж в архив?</span>
          <div class="mt-11">
            <v-btn @click="archiveDialog = false" class="mr-4" depressed color="#F5F6F7"><span
                class="text-14 font-normal accent--text">Отменить</span></v-btn>
            <v-btn depressed color="primary"><span class="text-14 font-normal">Переместить</span></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex flex-column">
          <div class="d-flex justify-space-between align-end">
            <div>
              <span class="black--text font-weight-medium text-24">Репортажи</span>
              <div class="d-flex align-center mt-2">
                <span @click="$router.push('/dashboard')" class="secondary--text text-14 cursor-pointer">Дашборд</span>
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span class="text-14 black--text">Репортажи</span>
              </div>
            </div>
            <v-btn @click="$router.push('/reports/create')" class="py-6 px-6" depressed color="primary">
              <v-icon class="mr-4">mdi-plus</v-icon>
              <span class="font-weight-medium text-none text-14 white--text">Добавить репортаж</span>
            </v-btn>
          </div>
          <div class="d-flex justify-space-between align-center mt-6 report_filter__wrapper">
            <div class="report_filter">
              <v-btn @click="filterTab('ALL')" :text="activeFilterTab !== 'ALL'" class="mr-1" depressed
                     color="primary"><span class="text-none font-weight-medium"
                                           :class="activeFilterTab !== 'ALL' ? 'grey--text' : ''">Все репортажи</span>
              </v-btn>
              <v-btn @click="filterTab('TOP')" :text="activeFilterTab !== 'TOP'" depressed color="primary"><span
                  class="text-none font-weight-medium mr-1"
                  :class="activeFilterTab !== 'TOP' ? 'grey--text' : ''">Топ репортажи</span></v-btn>
              <v-btn @click="filterTab('ARCHIVE')" :text="activeFilterTab !== 'ARCHIVE'" depressed color="primary"><span
                  class="text-none font-weight-medium"
                  :class="activeFilterTab !== 'ARCHIVE' ? 'grey--text' : ''">Архив репортажей</span></v-btn>
            </div>
            <div class="d-flex align-center">
              <v-text-field clearable v-model="search" class="mr-4" style="width: 200px"
                            placeholder="Поиск Репортажа. . ."
                            outlined hide-details
                            dense
                            prepend-inner-icon="mdi-magnify">
              </v-text-field>
              <v-text-field clearable v-model="dateSearch" placeholder="Выбрать дату" dense outlined hide-details
                            type="date">
              </v-text-field>
            </div>
          </div>
        </v-card-text>
        <v-card-text
            style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
            class="pa-0 mt-5 d-flex flex-column justify-space-between">
          <v-data-table must-sort sort-by="albumDate" :page="page" hide-default-footer :loading="loading"
                        :items="filterData" :headers="headers">
            <template v-slot:item.photo="{item}">
              <div class="d-flex align-center">
                <div class="report_logo mr-2">
                  <v-img width="100%" height="100%" style="border-radius: 8px;position: relative"
                         :src="item.coverImage">
                    <div style="position: absolute;width: 100%;height: 100%;background: #00000066;z-index: 98"></div>
                    <div style="position: absolute;width: 100%; height: 100%;z-index: 99"
                         class="d-flex justify-center align-center">
                                  <span class="white--text text-14 font-weight-bold">{{
                                      item.files?.length > 100 ? '100+' : item.files?.length
                                    }}</span>
                    </div>
                  </v-img>
                </div>
              </div>
            </template>
            <template v-slot:item.status="{item}">
              <span>{{
                  (item.status === 'PRIVATE' && 'Приватно') || (item.status === 'ARCHIVED' && 'Заархивировано') || (item.status === 'PUBLISHED' && 'Опубликовано')
                }}</span>
            </template>
            <template v-slot:item.top="{item}">
              <v-switch @change="switchTop(item)" v-if="item.status !== 'PRIVATE'" class="mt-n2" hide-details inset
                        v-model="item.top"/>
            </template>
            <template v-slot:item.status="{item}">
              <div
                  :class="(item.status === 'PUBLISHED' && 'published') || (item.status === 'ARCHIVED' && 'archived') || (item.status === 'PRIVATE' && 'private')">
                <span class="font-weight-medium text-14">{{
                    item.status === 'PRIVATE' && 'Приватно' || item.status === 'PUBLISHED' && 'Опубликовано' || item.status === 'ARCHIVED' && 'Заархивировано'
                  }}</span>
              </div>
            </template>
            <template v-slot:item.actions="{item}">
              <div style="position: relative">
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        :outlined="attrs['aria-expanded'] === 'false'"
                        :color="attrs['aria-expanded'] === 'true' ? 'black' : 'secondary'"
                        v-bind="attrs"
                        v-on="on"
                        class="pl-3 pr-0"
                    >
                      <span
                          :style="{ color: attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99' }">Действия</span>
                      <heroicon class="mb-n5 ml-2" :name="attrs['aria-expanded'] === 'true' ? 'menuUp' : 'menuDown'"
                                :fill="attrs['aria-expanded'] === 'true' ? '#FFFFFF' : '#818C99'"/>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                    >
                      <v-list-item-title>
                        <div @click="$router.push('/reports/edit/' + item.id)"
                             class="d-flex align-center cursor-pointer">
                          <heroicon width="30px" class="mb-n2"
                                    name="pencil"
                                    fill="#A3A9B6"/>
                          <span class="pl-2">Редактировать</span>
                        </div>
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                        v-if="item.status === 'PRIVATE'"
                    >
                      <v-list-item-title>
                        <div @click="copyUrl(item)" class="d-flex align-center cursor-pointer">
                          <div class="mr-2">
                            <v-icon color="#A3A9B6">
                              mdi-link
                            </v-icon>
                          </div>
                          <span class="ml-1">Скопировать url</span>
                        </div>
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                    >
                      <v-list-item-title>
                        <div @click="previewReport(item)" class="d-flex align-center cursor-pointer">
                          <heroicon width="30px" class="mb-n2" name="eye" fill="#A3A9B6"/>
                          <span class="pl-2">Просмотр</span>
                        </div>
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                    >
                      <v-list-item-title>
                        <div @click="openDeleteDialog(item.id)" class="d-flex align-center cursor-pointer">
                          <heroicon width="30px" class="mb-n2" name="trash" fill="#A3A9B6"/>
                          <span class="pl-2">Удалить</span>
                        </div>
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-alert width="200px"
                         style="position: absolute; top: 0; left: -100%; transform: translate(-50%, -50%);border-radius: 12px"
                         type="success" v-if="urlCopied.id === item.id && item.status === 'PRIVATE'">
                  <span>Url скопирован</span>
                </v-alert>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны {{
                Math.min((page - 1) * 10 + 1, totalItems)
              }}-
              {{ Math.min(page * 10, totalItems) }}
              из {{ totalItems }}</span>
            <v-pagination :length="totalPages" total-visible="10" prev-icon="mdi-menu-left"
                          next-icon="mdi-menu-right" v-model="page"
            ></v-pagination>
          </div>
        </v-card-text>
      </v-card>

    </v-col>
  </v-row>
</template>

<script>
import Vue from "vue";
import DatetimePicker from "@/components/DatetimePicker.vue";

export default {
  name: 'Users',
  components: {DatetimePicker},
  data: () => ({
    search: '',
    dateSearch: '',
    activeActionMenu: false,
    deleteDialog: false,
    archiveDialog: false,
    deletedReportId: null,
    topCount: 0,
    page: 1,
    size: 10,
    totalItems: 0,
    activeFilterTab: 'ALL',
    loading: false,
    data: [],
    sortBy: 'albumDate',
    sortDesc: false,
    headers: [
      {text: 'Фото', value: 'photo', sortable: false,},
      {text: 'Название репортажа', value: 'name', sortable: true, width: '20%'},
      {text: 'Заведение', value: 'establishment.name', sortable: false,},
      {
        text: 'Дата публикации', value: 'albumDate', sortable: true,
        sort: (a, b) => {
          const parseDate = (dateStr) => {
            const [day, month, year] = dateStr.split('-');
            return new Date(`${year}-${month}-${day}`);
          };

          const dateA = parseDate(a);
          const dateB = parseDate(b);

          return dateA - dateB;
        }
      },
      {text: 'Статус публикации', value: 'status', sortable: true,},
      {text: 'Топ репортажи', value: 'top', sortable: true, align: 'center'},
      {text: 'Действия', value: 'actions', sortable: false},
    ],
    allData: [],
    urlCopied: {
      copied: false,
      id: null
    }
  }),
  watch: {
    search(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.searchReport();
      }
    },
    dateSearch(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.searchReport();
      }
    }
  },
  computed: {
    filterData() {
      if (this.activeFilterTab === 'ALL') {
        const data = this.data;
        this.totalItems = data.length
        return data;
      }
      if (this.activeFilterTab === 'ARCHIVE') {
        const data = this.data.filter(item => item.status === 'ARCHIVED');
        this.totalItems = data.length
        return data
      }
      if (this.activeFilterTab === 'TOP') {
        const data = this.data.filter(item => item.top);
        this.totalItems = data.length
        return data
      } else {
        return this.data
      }
    },
    totalPages() {
      return Math.ceil(this.totalItems / 10);
    },
    params() {
      const params = {
        // page: this.page - 1,
        // size: this.size
      };

      if (this.search) {
        params.pattern = this.search;
      }

      if (this.dateSearch) {
        params.date = this.dateSearch.split('-').reverse().join('-');
      }

      return params;
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      if (this.search || this.dateSearch) {
        this.searchReport();
      } else {
        this.getReports();
      }
    },
    getReports() {
      this.loading = true;
      const params = {page: 0, size: 10000000, sort: 'album_dt'};
      this.$http2
          .get("/albums", {params})
          .then(r => {
            console.log(r.data)
            this.totalItems = r.data.totalElements;
            this.data = r.data.content;
            this.fetchReportImages(this.data);
            this.loading = false;
          })
          .catch(e => {
            this.loading = false;
          });
    },
    searchReport() {
      this.loading = true;
      if (!this.search && !this.dateSearch) {
        this.data = [];
        this.getReports()
      }
      this.$http.get('/albums/search', {params: this.params})
          .then(r => {
            this.totalItems = r.data.totalElements;
            this.data = r.data.content;
            this.fetchReportImages(this.data);
            this.loading = false;
          })
          .catch(e => {
            // this.loading = false;
          });
    },
    getFiles(files) {
      this.fetchReportImages(files);
    },
    fetchImage(imageId) {
      return this.$http.get(`/files/${imageId}`)
          .then(r => {
            const imageMap = r.data;
            return imageMap[imageId];
          });
    },
    async fetchReportImages(reports) {
      if (!reports) reports = this.data;
      for (const report of reports) {
        if (report.coverImageId) {
          this.fetchImage(report.coverImageId)
              .then(image => {
                Vue.set(report, 'coverImage', image);
              });
        }
      }
    },
    copyUrl(item) {
      const itemId = item.id;

      let baseUrl = '';

      if (process.env.NODE_ENV === 'production') {
        baseUrl = 'https://new.kipish.kg/report/private/';
      } else {
        baseUrl = 'http://localhost:8084/report/private/';
      }

      const constructedUrl = baseUrl + itemId;

      navigator.clipboard.writeText(constructedUrl);
      this.urlCopied.copied = true;
      this.urlCopied.id = itemId;
      setTimeout(() => {
        this.urlCopied.copied = false;
        this.urlCopied.id = null;
      }, 3000);
    },


    getAllData() {
      this.$http.get('/albums')
          .then(r => {
            this.allData = r.data.content;
            // this.checkAndUpdateSwitch();
          })
    },
    switchTop(item) {
      this.$http.put('/albums', {id: item.id, top: item.top})
          .then(r => {
            this.checkAndUpdateSwitch(item);
            this.fetchData();
          })
          .catch(error => {
            console.error("Error updating switch:", error);
          });
    },

    checkAndUpdateSwitch(item) {
      let topCount = 0;
      let lastTrueTopIndex = -1;

      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i].top) {
          topCount++;
          lastTrueTopIndex = i;
        }
      }

      if (topCount >= 9 && lastTrueTopIndex !== -1) {
        if (this.data[lastTrueTopIndex] !== item) {
          this.data[lastTrueTopIndex].top = false;
          this.$http.post('/albums', this.data[lastTrueTopIndex])
              .then(r => {
                console.log("Switch updated successfully");
              })
              .catch(error => {
                console.error("Error updating switch:", error);
              });
        }
      }
    },
    filterTab(indx) {
      this.activeFilterTab = indx
    },
    previewReport(item) {
      this.$router.push('/report/' + item.id)
    },
    openDeleteDialog(id) {
      this.deletedReportId = id
      this.deleteDialog = true
    },
    deleteReport() {
      this.$http.delete(`/albums/${this.deletedReportId}`)
          .then(r => {
            this.deleteDialog = false
            this.fetchData()
          })
    },
    isCover(item) {
      const cover = item.files.find(el => el.isCover === true)
      return cover ? cover.file : ''
    },
  },
  created() {
    // this.getAllData();
  }
}
</script>


<style lang="scss">
.reports_wrapper {
  .report_filter__wrapper {
    .report_filter {
      background: #FFFFFF;
      border-radius: 8px;
      padding: 4px 8px;
      border: 1px solid #E0E2E7;
    }

    .v-input__slot {
      background: #FFFFFF !important;
      border-radius: 8px !important;
    }
  }


  .report_logo {
    width: 64px;
    height: 64px;
    border-radius: 8px;
  }

  .published {
    width: 115px;
    background: #12B54033 !important;
    color: #12B540 !important;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .archived {
    width: 130px;
    background: #F0F1F3;
    color: #667085;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }

  .private {
    width: 85px;
    background: #F33265;
    color: #FFFFFF;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
  }
}

</style>