<template>
  <v-row class="ma-0 estab_preview">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Удалить Репортаж</span>
          <span class="text-16 accent--text mt-3">Вы действительно хотите удалить репортаж?</span>
          <div class="mt-8">
            <v-btn style="width: 192px" @click="deleteDialog = false" class="mr-4 py-6 px-10" outlined depressed
                   color="secondary"><span
                class="text-14 font-weight-medium secondary--text">Отменить</span></v-btn>
            <v-btn style="width: 192px" @click="deleteReport" class="py-6 px-10" depressed color="red"><span
                class="text-14 font-weight-medium white--text">Удалить</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">Репортажи</span>
            <div class="d-flex align-center mt-3">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/reports')" class="secondary--text cursor-pointer">Репортажи</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">{{ data?.name }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="deleteDialog = true" class="mr-4 py-6 px-5"
                   color="grey"
                   outlined><span
                class="font-weight-medium text-14 secondary--text">Удалить</span></v-btn>
            <v-btn @click="$router.push('/reports/edit/' + data.id)" color="primary" class="py-6 px-5">
              <span class="font-weight-medium text-14">Редактровать</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0">
          <v-row class="pa-0 ma-0 mt-6">
            <v-col class="pa-0" cols="4">
              <div style="background: #FFFFFF;border-radius: 12px">
                <v-card elevation="0" color="transparent">
                  <v-card-text class="pa-6">
                    <div style="width: 312px;height: 300px;border-radius: 8px;overflow: hidden">
                      <v-img width="100%" height="100%" :src="'data:image/png;base64,' + coverImageSrc"/>
                    </div>
                    <div class="d-flex flex-column mt-4">
                      <span class="text-24 font-weight-medium black--text">{{ data.name }}</span>
                      <span style="color: #4A4C56" class="text-16 mt-2">{{ data.albumDate }}</span>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
              <div v-if="data.comment" style="background: #FFFFFF;border-radius: 12px" class="mt-6">
                <v-card elevation="0" color="transparent">
                  <v-card-text class="pa-5">
                    <div class="d-flex justify-space-between">
                      <p class="ma-0 text-18 black--text">Комментарий</p>
                      <v-icon class="cursor-pointer" color="#818C99">
                        mdi-dots-vertical
                      </v-icon>
                    </div>
                    <div>
                      <div class="mt-6">
                        <p class="ma-0 text-16 black--text">{{ data.comment }}</p>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="8">
              <v-card color="transparent" elevation="0">
                <v-card-text class="pa-0 d-flex flex-column">
                  <div style="background: #FFFFFF;border-radius: 12px" class="d-flex flex-column">
                    <v-card style="border-radius: 12px" elevation="0"
                            color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="black--text font-weight-medium text-20">Фотографии</span>
                        </div>
                        <div class="d-flex">
                          <div class="d-flex align-center mr-6">
                            <heroicon class="mr-1 mb-n2" name="picture" fill="#667085"/>
                            <span class="text-20 font-weight-medium grey--text">{{ data?.files?.filter(el => !el.isCover).length }}</span>
                          </div>
                          <div class="d-flex align-center">
                            <v-icon class="mr-1">
                              mdi-eye
                            </v-icon>
                            <span class="text-20 font-weight-medium grey--text">{{ data.views }}</span>
                          </div>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <template v-if="loading">
                            <v-card-text class="d-flex align-center justify-center mt-120">
                              <div>
                                <v-img width="250" class="circle_block" src="/static/images/logo.svg"/>
                              </div>
                            </v-card-text>
                          </template>
                          <div v-if="!loading" class="pa-6 d-flex flex-wrap">
                            <div :key="image.id" class="estab_preview__image" v-for="image in data.files.filter(el => !el.isCover)">
                              <v-hover>
                                <template v-slot:default="{ hover }">
                                  <div
                                      style="position: relative; width: 218px; height: 218px; border-radius: 12px; overflow: hidden;">

                                    <v-img width="100%" height="100%"
                                           :src="'data:image/png;base64,' + image?.file"></v-img>

                                    <v-fade-transition>
                                      <v-overlay
                                          v-if="hover"
                                          absolute
                                          color="#000000B2"
                                          style="top: 0; left: 0; width: 100%; height: 100%; border-radius: 12px;">
                                        <v-btn small text icon @click="openDialog(image.file)">
                                          <v-icon large>
                                            visibility
                                          </v-icon>
                                        </v-btn>
                                      </v-overlay>
                                    </v-fade-transition>
                                  </div>
                                </template>
                              </v-hover>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-dialog style="position: relative !important;" class="pa-0 ma-0" v-model="dialog" max-width="868px">
        <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">
          <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">
            <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">
              <v-icon large>mdi-menu-left</v-icon>
            </v-btn>
          </div>
          <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">
            <v-card-text class="pa-6">
              <div style="width: 700px;height: 650px">
                <v-img  width="100%" height="100%"
                       :src="'data:image/png;base64,' + data?.files[currentImageIndex]?.file"></v-img>
              </div>
            </v-card-text>
          </v-card>
          <div class="d-flex justify-center align-center cursor-pointer"
               style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;position: absolute; top: 0;right: 10px"
               @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </div>
          <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">
            <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">
              <v-icon large>mdi-menu-right</v-icon>
            </v-btn>
          </div>
        </div>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    deleteDialog: false,
    dialog: false,
    currentImageIndex: 0,
    page: 1,
    activeFilterTab: {
      index: 0,
      name: 'Фотографии'
    },
    data: {
      files:[]
    },
    edit: false,
    loading: false,
  }),
  computed: {
    coverImageSrc() {
      const coverFile = this.data?.files.find(file => file.isCover);
      return coverFile ? coverFile.file : '';
    }
  },
  methods: {
    deleteReport() {
      this.$http.delete(`/albums/${this.$router.currentRoute.params.id}`)
          .then(r => this.$router.go(-1))
    },
    filterTab(item) {
      this.activeFilterTab = item
    },
    openDialog(image) {
      this.currentImageIndex = this.data.files.findIndex(img => img.file === image);
      this.dialog = true;
    },
    nextImage() {
      if (this.currentImageIndex === this.data.files.length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = this.data.files.length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    init() {
      this.$http.get(`/albums/${this.$router.currentRoute.params.id}`)
          .then(r => this.data = r.data)
    },
    getFiles() {
      this.loading = true
      this.$http.get(`/albums/${this.$router.currentRoute.params.id}/files?page=0&size=100`)
          .then(response => {
            const newData = response.data.content;
            this.data.files = this.data.files.concat(newData);
            this.loading = false
          })
          .catch(error => {
            console.error('Ошибка при загрузке данных:', error);
            this.loading = false
          });
    }
  },
  created() {
    if (this.$router.currentRoute.params.id) {
      this.init()
      this.getFiles()
    }
  }
}
</script>


<style lang="scss">
.estab_preview {
  .estab_filter {
    background: #FFFFFF;
    border-radius: 8px;
    width: 305px;
    padding: 4px;
    border: 1px solid #E0E2E7;
  }

  .estab_logo {
    position: absolute;
    bottom: -50px;
    width: 148px;
    height: 148px;
    background: #E0E2E7;
    border-radius: 50%;
  }

  .estab_info {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #F0F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-right: 20px;
  }

  &__image:nth-child(n+4) {
    margin-top: 24px;
  }

  &__image:nth-child(3n) {
    margin-right: 0;
  }

  &__report {
    margin-right: 20px;
  }

  &__report:nth-child(n+3) {
    margin-top: 24px;
  }

  &__report:nth-child(2n) {
    margin-right: 0;
  }

  .image_hover {
    background-color: red !important;
    z-index: 9999;
  }

}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
</style>