@import '~vuetify/src/styles/main.sass'

$color-pack: true

.centered-item
  display: flex
  align-content: center
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

.text-right
  justify-content: right
  display: flex
  align-content: center
  align-items: center

.v-pagination.v-pagination
  display: flex !important
  justify-content: flex-start !important

.pagination-value
  display: flex
  align-items: center
  justify-content: center
  color: rgba(0, 0, 0, .54)
  font-size: 12px

.v-data-table td
  font-size: 13px

.pagination-value-select
  margin: 0
  padding: 0 10px 10px 10px

.v-application .mx-2
  margin: 5px !important

.v-alert
  margin: 16px 0 !important

body
  font-family: $body-font-family
  font-size: $font-size-root
  font-weight: 400
  line-height: $line-height-root

h1
  font-size: 48px
  font-weight: 100
  letter-spacing: -1.5

h2
  font-size: 36px
  font-weight: 300
  letter-spacing: -0.5

h3
  font-size: 24px
  font-weight: 300
  letter-spacing: normal

h4
  font-size: 20px
  font-weight: 300
  letter-spacing: normal

h5
  font-size: 16px
  font-weight: 400
  letter-spacing: normal

.v-list
  .v-list__tile--link:hover,
  .v-list__tile--highlighted,
  .v-list__group__header:hover,
  .v-list__group--active:before,
  .v-list__group--active:after
    background: #f5f5f5 !important

.v-card
  // box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16)


.v-input.search
  .v-input__slot
    margin-top: 8px

.app--toolbar
  .v-toolbar__extension
    padding: 0 !important

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content
  box-shadow: none



