<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0">
          <div class="d-flex flex-column">
            <span class="text-24 primary--text font-normal">С возвращением, {{ user.firstName }} {{
                user.lastName
              }} </span>
<!--            <span style="color: #777980" class="text-18 mt-2">Lorem ipsum dolor si amet welcome back jay</span>-->
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6 d-flex">
          <div @click="$router.push('/reports')" style="background: #FFFFFF;border-radius: 12px;width: 264px"
               class="pa-5 dashboard_card d-flex justify-space-between align-start cursor-pointer">
            <div class="d-flex flex-column">
              <span class="text-18 font-normal blackGrey--text mb-2">Репортажeй</span>
              <span class="text-32 font-normal accent--text">{{ model.albums }}</span>
            </div>
            <div style="width: 36px;height: 36px;border-radius: 8px;background: #F4ECFB"
                 class="d-flex justify-center align-center">
              <heroicon name="reports" fill="#883DCF"/>
            </div>
          </div>
          <div @click="$router.push('/videos')" style="background: #FFFFFF;border-radius: 12px;width: 264px"
               class="pa-5 dashboard_card d-flex justify-space-between align-start cursor-pointer">
            <div class="d-flex flex-column">
              <span class="text-18 font-normal blackGrey--text mb-2">Видео</span>
              <span class="text-32 font-normal accent--text">{{ model.videos }}</span>
            </div>
            <div style="width: 36px;height: 36px;border-radius: 8px;background: #FFF0EA"
                 class="d-flex justify-center align-center">
              <heroicon name="video" fill="#F86624"/>
            </div>
          </div>
          <div @click="$router.push('/establishments')" style="background: #FFFFFF;border-radius: 12px;width: 264px"
               class="pa-5 dashboard_card d-flex justify-space-between align-start cursor-pointer">
            <div class="d-flex flex-column">
              <span class="text-18 font-normal blackGrey--text mb-2">Заведений</span>
              <span class="text-32 font-normal accent--text">{{ model.establishments }}</span>
            </div>
            <div style="width: 36px;height: 36px;border-radius: 8px;background: #E9FAF7"
                 class="d-flex justify-center align-center">
              <heroicon name="establishments" fill="#22CAAD"/>
            </div>
          </div>
          <div @click="$router.push('/news')" style="background: #FFFFFF;border-radius: 12px;width: 264px"
               class="pa-5 dashboard_card d-flex justify-space-between align-start cursor-pointer">
            <div class="d-flex flex-column">
              <span class="text-18 font-normal blackGrey--text mb-2">Новостей</span>
              <span class="text-32 font-normal accent--text">{{ model.news }}</span>
            </div>
            <div style="width: 36px;height: 36px;border-radius: 8px;background: #FEECEE"
                 class="d-flex justify-center align-center">
              <heroicon name="news" fill="#EB3D4D"/>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Dashboard",
  data: () => ({
    model: {},
    user: {},
  }),
  computed: {
    ...mapGetters(["userId"])
  },
  methods: {
    init() {
      this.$http.get('/dashboard')
          .then(r => this.model = r.data)
      this.$http.get(`/users/${this.userId}`)
          .then(r => this.user = r.data)
    }
  },
  created() {
    this.init()
  }
}
</script>


<style lang="scss">
.dashboard_card {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}
</style>