<template>
  <v-container class="fill-height d-flex justify-center align-center login ma-0 pa-0" fluid>
    <v-dialog max-width="300" v-model="dialog">
      <v-card class="text-center">
        <v-card-title class="d-flex justify-center">
          <span class="text-24">Ошибка</span>
        </v-card-title>
        <v-card-text class="d-flex flex-column align-center">
          <span class="text-18">Неверный email или пароль</span>
          <v-btn color="primary" class="mt-5" max-width="200" @click="dialog = false">
            <span>Закрыть</span>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-row class="fill-height d-flex align-center">
      <v-col class="pa-0 fill-height d-flex justify-center align-center"
             style="background: #0B0B0B;border-radius: 0px 64px 64px 0px" cols="5">
        <div style="width: 299px;height: 299px">
          <v-img src="/static/images/logo2.svg"/>
        </div>
      </v-col>
      <v-col class="pa-0" cols="7">
        <v-card style="margin-left: 142px" elevation="0" width="440" color="transparent">
          <v-card-text class="pa-0">
            <div class="d-flex flex-column">
              <span class="font-weight-medium primary--text text-36">Вход</span>
              <span class="text-16 secondary--text mt-4">Введите адрес электронной почты и пароль, чтобы войти!</span>
            </div>
          </v-card-text>
          <v-card-text class="pa-0 d-flex flex-column">
            <div class="d-flex flex-column mt-8">
              <span class="secondary--text text-16">E-mail*</span>
              <v-text-field :disabled="loading" hide-details :rules="[$rule.required]" style="border-radius: 13px"
                            class="mt-1" outlined
                            placeholder="Введите email"
                            v-model="model.email"/>
            </div>
            <div class="d-flex flex-column mt-4">
              <span class="secondary--text text-16">Пароль*</span>
              <v-text-field :disabled="loading" hide-details style="border-radius: 13px" class="mt-1" outlined
                            placeholder="Пароль"
                            v-model="model.password"
                            :append-icon="visible ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="visible = !visible"
                            :type="visible ? 'text' : 'password'"
              />
            </div>
            <v-btn :disabled="loading" style="border-radius: 8px" @click="login" class="mt-8 py-7" color="primary">
              <span class="font-weight-medium text-16">Войти</span>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Loader from "@/components/Loader.vue";

export default {
  name: "Login",
  components: {Loader},
  data: () => ({
    model: {},
    visible: false,
    loading: false,
    dialog: false
  }),
  methods: {
    login() {
      this.loading = true
      this.$store
          .dispatch('login', this.model)
          .then((r) => {
            this.$router.push('/dashboard')
            this.loading = false
          })
          .catch(err => {
            console.log(err)
            this.dialog = true;
            this.loading = false;
          })
    },
  },
  created() {
  }
}
</script>

<style lang="scss">
.login {
  .v-input__slot {
    background: #FFFFFF !important;
    border-radius: 8px !important;
  }
}

</style>