<template>
  <v-container>
    <v-row>
      <v-col class="pa-0" cols="12">
        settings
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name:'Settings'
}
</script>


<style scoped>

</style>