<template>
  <div>
    <t-gis-map
        :center="mapCenter"
        :marker="mapMarker"
        :styles="{width: '800px', height: '500px'}"
        :zoom="16"
        @update:marker="handleMarkerUpdate"
    ></t-gis-map>
  </div>
</template>

<script>

import TGisMap from "@/components/tGisMap.vue";

export default {
  components: {TGisMap},
  data: () => ({
    mapCenter: [42.8746, 74.5698],
    mapMarker: [42.8746, 74.5698],
    latitude: 54.98,
    longitude: 82.89,
  }),
  methods: {
    handleMarkerUpdate(newLatLng) {
      this.mapMarker = newLatLng;
      this.latitude = newLatLng[0];
      this.longitude = newLatLng[1];
      console.log(this.mapMarker)
      console.log(this.latitude)
      console.log(this.longitude)
    },
  },
  created() {
  }
}
</script>