<template>
  <v-row class="ma-0 create-wrapper">
    <v-dialog max-width="440" v-model="saveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text class="pa-5 py-10 d-flex flex-column justify-center align-center">
          <span class="font-weight-medium text-20 black--text">Сохранено</span>
          <div class="mt-8">
            <v-btn @click="saveDialog = false" style="width: 192px" class="py-6 px-10" depressed
                   color="black"><span
                class="text-14 font-weight-medium white--text">Закрыть</span>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Пользователи</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')"  class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/users')" class="font-weight-medium grey--text cursor-pointer">Пользователи</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="font-weight-medium primary--text">{{
                  edit ? 'Редактировать рользователя' : 'Добавить рользователя'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn @click="save" v-if="edit" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
            <v-btn @click="create" v-if="!edit" color="primary"><span class="font-normal text-14">Добавить</span>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Имя</span>
                      <v-text-field v-model="model.firstName" placeholder="Имя" dense outlined hide-details/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Фамилия</span>
                      <v-text-field v-model="model.lastName" placeholder="Фамилия" dense outlined hide-details/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Email</span>
                      <v-text-field v-model="model.email" placeholder="Email" dense outlined hide-details/>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between mt-3">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span style="color: #777980" class="font-weight-medium mb-1">Номер телефона</span>
                      <v-text-field v-model="model.phone" dense outlined hide-details>
                        <template v-if="!edit" v-slot:prepend-inner>
                          <span class="text-14 secondary--text">+996</span>
                        </template>
                      </v-text-field>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Роль пользователя</span>
                      <v-autocomplete
                          v-model="model.role"
                          :items="roles"
                          placeholder="Выбрать"
                          outlined
                          dense
                          hide-details
                          item-text="name"
                          return-object
                      >
                        <template #item="{ item, on, attrs }">
                          <v-list-item v-bind="attrs" v-on="on">
                            <v-list-item-content>
                              <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </template>
                      </v-autocomplete>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between mt-3">
<!--                    <div style="width: 100%" class="d-flex flex-column mr-3">-->
<!--                      <span style="color: #777980" class="font-weight-medium mb-1">Страна</span>-->
<!--                      <v-autocomplete placeholder="Выбрать" :items="countries" item-text="description" item-value="name"-->
<!--                                      dense outlined-->
<!--                                      hide-details/>-->
<!--                    </div>-->
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Город</span>
                      <v-autocomplete v-model="model.city" placeholder="Выбрать" :items="cities" item-text="nameRu"
                                      item-value="id"
                                      dense outlined
                                      return-object
                                      hide-details/>
                    </div>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                <span class="font-normal text-18 accent--text">Пароль</span>
                <div class="mt-3">
                  <span style="color: #777980" class="text-14 font-weight-medium">Пароль*</span>
                  <v-text-field class="mt-1" outlined dense hide-details v-model="model.password"
                                :append-icon="visible ? 'mdi-eye' : 'mdi-eye-off'"
                                @click:append="visible = !visible"
                                :type="visible ? 'text' : 'password'"/>
                </div>
                <div class="mt-3">
                  <span style="color: #777980" class="text-14 font-weight-medium">Подтвердите пароль</span>
                  <v-text-field class="mt-1" outlined dense hide-details v-model="verifyPassword"
                                :append-icon="visibleVerify ? 'mdi-eye' : 'mdi-eye-off'"
                                @click:append="visibleVerify = !visibleVerify"
                                :type="visibleVerify ? 'text' : 'password'"
                  />
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'CreateUser',
  data: () => ({
    saveDialog: false,
    edit: false,
    visible: false,
    visibleVerify: false,
    verifyPassword: '',
    model: {},
    roles: [],
    selectedItems: [],
    countries: [
      {name: 'kyrgyzstan', description: 'Кыргызстан'}
    ],
    cities: []
  }),
  computed: {
  },
  methods: {
    getCity() {
      this.$http.get('/cities')
          .then(r => this.cities = r.data)
    },
    getRoles() {
      this.$http.get('/authorities/roles')
          .then(r => this.roles = r.data)
    },
    init() {
      this.$http.get(`/users/${this.$router.currentRoute.params.id}`)
          .then(r => {
            this.model = r.data
          })
    },
    save() {
      this.$http.put('/users', this.model)
          .then(r => {
            this.saveDialog = true;
          })
    },
    create() {
      if (!this.model.phone.startsWith('+996')) {
        this.model.phone = '+996' + this.model.phone;
      }

      this.$http.post('/users', this.model)
          .then(r => {
            this.$router.push('/users');
          })
    }
  },
  created() {
    this.$router.currentRoute.params.id ? this.edit = true : this.edit = false
    if (this.$router.currentRoute.params.id) {
      this.init()
    }
    this.getCity()
    this.getRoles()
  }
}
</script>


<style scoped lang="scss">
.create-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
}
</style>