<template>
  <v-row class="ma-0">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-normal text-24">Пользователи</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')"  class="grey--text cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">Пользователи</span>
            </div>
          </div>
          <v-btn @click="$router.push('/users/create')" class="pa-6" depressed color="primary">
            <v-icon class="mr-1">mdi-plus</v-icon>
            <span class="font-normal text-none">Добавить пользователя</span>
          </v-btn>
        </v-card-text>
        <v-card-text style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
                     class="pa-0 mt-6 d-flex flex-column justify-space-between">
          <v-data-table hide-default-footer :items="data" :headers="headers">
            <template v-slot:item.fullName="{item}">
              <span>{{ item.firstName }} {{ item.lastName }}</span>
            </template>
            <template v-slot:item.photo="{item}">
              <div v-if="item.photo" style="width: 44px; height: 44px;border-radius: 50%">
                <v-img :src="item.photo"/>
              </div>
              <div v-else style="background: #E0E2E7;border-radius: 50%;width: 44px;height: 44px"
                   class="d-flex justify-center align-center">
                <div style="width: 33px;height: 33px">
                  <v-img src="/static/images/nouser.png"/>
                </div>
              </div>
            </template>
            <template v-slot:item.isBlocked="{item}">
              <v-switch @change="update(item)" class="mt-n2" hide-details inset v-model="item.isBlocked"/>
            </template>
            <template v-slot:item.actions="{item}">
              <div class="d-flex justify-center align-center">
                <heroicon @click="$router.push('/users/edit/' + item.id)" class="mr-3 cursor-pointer" name="pencil"
                          fill="#A3A9B6"/>
                <heroicon class="cursor-pointer" name="trash" fill="#A3A9B6"/>
              </div>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
            <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                          :length="1"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    page: 1,
    data: [
      // {
      //   id: 1,
      //   photo: '/static/images/user.png',
      //   email: 'danil@gmail.com',
      //   firstName: 'Данил',
      //   lastName: 'Усманов',
      //   phone: '+996 777 555 444',
      //   role: 'Администратор',
      //   isBlocked: true,
      // },
      // {
      //   id: 2,
      //   photo: '',
      //   email: 'danil@gmail.com',
      //   firstName: 'Данил',
      //   lastName: 'Усманов',
      //   phone: '+996 777 555 444',
      //   role: 'Пользователь',
      //   isBlocked: false,
      // },
    ],
    headers: [
      {text: 'ID', value: 'id', sortable: false, align: 'center', width: '5%'},
      {text: 'Фото', value: 'photo', sortable: false, align: 'center', width: '8%'},
      {text: 'Email', value: 'email', sortable: false, width: '15%'},
      {text: 'ФИО', value: 'fullName', sortable: false},
      {text: 'Номер телефона', value: 'phone', sortable: false, align: 'center'},
      {text: 'Роль ', value: 'role.name', sortable: false},
      {text: 'Заблокировать', value: 'isBlocked', sortable: false, align: 'center'},
      {text: 'Действие', value: 'actions', sortable: false, align: 'center'},
    ]
  }),
  methods: {
    init() {
      this.$http.get('/users')
          .then(r => {
            this.data = r.data
          })
    },
    update(item) {
      this.$http.put(`/users/block/${item.id}?operation=${item.isBlocked ? 'BLOCK' : 'UNBLOCK'}`)
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped>

</style>