<template>
  <v-row class="ma-0 create-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">Города</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/cities')" class="secondary--text cursor-pointer">Города</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">Добавить город</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 pa-6" color="grey"
                   outlined><span
                class="text-14 secondary--text">Отменить</span></v-btn>
            <v-btn class="pa-6" color="primary"><span class="font-weight-medium text-14">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0 pr-6" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="text-20 font-weight-medium black--text">Общая информация</span>
                <div class="mt-5 d-flex justify-space-between">
<!--                  <div style="width: 100%" class="d-flex flex-column">-->
<!--                    <span style="color: #777980" class="font-weight-medium mb-1">Выберите страну</span>-->
<!--                    <v-autocomplete-->
<!--                        :items="countries"-->
<!--                        placeholder="Выбрать"-->
<!--                        outlined-->
<!--                        dense-->
<!--                        hide-details-->
<!--                        item-text="name"-->
<!--                        item-value="id"-->
<!--                        return-object-->
<!--                    >-->
<!--                      <template #item="{ item, on, attrs }">-->
<!--                        <v-list-item v-bind="attrs" v-on="on">-->
<!--                          <v-list-item-content>-->
<!--                            <v-list-item-title>-->
<!--                              <div class="d-flex align-center">-->
<!--                                <div class="mr-3">-->
<!--                                  <v-img width="32" height="32" :src="'data:image/svg+xml;base64,' + item.base64Icon"/>-->
<!--                                </div>-->
<!--                                <span style="color: #191B1C" class="text-14 mt-1">{{ item.name }}</span>-->
<!--                              </div>-->
<!--                            </v-list-item-title>-->
<!--                          </v-list-item-content>-->
<!--                        </v-list-item>-->
<!--                      </template>-->
<!--                    </v-autocomplete>-->
<!--                  </div>-->
                  <div style="width: 100%" class="d-flex flex-column">
                    <span style="color: #777980" class="secondary--text mb-1">Выберите город</span>
                    <v-autocomplete
                        :items="cities"
                        placeholder="Выбрать"
                        v-model="model"
                        outlined
                        dense
                        hide-details
                        item-text="nameRu"
                        item-value="id"
                        return-object
                    />
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <div class="d-flex justify-space-between align-center">
                  <span class="text-18 black--text">Активировать</span>
                  <v-switch v-model="model.visible" class="mt-0" inset hide-details/>
                </div>
                <span class="grey--text mt-4">Активируйте город, если хотите чтобы он отображался</span>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Lang',
  data: () => ({
    edit: false,
    visible: false,
    visibleVerify: false,
    model: {},
    countries: [
      {text: 'Россия', value: 'ru', flag: '/static/images/flags/ru.svg'},
      {text: 'Кыргызстан', value: 'kg', flag: '/static/images/flags/kg.svg'},
      {text: 'Казахстан', value: 'kz', flag: '/static/images/flags/kz.svg'},
    ],
    cities: []
  }),
  methods: {
    init() {
      this.$http.get('/countries')
          .then(r => this.countries = r.data)
      this.$http.get('/cities')
          .then(r => this.cities = r.data)
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped lang="scss">
.create-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
}
</style>