<template>
  <v-row class="ma-0 create-advert-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Реклама</span>
            <div class="d-flex align-center">
              <span @click="$router.push('/dashboard')" class="grey--text font-weight-medium cursor-pointer">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/advertising')" class="font-weight-medium grey--text cursor-pointer">Реклама</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span
                  class="font-weight-medium primary--text">{{
                  edit ? 'Редактировать рекламу' : 'Добавить рекламу'
                }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 pa-6" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Отменить</span></v-btn>
            <v-btn class="pa-6" disabled v-if="edit" color="primary"><span class="font-normal text-14">Сохранить</span></v-btn>
            <v-btn class="pa-6" @click="save" v-if="!edit" color="primary"><span class="font-normal text-14">Добавить</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0" cols="12">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Общая информация</span>
                <div class="mt-3 d-flex flex-column">
                  <div class="d-flex align-center justify-space-between">
<!--                    <div style="width: 100%" class="d-flex flex-column mr-3">-->
<!--                      <span style="color: #777980" class="font-weight-medium mb-1">Заголовок</span>-->
<!--                      <v-text-field v-model="model.title" placeholder="Введите название заголовока" dense outlined-->
<!--                                    hide-details/>-->
<!--                    </div>-->
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="font-weight-medium mb-1">Ссылка</span>
                      <v-text-field v-model="model.link" placeholder="Ссылка" dense outlined hide-details/>
                    </div>
                  </div>
<!--                  <div class="d-flex flex-column mt-3">-->
<!--                    <span style="color: #777980" class="font-weight-medium mb-1">Краткое описание</span>-->
<!--                    <v-textarea v-model="model.description" hide-details outlined no-resize-->
<!--                                placeholder="Введите краткое описание..."/>-->
<!--                  </div>-->
                </div>
              </div>
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Фото для горизонтальной рекламы</span>
                <div @dragover.prevent
                     @drop.prevent="handleDropPC" class="advert_images mt-4 py-6 px-14 d-flex flex-column">
                  <div v-if="!imagePC.fileUrl" class="advert_images__preview">
                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                  </div>
                  <div style="width: 100%" class="d-flex justify-center" v-if="imagePC.fileUrl">
                    <div style="border-radius: 8px" class="advert_image">
                      <div @click="removeImagePC" class="advert_remove cursor-pointer">
                        <heroicon style="margin-right: -10px" class="mb-n2" name="trash" fill="#858D9D"/>
                      </div>
                      <div style="height: 218px;width: 337px">
                        <v-img width="100%" height="100%" style="border-radius: 8px" :src="imagePC.fileUrl"/>
                      </div>
                    </div>
                  </div>
                  <span class="secondary--text text-14 mt-4">Перетащите изображение сюда или нажмите «Добавить изображение».</span>
                  <input type="file" ref="fileInputPC" accept="image/*" style="display: none" @change="handleImageUploadPC">
                  <v-btn @click="triggerFileInputPC" class="mt-4" depressed color="#EFEFEF"><span
                      class="text-14 font-normal primary--text text-none">Добавить изображение</span></v-btn>
                </div>
              </div>

              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6 d-flex flex-column">
                <span class="font-normal text-18 accent--text">Фото для вертикальной рекламы</span>
                <div @dragover.prevent
                     @drop.prevent="handleDropMobile" class="advert_images mt-4 py-6 px-14 d-flex flex-column">
                  <div v-if="!imageMobile.fileUrl" class="advert_images__preview">
                    <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                  </div>
                  <div style="width: 100%" class="d-flex justify-center" v-if="imageMobile.fileUrl">
                    <div style="border-radius: 8px" class="advert_image">
                      <div @click="removeImageMobile" class="advert_remove cursor-pointer">
                        <heroicon style="margin-right: -10px" class="mb-n2" name="trash" fill="#858D9D"/>
                      </div>
                      <div style="width: 337px;height: 218px">
                        <v-img width="100%" height="100%" style="border-radius: 8px" :src="imageMobile.fileUrl"/>
                      </div>
                    </div>
                  </div>
                  <span class="secondary--text text-14 mt-4">Перетащите изображение сюда или нажмите «Добавить изображение».</span>
                  <input type="file" ref="fileInputMobile" accept="image/*" style="display: none" @change="handleImageUploadMobile">
                  <v-btn @click="triggerFileInputMobile" class="mt-4" depressed color="#EFEFEF"><span
                      class="text-14 font-normal primary--text text-none">Добавить изображение</span></v-btn>
                </div>
              </div>
            </v-col>
<!--            <v-col class="pa-0 pl-6" cols="3">-->
<!--              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 advert_top">-->
<!--                <div class="d-flex align-center mb-4">-->
<!--                  <span class="font-normal text-18 accent&#45;&#45;text mr-6">Афиша</span>-->
<!--                  <v-switch @change="changeType" v-model="type" class="mt-0" inset hide-details/>-->
<!--                </div>-->
<!--                <div class="d-flex flex-column">-->
<!--                  <span class="text-14 primary&#45;&#45;text">При выборе Афиша реклама добавится на Главной странице вебсайта в разделе репортажи</span>-->
<!--                  <span class="text-12 primary&#45;&#45;text mt-3">Примечание: Нужно добавить вертикальное фото</span>-->
<!--                </div>-->
<!--              </div>-->
<!--&lt;!&ndash;              <div @click="previewNews" style="background: #FFFFFF;border-radius: 12px;border: 1px solid #858D9D"&ndash;&gt;-->
<!--&lt;!&ndash;                   class="pa-3 mt-6 cursor-pointer">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="d-flex justify-center align-center">&ndash;&gt;-->
<!--&lt;!&ndash;                  <heroicon class="mb-n2" name="eye" fill="#A3A9B6"/>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-14 secondary&#45;&#45;text font-normal">Предпросмотр</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </v-col>-->
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: 'Users',
  data: () => ({
    edit: false,
    model: {
      isPoster: false,
      file: {},
      fileMobile: {},
      fileDesktop: {},
    },
    socialDialog: false,
    imagePC: {
      file: '',
      fileUrl: '',
      dto: {
        source: 'ADVERTISEMENT',
        fileType: 'IMAGE',
        userId: 0,
        isCover: false,
        sourceName: 'ADVERTISEMENT',
        order: 0,
        isLogo: false
      }
    },
    imageMobile: {
      file: '',
      fileUrl: '',
      dto: {
        source: 'ADVERTISEMENT',
        fileType: 'IMAGE',
        userId: 0,
        isCover: false,
        sourceName: 'ADVERTISEMENT',
        order: 0,
        isLogo: false
      }
    },
  }),
  computed: {
    ...mapGetters(["domain"]),
  },
  methods: {
    changeType() {
      this.type ? this.model.type = 'SMALL' : this.model.type = 'BIG'
    },
    async saveImagePC() {
      const formData = new FormData()
      formData.append('file', this.imagePC.file)

      const dtoBlob = new Blob([JSON.stringify(this.imagePC.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}advertisement/images/upload`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          this.model.fileDesktop = jsonResponse
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload cover: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveImageMobile() {
      const formData = new FormData()
      formData.append('file', this.imageMobile.file)

      const dtoBlob = new Blob([JSON.stringify(this.imageMobile.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}advertisement/images/upload`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          this.model.fileMobile = jsonResponse
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload cover: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    previewNews() {

    },
    async handleImageUploadPC(e) {
      const file = e.target.files[0]
      if (file) {
        this.imagePC.file = file
        const fileURL = URL.createObjectURL(file)
        this.imagePC.fileUrl = fileURL
      }
    },
    async handleImageUploadMobile(e) {
      const file = e.target.files[0]
      if (file) {
        this.imageMobile.file = file
        const fileURL = URL.createObjectURL(file)
        this.imageMobile.fileUrl = fileURL
      }
    },
    async handleDropPC(e) {
      const file = e.dataTransfer.files[0]
      if (file) {
        this.imagePC.file = file
        const fileURL = URL.createObjectURL(file)
        this.imagePC.fileUrl = fileURL
      }
    },
    async handleDropMobile(e) {
      const file = e.dataTransfer.files[0]
      if (file) {
        this.imageMobile.file = file
        const fileURL = URL.createObjectURL(file)
        this.imageMobile.fileUrl = fileURL
      }
    },
    removeImagePC() {
      this.imagePC = {
        file: '',
        fileUrl: '',
        dto: {
          source: 'ADVERTISEMENT',
          fileType: 'IMAGE',
          userId: 0,
          isCover: false,
          sourceName: 'advertising',
          order: 0,
          isLogo: false
        }
      }
    },
    removeImageMobile() {
      this.imageMobile = {
        file: '',
        fileUrl: '',
        dto: {
          source: 'ADVERTISEMENT',
          fileType: 'IMAGE',
          userId: 0,
          isCover: false,
          sourceName: 'advertising',
          order: 0,
          isLogo: false
        }
      }
    },
    triggerFileInputPC() {
      this.$refs.fileInputPC.click();
    },
    triggerFileInputMobile() {
      this.$refs.fileInputMobile.click();
    },
    convertFileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.onerror = (error) => {
          reject(error);
        };
        reader.readAsDataURL(file);
      });
    },
    async save() {
      await this.saveImagePC()
      await this.saveImageMobile()
      this.saveContent()
    },
    saveContent() {
      this.$http
          .post('/advertisement', this.model)
          .then(r => this.$router.push('/advertising'))
    },
  },
  created() {
  }
}
</script>


<style scoped lang="scss">
.create-advert-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .advert_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .advert_image {
    position: relative;
    margin-right: 16px;
  }

  .advert_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
  }

  .advert_image:nth-child(n+7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .advert_top {
    .v-input {
      background: none !important;
      width: 70px !important;
    }

    .v-input__control {
      width: 20px !important;
    }
  }

  .advert_logo {
    width: 100px;
    height: 100px;
    background: #E0E2E7;
    border-radius: 50%;
  }
}
</style>