.v-main {
  min-height: 100vh;
}

.v-theme--light {
  .v-main {
    background: $lightbg;
  }

  .v-card .title {
    color: rgba(0, 0, 0, 0.87);
  }
}
.circle_block {
  animation: rotateClockwise 6s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor-pointer {
  cursor: pointer;
}
.font-normal {
  font-weight: 600 !important;
}
.page-wrapper {
  width: 1440px;
  margin: 0 auto 0 auto;
}
.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-720 {
  font-weight: 720 !important;
}

.font-weight-550 {
  font-weight: 550 !important;
}

.font-weight-850 {
  font-weight: 850 !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pt-120 {
  padding-top: 120px;
}

.mt-200 {
  margin-top: 200px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-120 {
  padding-bottom: 120px;
}

.mr-80 {
  margin-right: 80px;
}

.pl-90 {
  padding-left: 90px !important;
}

.font-title {
  font-family: 'ALS Gorizont', sans-serif !important;
}

.opacity {
  opacity: 60%;
}

.page-wrapper {
}

$sizes: (
        "display-1": 44px,
        "display-2": 40px,
        "display-3": 30px,
        "h1": 36px,
        "h2": 30px,
        "h3": 21px,
        "h4": 18px,
        "h5": 16px,
        "h6": 14px,
        "text-8": 8px,
        "text-10": 10px,
        "text-12": 12px,
        "text-13": 13px,
        "text-14": 14px,
        "text-16": 16px,
        "text-18": 18px,
        "text-20": 20px,
        "text-22": 22px,
        "text-24": 24px,
        "text-26": 26px,
        "text-28": 28px,
        "text-32": 32px,
        "text-34": 34px,
        "text-36": 36px,
        "text-44": 44px,
        "text-48": 48px,
        "text-60": 60px,
        "text-62": 62px,
        "text-64": 64px,
        "text-68": 68px,
        "text-82": 82px,
        "text-100": 100px,
        "body-text-1": 10px,
);

@each $pixel, $size in $sizes {
  .#{$pixel} {
    font-size: $size;
    line-height: $size + 10;
  }
}

.feather-sm {
  width: 20px;
  height: 20px;
  display: unset !important;
}

.fixed-width {
  max-width: 1300px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  height: 100vh;
}

.gap-2 {
  gap: 8px;
}

// border
.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

iframe {
  display: none;
}