<template>
  <v-card width="220" class="fill-height d-flex flex-column justify-space-between" flat>
    <div>
      <v-card-text class="pa-6 d-flex flex-column">
        <div class="cursor-pointer" @click="$router.push('/dashboard')" style="width: 39px;height: 40px">
          <v-img src="/static/images/logo.svg"/>
        </div>
      </v-card-text>
      <v-card-text class="px-0 py-0">
        <v-divider class="mb-6 mt-n4"/>
        <span class="grey--text ml-3">Главное</span>
        <div class="d-flex cursor-pointer" @click="activateMenu(index)"
             v-for="(menu,index) in menus" v-if="menu.visible">
          <div class="d-flex align-center px-6 py-3" style="width: 100%"
               :class="activeMenuIndex === index && 'menu'">
            <heroicon class="mr-2" :name="menu.icon"
                      :fill="activeMenuIndex === index ? '#000000' : '#858D9D'"/>
            <span :class="index !== 0 ? 'space-menu' : 'nospace-menu'" class="text-14 font-normal"
                  :style="activeMenuIndex === index ? 'color: #000000' : 'color: #4A4C56'">{{ menu.name }}</span>
          </div>
        </div>

        <v-divider class="mt-2 mb-6"/>
        <span class="grey--text ml-3">Прочее</span>
        <div class="d-flex cursor-pointer" @click="activateOtherMenu(index)"
             v-for="(menu,index) in otherMenus" v-if="menu.visible">
          <div class="d-flex align-center px-6 py-3" style="width: 100%"
               :class="activeOtherMenuIndex === index && 'menu'">
            <heroicon class="mr-2" :name="menu.icon"
                      :fill="activeOtherMenuIndex === index ? '#000000' : '#858D9D'"
                      :stroke="activeOtherMenuIndex === index ? '#000000' : '#858D9D'"/>
            <span :class="index !== 0 ? 'space-menu' : 'nospace-menu'" class="text-14 font-normal"
                  :style="activeOtherMenuIndex === index ? 'color: #000000' : 'color: #4A4C56'">{{ menu.name }}</span>
          </div>
        </div>

        <v-divider class="mt-2 mb-6"/>
        <span class="grey--text ml-3">Справочники</span>
        <div class="d-flex cursor-pointer" @click="activateDecirtoriesMenu(index)"
             v-for="(menu,index) in directories" v-if="menu.visible">
          <div class="d-flex align-center px-6 py-3" style="width: 100%"
               :class="activeDecirtoriesMenuIndex === index && 'menu'">
            <heroicon class="mr-2" :name="menu.icon"
                      :fill="activeDecirtoriesMenuIndex === index ? '#000000' : '#858D9D'"
                      :stroke="activeDecirtoriesMenuIndex === index ? '#000000' : '#858D9D'"/>
            <span :class="index !== 0 ? 'space-menu' : 'nospace-menu'" class="text-14 font-normal"
                  :style="activeDecirtoriesMenuIndex === index ? 'color: #000000' : 'color: #4A4C56'">{{ menu.name }}</span>
          </div>
        </div>

      </v-card-text>
    </div>
  </v-card>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import {mapGetters} from "vuex";

export default {
  name: "app-drawer",
  components: {
    VuePerfectScrollbar,
  },
  data: () => ({
    exitDialog: false,
    scrollSettings: {
      maxScrollbarLength: 160
    },
    activeMenuIndex: null,
    activeOtherMenuIndex: null,
    activeDecirtoriesMenuIndex: null,
    search: '',
    menus: [
      {icon: 'dashboard', name: 'Дашборд', path: 'dashboard'},
      {icon: 'reports', name: 'Репортажи', path: 'reports'},
      {icon: 'video', name: 'Видео', path: 'videos'},
      {icon: 'establishments', name: 'Заведения', path: 'establishments'},
      {icon: 'news', name: 'Новости', path: 'news'},
    ],
    otherMenus: [
      {icon: 'roles', name: 'Роли', path: 'roles'},
      {icon: 'users', name: 'Пользователи', path: 'users'},
      {icon: 'camera', name: 'Фотографы', path: 'photographers'},
      {icon: 'banners', name: 'Реклама', path: 'advertising'},
      {icon: 'poster', name: 'События', path: 'posters'},
      {icon: 'contacts', name: 'Контакты', path: 'contacts'},
    ],
    directories: [
      {icon: 'cities', name: 'Города', path: 'cities'},
      {icon: 'lang', name: 'Языки', path: 'languages'},
      {icon: 'book', name: 'Заведения', path: 'category/establishment'},
      {icon: 'kitchen', name: 'Кухни', path: 'category/kitchen'},
      {icon: 'poster', name: 'События', path: 'category/events'},
    ],
  }),
  mounted() {
    this.getUser()
  },
  computed: {
    ...mapGetters(["userId"]),
    active() {
      return views => !!views.find(v => ('/' + v.view) === this.$route.path)
    },
  },
  watch: {
    '$route.path': {
      immediate: true,
      handler(newVal) {
        const matchedMenu = this.menus.findIndex(menu => newVal.includes(menu.path));
        if (matchedMenu !== -1) {
          this.activeMenuIndex = matchedMenu;
        }
      }
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
      this.exitDialog = false
    },
    getUser() {
      this.$http.get(`/users/${this.userId}`)
          .then(response => {
            console.log(response.data)
            const userPermissions = response.data.role.permissions.map(permission => permission.code);
            this.showMenus(userPermissions);
          })
          .catch(error => {
            console.error('Error fetching user permissions:', error);
          });
    },
    showMenus(userPermissions) {
      console.log('User permissions:', userPermissions);

      this.menus.forEach((menu, index) => {
        let visible = false;
        switch (menu.path) {
          case 'dashboard':
            visible = true;
            break;
          case 'reports':
            visible = userPermissions.includes('albums_view') || userPermissions.includes('albums_edit');
            break;
          case 'videos':
            visible = userPermissions.includes('video_reports_view') || userPermissions.includes('video_reports_edit');
            break;
          case 'establishments':
            visible = userPermissions.includes('establishments_view') || userPermissions.includes('establishments_edit');
            break;
            case 'news':
              visible = userPermissions.includes('posts_view') || userPermissions.includes('posts_edit');
              break;
          default:
            break;
        }
        this.$set(this.menus, index, {...menu, visible});
      });

      this.otherMenus.forEach((menu, index) => {
        let visible = false;
        switch (menu.path) {
          case 'roles':
            visible = userPermissions.includes('role_view') || userPermissions.includes('role_edit');
            break;
          case 'users':
            visible = userPermissions.includes('admins_view') || userPermissions.includes('admins_edit');
            break;
          case 'photographers':
            visible = userPermissions.includes('photographers_view') || userPermissions.includes('photographers_edit');
            break;
          case 'advertising':
            visible = true;
            break;
          case 'posters':
            visible = userPermissions.includes('posters_view') || userPermissions.includes('posters_edit');
            break;
          case 'posters':
            visible = userPermissions.includes('posters_view') || userPermissions.includes('posters_edit');
            break;
          default:
            break;
        }
        this.$set(this.otherMenus, index, {...menu, visible});
      });

      this.directories.forEach((menu, index) => {
        let visible = false;
        switch (menu.path) {
          case 'cities':
            visible = userPermissions.includes('city_dict_view') || userPermissions.includes('city_dict_edit');
            break;
          case 'languages':
            visible = userPermissions.includes('language_dict_view') || userPermissions.includes('language_dict_edit');
            break;
          case 'category/establishment':
            visible = userPermissions.includes('categories_view') || userPermissions.includes('categories_edit');
            break;
          case 'category/kitchen':
            visible = userPermissions.includes('categories_view') || userPermissions.includes('categories_edit');
            break;
          case 'category/events':
            visible = userPermissions.includes('categories_view') || userPermissions.includes('categories_edit');
            break;
          default:
            break;
        }
        this.$set(this.directories, index, {...menu, visible});
      });

      // Проверьте также другие группы табов и установите флаг видимости соответственно
    },
    activateMenu(index) {
      if (this.menus[index].visible) {
        this.activeMenuIndex = index;
        this.activeOtherMenuIndex = null;
        this.activeDecirtoriesMenuIndex = null;
        this.$router.push(`/${this.menus[index].path}`)
      }
    },
    activateOtherMenu(index) {
      if (this.otherMenus[index].visible) {
        this.activeOtherMenuIndex = index;
        this.activeDecirtoriesMenuIndex = null;
        this.activeMenuIndex = null;
        this.$router.push(`/${this.otherMenus[index].path}`)
      }
    },
    activateDecirtoriesMenu(index) {
      if (this.directories[index].visible) {
        this.activeDecirtoriesMenuIndex = index;
        this.activeOtherMenuIndex = null;
        this.activeMenuIndex = null;
        this.$router.push(`/${this.directories[index].path}`)
      }
    }
  },
};
</script>

<style lang="scss">
.menu {
  background: #F5F5F5;
  border-right: 4px solid #000000;
}

.v-input__slot {
  background: #FAFAFA !important;
}

.active-menu {
  padding-top: 12px;
  color: #000000;

  &:first-child {
    padding-top: 0;
  }
}

.space-menu {
  margin-top: 5px;
}

.nospace-menu {
  margin-top: -5px !important;
}
</style>
