<template>
  <div style="overflow: hidden;position: absolute;width: 100%;height: 100%">
    <vue-marquee-slider
        id="marquee-slider-loop"
        :speed="12000"
        :width="480"
        :space="32"
    >
      <div @click="openImage(index)" v-for="(image, index) in images"
           style="position: relative;overflow: hidden;border-radius: 20px"
           class="cursor-pointer">
        <div style="background: #00000066;position: absolute;width: 480px;height: 360px;overflow: hidden"></div>
        <img
            style="width: 480px;height: 360px;;background: #00000066;"
            :key="index"
            :src="image.url"
        />
      </div>
    </vue-marquee-slider>
    <v-dialog v-model="dialog" max-width="600">
        <v-img :src="selectedImage"/>
    </v-dialog>
  </div>
</template>

<script>

export default {
  name: 'ImageCarousel',
  data() {
    return {
      images: [
        {url: '/static/images/marq-1.svg'},
        {url: '/static/images/marq-2.svg'},
        {url: '/static/images/marq-1.svg'},
        {url: '/static/images/marq-2.svg'},
        {url: '/static/images/marq-1.svg'},
        {url: '/static/images/marq-2.svg'},
      ],
      dialog: false,
      selectedImage: null,
    };
  },
  methods: {
    openImage(index) {
      this.selectedImage = this.images[index].url;
      this.dialog = true;
    },
  },
};
</script>

<style scoped>

</style>
