<template>
  <svg width="311" height="312" viewBox="0 0 311 312" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M68.5154 81.9709L86.2729 97.6718L87.9117 95.7962L70.1542 80.0811L76.2287 73.0761L45.1496 45.7949L31.8703 61.098L62.9495 88.3791L68.5154 81.9709Z" fill="white" class="svg-elem-1"></path>
    <path d="M86.2447 65.0144L100.131 84.5233L103.282 82.2499L89.395 62.7126L95.8792 57.9952L71.6516 24.4053L56.55 35.4172L80.7776 69.0071L86.2447 65.0144Z" fill="white" class="svg-elem-2"></path>
    <path d="M106.94 52.4201L116.321 74.7992L121.195 72.7247L111.786 50.3172L117.931 47.6459L101.586 9.55176L85.8914 16.3721L102.236 54.4662L106.94 52.4201Z" fill="white" class="svg-elem-3"></path>
    <path d="M129.839 44.4734L134.247 68.6854L140.816 67.4777L136.394 43.2088L141.536 42.2141L133.78 1.46289L118.523 4.40414L126.279 45.1554L129.839 44.4734Z" fill="white" class="svg-elem-4"></path>
    <path d="M154.152 41.5469L153.22 66.4694L161.301 66.7678L162.233 41.7885L165.849 41.9022L167.135 0.440477L153.149 0L151.864 41.4759L154.152 41.5469Z" fill="white" class="svg-elem-5"></path>
    <path d="M179.078 44.0509L172.636 68.3766L181.804 70.8205L188.246 46.4806L189.998 46.9353L200.48 6.80922L188.444 3.64062L177.976 43.7667L179.078 44.0509Z" fill="white" class="svg-elem-6"></path>
    <path d="M181.29 275.586L186.39 274.649L180.555 242.607L165.27 245.421L171.105 277.462L174.721 276.794L181.007 309.802L187.576 308.537L181.29 275.586Z" fill="white" class="svg-elem-7"></path>
    <path d="M83.6551 245.094L100.056 226.054L92.8799 219.816L76.5068 238.828L75.6451 238.075L48.5215 269.335L57.8876 277.562L85.0112 246.302L83.6551 245.094Z" fill="white" class="svg-elem-8"></path>
    <path d="M65.2003 226.076L85.2181 211.27L80.4291 204.72L60.4536 219.497L59.1116 217.636L25.7156 242.004L33.9375 253.385L67.3193 229.017L65.2003 226.076Z" fill="white" class="svg-elem-9"></path>
    <path d="M51.8287 203.8L74.2764 193.826L71.5781 187.688L49.187 197.62L47.7461 194.28L9.87189 210.72L16.0312 225.071L53.9054 208.631L51.8287 203.8Z" fill="white" class="svg-elem-10"></path>
    <path d="M44.9359 127.948L67.8497 133.902L68.4713 131.472L45.5716 125.533L47.7189 117.292L7.82453 106.763L2.69647 126.414L42.5908 136.942L44.9359 127.948Z" fill="white" class="svg-elem-11"></path>
    <path d="M54.4554 102.983L75.3067 114.094L75.8152 113.128L54.964 102.031L59.8095 92.8377L23.348 73.4141L13.1625 92.7524L49.624 112.176L54.4554 102.983Z" fill="white" class="svg-elem-12"></path>
    <path d="M235.257 249.865L216.313 223.252L201.155 234.164L220.085 260.778L225.622 256.799L244.764 283.327L247.915 281.026L228.787 254.526L235.257 249.865Z" fill="white" class="svg-elem-13"></path>
    <path d="M212.17 265.086L199.554 235.006L183.803 241.684L196.418 271.764L201.207 269.733L214.274 300.197L219.134 298.094L206.081 267.672L212.17 265.086Z" fill="white" class="svg-elem-14"></path>
    <path d="M158.956 278.206L160.171 245.739L146.185 245.213L144.97 277.68L147.315 277.766L146.256 311.753L154.336 311.995L155.382 278.078L158.956 278.206Z" fill="white" class="svg-elem-15"></path>
    <path d="M130.932 275.443L139.239 244.113L127.217 240.901L118.924 272.232L120.055 272.53L111.409 305.68L120.577 308.095L129.209 274.974L130.932 275.443Z" fill="white" class="svg-elem-16"></path>
    <path d="M118.535 237.401L108.915 232.286L97.1754 254.566L95.9323 256.953L93.8697 260.86L77.8781 291.239L87.4844 296.354L104.31 264.398L118.535 237.401Z" fill="white" class="svg-elem-17"></path>
    <path d="M67.5708 174.554L66.5395 169.339L42.8629 174.099L41.9022 169.041L1.38632 176.842L4.59312 193.722L45.109 185.921L43.8517 179.328L67.5708 174.554Z" fill="white" class="svg-elem-18"></path>
    <path d="M65.4357 150.401L41.6037 149.818L41.8156 143.012L0.579202 141.733L0 160.475L41.2364 161.768L41.4765 153.712L65.351 154.308L65.4357 150.401Z" fill="white" class="svg-elem-19"></path>
    <path d="M191.9 74.698L201.52 79.8132L213.26 57.5194L232.571 20.8603L222.951 15.7451L205.942 48.0563L191.9 74.698Z" fill="white" class="svg-elem-20"></path>
    <path d="M230.365 60.5767L209.259 85.0872L218.668 93.2715L239.759 68.7611L238.417 67.596L260.794 41.7925L253.66 35.5264L231.255 61.344L230.365 60.5767Z" fill="white" class="svg-elem-21"></path>
    <path d="M249.509 79.1861L223.473 98.4392L231.766 109.764L257.787 90.5106L255.682 87.6262L282.99 67.691L278.243 61.1123L250.893 81.0759L249.509 79.1861Z" fill="white" class="svg-elem-22"></path>
    <path d="M268.185 110.583L298.812 97.2839L296.157 91.1172L265.487 104.431L264.004 101.035L234.366 114.193L240.638 128.487L270.276 115.343L268.185 110.583Z" fill="white" class="svg-elem-23"></path>
    <path d="M276.899 142.18L275.599 135.658L307.95 129.421L306.947 124.206L274.554 130.444L273.536 125.314L241.709 131.723L245.057 148.589L276.899 142.18Z" fill="white" class="svg-elem-24"></path>
    <path d="M245.268 150.379L244.816 169.135L277.336 169.93L277.534 161.945L310.083 162.954L310.21 159.046L277.633 158.038L277.803 151.175L245.268 150.379Z" fill="white" class="svg-elem-25"></path>
    <path d="M244.805 169.574L239.776 189.183L229.972 207.796L216.679 223L241.175 244.668L246.783 238.246L271.109 259.602L272.748 257.712L248.422 236.356L254.51 229.408L231.554 209.104L258.678 223.554L263.509 214.361L291.918 229.493L292.427 228.527L264.018 213.395L268.849 204.216L241.74 189.765L271.335 197.452L273.638 188.486L304.859 196.728L305.494 194.312L274.26 186.057L276.393 177.787L244.805 169.574Z" fill="white" class="svg-elem-26"></path>
  </svg>


</template>

<script setup>

</script>

<style scoped>
/***************************************************
 * Generated by SVG Artista on 10/20/2023, 6:29:48 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.9s linear 0.1s both;
  animation: animate-svg-fill-1 0.9s linear 0.1s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.9s linear 0.2s both;
  animation: animate-svg-fill-2 0.9s linear 0.2s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.9s linear 0.30000000000000004s both;
  animation: animate-svg-fill-3 0.9s linear 0.30000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.9s linear 0.4s both;
  animation: animate-svg-fill-4 0.9s linear 0.4s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.9s linear 0.5s both;
  animation: animate-svg-fill-5 0.9s linear 0.5s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.9s linear 0.6s both;
  animation: animate-svg-fill-6 0.9s linear 0.6s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.9s linear 0.7000000000000001s both;
  animation: animate-svg-fill-7 0.9s linear 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.9s linear 0.8s both;
  animation: animate-svg-fill-8 0.9s linear 0.8s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.9s linear 0.9s both;
  animation: animate-svg-fill-9 0.9s linear 0.9s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-fill-10 0.9s linear 1s both;
  animation: animate-svg-fill-10 0.9s linear 1s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-fill-11 0.9s linear 1.1s both;
  animation: animate-svg-fill-11 0.9s linear 1.1s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-fill-12 0.9s linear 1.2000000000000002s both;
  animation: animate-svg-fill-12 0.9s linear 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-fill-13 0.9s linear 1.3000000000000003s both;
  animation: animate-svg-fill-13 0.9s linear 1.3000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-fill-14 0.9s linear 1.4000000000000001s both;
  animation: animate-svg-fill-14 0.9s linear 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-fill-15 0.9s linear 1.5000000000000002s both;
  animation: animate-svg-fill-15 0.9s linear 1.5000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-fill-16 0.9s linear 1.6s both;
  animation: animate-svg-fill-16 0.9s linear 1.6s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-fill-17 0.9s linear 1.7000000000000002s both;
  animation: animate-svg-fill-17 0.9s linear 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-fill-18 0.9s linear 1.8000000000000003s both;
  animation: animate-svg-fill-18 0.9s linear 1.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-fill-19 0.9s linear 1.9000000000000001s both;
  animation: animate-svg-fill-19 0.9s linear 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-fill-20 0.9s linear 2s both;
  animation: animate-svg-fill-20 0.9s linear 2s both;
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-fill-21 0.9s linear 2.1s both;
  animation: animate-svg-fill-21 0.9s linear 2.1s both;
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-fill-22 0.9s linear 2.2s both;
  animation: animate-svg-fill-22 0.9s linear 2.2s both;
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-fill-23 0.9s linear 2.3000000000000003s both;
  animation: animate-svg-fill-23 0.9s linear 2.3000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-fill-24 0.9s linear 2.4000000000000004s both;
  animation: animate-svg-fill-24 0.9s linear 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-fill-25 0.9s linear 2.5000000000000004s both;
  animation: animate-svg-fill-25 0.9s linear 2.5000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-fill-26 0.9s linear 2.6s both;
  animation: animate-svg-fill-26 0.9s linear 2.6s both;
}

</style>