<template>
  <div>
    <div id="2GisMap" :style="styles"></div>
  </div>
</template>

<script>
import gMap from '2gis-maps';
import axios from 'axios';

export default {
  props: {
    center: {
      type: Array,
      default: () => [42.8746, 74.5698] // Координаты Бишкека, Кыргызстан
    },
    marker: {
      type: Array,
      default: () => [42.8746, 74.5698] // Координаты Бишкека, Кыргызстан
    },
    zoom: {
      type: Number,
      default: 13
    },
    styles: {
      type: Object,
      default: () => {
        return { width: '500px', height: '400px' };
      }
    }
  },
  data() {
    return {
      // searchQuery: '',
      map: null,
    };
  },
  methods: {
    init() {
      gMap.then(() => {
        this.map = DG.map('2GisMap', {
          center: this.center,
          zoom: this.zoom
        });

        const marker = DG.marker(this.marker).addTo(this.map);

        this.map.on('click', (event) => {
          const newLatLng = [event.latlng.lat, event.latlng.lng];
          marker.setLatLng(newLatLng);
          this.$emit('update:marker', newLatLng);
        });
      });
    },
    // async performSearch() {
    //   const apiKey = 'b3638103-7272-4c79-ad19-9727644a83e2'; // Ваш ключ API
    //   const city = 'Бишкек'; // Город
    //   const apiUrl = `https://catalog.api.2gis.com/3.0/items?q=${encodeURIComponent(`${city} ${this.searchQuery}`)}&type=branch&key=${apiKey}`;
    //
    //   try {
    //     const response = await axios.get(apiUrl);
    //     const firstResult = response.data.result.items[0];
    //
    //     if (firstResult) {
    //       const { name, id } = firstResult;
    //       this.getPlaceDetails(id, name);
    //     }
    //   } catch (error) {
    //     console.error('Ошибка при выполнении запроса:', error);
    //   }
    // },
    // async getPlaceDetails(placeId, placeName) {
    //   const apiKey = 'b3638103-7272-4c79-ad19-9727644a83e2'; // Ваш ключ API
    //   const apiUrl = `https://catalog.api.2gis.com/3.0/items/byid?id=${placeId}&key=${apiKey}`;
    //
    //   try {
    //     const response = await axios.get(apiUrl);
    //     const placeDetails = response.data.result;
    //
    //     if (placeDetails) {
    //       const { lat, lon } = placeDetails;
    //       const newLatLng = [lat, lon];
    //
    //       // Обновляем маркер на карте
    //       const marker = DG.marker(newLatLng).addTo(this.map);
    //       this.map.setView(newLatLng, this.zoom);
    //
    //       // Эмиттируем обновление маркера
    //       this.$emit('update:marker', newLatLng);
    //
    //       // Отображаем всплывающую подсказку с именем места
    //       marker.bindPopup(placeName).openPopup();
    //     }
    //   } catch (error) {
    //     console.error('Ошибка при выполнении запроса для получения деталей места:', error);
    //   }
    // },
  },
  // watch: {
  //   searchQuery(newQuery) {
  //     // Отслеживаем изменения в запросе поиска и выполняем поиск
  //     if (newQuery && this.map) {
  //       this.performSearch();
  //     }
  //   },
  // },
  created() {
    this.init();
  },
};
</script>
