<template>
  <div>
    <video :id="id" ref="videoPlayer" class="video-js"></video>
  </div>
</template>

<script>
import "video.js/dist/video-js.css";
import videojs from 'video.js';

export default {
  name: 'VideoPlayer',
  props: {
    id: {
      type: String
    },
    file: {type: String, default: ''}
  },
  data() {
    return {
      player: null,
      videoOptions: {
        autoplay: false,
        liveui: true,
        controls: true,
        sources: [
          {
            src: '',
            type: 'video/mp4'
          }
        ],
        poster: "",
      },
    }
  },
  watch: {
    file(newFile) {
      this.videoOptions.sources[0].src = newFile;
      if (this.player) {
        this.player.src(this.videoOptions.sources);
        this.player.load();
      }
    }
  },
  created() {
    this.videoOptions.sources[0].src = this.file
  },
  mounted() {
    this.player = videojs(this.$refs.videoPlayer, this.videoOptions, () => {
      this.player.log('onPlayerReady', this);
    });
  },
  beforeDestroy() {
    if (this.player) {
      this.player.dispose();
    }
  }
}
</script>

<style>
.video-js {
  position: relative;
  width: 540px !important;
  height: 300px !important;
  border-radius: 16px !important;
  overflow: hidden;
}
</style>