<template>
  <v-row class="ma-0 create-estab-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <div>
              <span class="black--text font-weight-medium text-24">Заведение</span>
              <div class="d-flex align-center mt-3">
                                <span @click="$router.push('/dashboard')" class="secondary--text cursor-pointer"
                                >Дашборд</span
                                >
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span @click="$router.push('/establishments')" class="secondary--text cursor-pointer"
                >Заведения</span
                >
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span class="black--text">{{
                    edit ? 'Редактировать заведение' : 'Добавить заведение'
                  }}</span>
              </div>
            </div>
            <div class="d-flex justify-space-between align-center mt-6 estab_filter__wrapper">
              <div class="estab_filter">
                <v-btn
                    @click="filterTab('MAIN')"
                    :text="activeTab !== 'MAIN'"
                    class="mr-3 px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'MAIN' ? 'grey--text' : ''"
                >Главная</span
                >
                </v-btn>
                <v-btn
                    @click="filterTab('INTERIOR')"
                    :text="activeTab !== 'INTERIOR'"
                    class="mr-3 px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'INTERIOR' ? 'grey--text' : ''"
                >Интерьер</span
                >
                </v-btn>
                <v-btn
                    v-if="model.categories[0]?.fastFood"
                    @click="filterTab('KITCHEN')"
                    :text="activeTab !== 'KITCHEN'"
                    class="mr-3 px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'KITCHEN' ? 'grey--text' : ''"
                >Кухня</span
                >
                </v-btn>
                <v-btn
                    v-if="model.categories[0]?.fastFood"
                    @click="filterTab('BAR')"
                    :text="activeTab !== 'BAR'"
                    class="mr-3 px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'BAR' ? 'grey--text' : ''"
                >Бар</span
                >
                </v-btn>
                <v-btn
                    @click="filterTab('PECULIARITIES')"
                    :text="activeTab !== 'PECULIARITIES'"
                    class="px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'PECULIARITIES' ? 'grey--text' : ''"
                >Особенности</span
                >
                </v-btn>
                <v-btn
                    @click="filterTab('CONTACTS')"
                    :text="activeTab !== 'CONTACTS'"
                    class="px-8"
                    max-width="120"
                    depressed
                    color="primary"
                ><span
                    class="text-none font-weight-medium"
                    :class="activeTab !== 'CONTACTS' ? 'grey--text' : ''"
                >Локация</span
                >
                </v-btn>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <v-btn
                style="border: 1px solid #858D9D !important;"
                @click="$router.go(-1)"
                class="mr-4 py-5 px-4"
                color="grey"
                outlined
            ><span class="font-normal text-14 secondary--text">Отменить</span></v-btn
            >
            <v-btn :disabled="loading" @click="save" class="py-5 px-4" color="primary"
            ><span class="font-normal text-14">{{ edit ? 'Сохранить' : 'Добавить' }}</span></v-btn
            >
          </div>
        </v-card-text>
        <template v-if="loading">
          <v-card-text class="d-flex align-center justify-center mt-120">
            <div>
              <v-img width="250" class="circle_block" src="/static/images/logo.svg"/>
            </div>
          </v-card-text>
        </template>
        <template v-if="!loading">
          <v-card-text v-if="activeTab === 'MAIN'" class="pa-0 mt-6">
            <v-row class="ma-0">
              <v-col class="pa-0" cols="9">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                  <span class="font-normal text-20 black--text">Общая информация</span>
                  <div class="mt-5 d-flex flex-column">
                    <div class="d-flex align-center justify-space-between">
                      <div style="width: 100%" class="d-flex flex-column mr-3">
                                                <span style="color: #777980" class="grey--text mb-1"
                                                >Название заведения</span
                                                >
                        <v-text-field
                            :rules="[$rule.required]"
                            v-model="model.name"
                            placeholder="Название"
                            dense
                            outlined
                            hide-details
                        />
                      </div>
                      <div style="width: 100%" class="d-flex flex-column">
                                                <span style="color: #777980" class="grey--text mb-1"
                                                >Тип заведения</span
                                                >
                        <v-autocomplete
                            :rules="[$rule.required]"
                            :items="categories.filter(el => el.type === 'ESTABLISHMENT')"
                            item-text="nameRu"
                            item-value="id"
                            return-object
                            v-model="model.categories[0]"
                            placeholder="Тип заведения"
                            dense
                            outlined
                            hide-details
                        />
                      </div>
                    </div>
                    <div class="d-flex flex-column mt-4">
                      <span style="color: #777980" class="grey--text mb-1">Описание</span>
                      <vue-editor v-model="model.description" :editorToolbar="customToolbar">
                      </vue-editor>
                    </div>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Дополнительная информация</span>
                  <div class="d-flex align-center justify-space-between mt-5">
                    <div
                        v-if="model.categories[0]?.fastFood"
                        style="width: 100%"
                        class="d-flex flex-column mr-3"
                    >
                      <span style="color: #777980" class="grey--text mb-1">Тип кухни</span>
                      <v-autocomplete
                          multiple
                          :rules="[$rule.required]"
                          hide-details
                          dense
                          outlined
                          v-model="model.cousinTypes"
                          :items="categories.filter(el => el.type === 'COUSIN')"
                          item-text="nameRu"
                      />
                    </div>
                    <div style="width: 100%" class="d-flex align-center">
                      <div style="width: 100%" class="d-flex flex-column mr-3">
                                                <span style="color: #777980" class="grey--text mb-1"
                                                >Часы работы c</span
                                                >
                        <v-text-field
                            :rules="[$rule.required]"
                            v-model="hoursAfter"
                            style="width: 100%"
                            placeholder="С"
                            type="time"
                            dense
                            outlined
                            hide-details
                        />
                      </div>
                      <div style="width: 100%" class="d-flex flex-column">
                                                <span style="color: #777980" class="grey--text mb-1"
                                                >Часы работы до</span
                                                >
                        <v-text-field
                            :rules="[$rule.required]"
                            v-model="hoursBefore"
                            style="width: 100%"
                            placeholder="До"
                            type="time"
                            dense
                            outlined
                            hide-details
                        />
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-center justify-space-between mt-4">
                    <div
                        v-if="model.categories[0]?.fastFood"
                        style="width: 100%"
                        class="d-flex flex-column mr-3"
                    >
                      <span style="color: #777980" class="grey--text mb-1">Средний чек</span>
                      <v-text-field
                          :rules="[$rule.required, $rule.number]"
                          v-model="model.averageCheck"
                          placeholder="0 KGZ"
                          dense
                          outlined
                          hide-details
                      />
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="grey--text mb-1">Онлайн-соцсеть</span>
                      <v-text-field
                          :rules="[$rule.required]"
                          placeholder="Сайт или соцсеть"
                          v-model="model.link"
                          style="width: 100%"
                          dense
                          outlined
                          hide-details
                      >
                      </v-text-field>
                    </div>
                  </div>
                  <div class="d-flex align-center mt-4">
                    <div style="width: 100%" class="d-flex flex-column mr-3">
                      <span class="grey--text mb-1">Адрес</span>
                      <v-text-field
                          placeholder="Введите адрес"
                          v-model="model.address"
                          style="width: 100%"
                          dense
                          outlined
                          hide-details
                      >
                      </v-text-field>
                    </div>
                    <div style="width: 100%" class="d-flex flex-column">
                      <span style="color: #777980" class="grey--text mb-1">Номер телефона</span>
                      <v-text-field
                          :rules="[$rule.phone]"
                          placeholder="+996"
                          v-model="model.phone"
                          style="width: 100%"
                          dense
                          outlined
                          hide-details
                      >
                      </v-text-field>
                    </div>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Фотографии</span>
                  <div class="estab_images mt-5 py-6 px-14 d-flex flex-column">
                    <div
                        v-if="
                                                edit
                                                    ? !images.urls.length
                                                        ? !model.images.filter(el => !el.isLogo).length
                                                        : !images.urls.length
                                                    : !images.urls.length
                                            "
                        class="estab_images__preview"
                    >
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-wrap">
                      <div
                          v-for="(image, index) in (edit
                                                    ? model.images.filter(el => el.source === 'ESTABLISHMENT')
                                                    : images.urls
                                                ).filter(img => !img.isLogo)"
                          style="width: 100px; height: 100px; border-radius: 8px"
                          class="estab_image"
                      >
                        <div
                            v-if="
                                                        edit
                                                            ? model.images.filter(el => el.source === 'ESTABLISHMENT')
                                                                  .length
                                                            : images.urls.length
                                                    "
                            @click="removeImage(image)"
                            class="estab_remove cursor-pointer"
                        >
                          <heroicon
                              style="margin-right: -10px"
                              class="mb-n2"
                              name="trash"
                              fill="#858D9D"
                          />
                        </div>
                        <v-img
                            style="border-radius: 8px"
                            width="100%"
                            height="100%"
                            :src="edit ? 'data:image/png;base64,' + image.file : image.url"
                        />
                      </div>
                    </div>
                    <span class="secondary--text text-14 mt-4">Загрузите фотографии заведения</span>
                    <input
                        type="file"
                        ref="fileInput"
                        accept="image/*"
                        style="display: none"
                        @change="handleImageUpload"
                        multiple
                    />
                    <v-btn
                        @click="triggerFileInput"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-12"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Добавить изображение</span
                    ></v-btn
                    >
                  </div>
                </div>
              </v-col>
              <v-col class="pa-0 pl-6" cols="3">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mb-6 estab_top">
                  <div class="d-flex justify-space-between align-center mb-4">
                    <span class="font-normal text-20 black--text">Топ заведение</span>
                    <v-switch v-model="model.top" class="mt-0" inset hide-details/>
                  </div>
                  <span class="text-14 grey--text"
                  >При выборе Топ Заведение, заведения окажутся на глваной странице вебсайта</span
                  >
                </div>
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6">
                  <span class="font-normal text-20 black--text">Фото Обложки</span>
                  <!--                  {{model.images.find(el => el.isLogo)}}-->
                  <div
                      style="background:#f9f9fc;border-radius: 8px;border: 1px solid #E0E2E7"
                      class="mt-5 pa-6 d-flex flex-column align-center text-center"
                      @dragover.prevent
                      @drop.prevent="handleDrop"
                  >
                    <div
                        v-if="
                                                edit ? (!logo.fileUrl ? findLogoImage() : logo.fileUrl) : logo.fileUrl
                                            "
                        class="estab_logo"
                    >
                      <v-img
                          width="100%"
                          height="100%"
                          style="border-radius: 50%"
                          :src="
                                                    edit
                                                        ? !logo.fileUrl
                                                            ? findLogoImage()
                                                            : logo.fileUrl
                                                        : logo.fileUrl
                                                "
                      />
                    </div>
                    <div v-else class="d-flex justify-center align-center estab_images__preview">
                      <heroicon class="mr-n1 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <span class="text-14 secondary--text mt-4"
                    >Выберите фото для обложки заведения</span
                    >
                    <input
                        type="file"
                        ref="logoInput"
                        accept="image/*"
                        style="display: none"
                        @change="handleLogoUpload"
                    />
                    <v-btn
                        @click="triggerLogoInput"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-8"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Выбрать обложку</span
                    ></v-btn
                    >
                  </div>
                </div>
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 mt-6">
                  <div class="mb-4">
                    <span class="text-18 black--text">Выбор города</span>
                  </div>
                  <div style="width: 100%" class="d-flex flex-column mt-3">
                    <span style="color: #777980" class="grey--text mb-1">Город</span>
                    <v-autocomplete
                        :rules="[$rule.required]"
                        :items="cities"
                        v-model="model.city"
                        item-text="nameRu"
                        item-value="id"
                        return-object
                        dense
                        outlined
                        hide-details
                    />
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="activeTab === 'INTERIOR'" class="pa-0 mt-6">
            <div class="d-flex justify-center align-center" v-if="!interiorTab">
              <div @click="interiorTab = true" class="add_block px-3 py-2 cursor-pointer">
                <span class="text-20 white--text mr-1">Добавить блок</span>
                <v-icon color="white">mdi-plus</v-icon>
              </div>
            </div>
            <v-row v-if="interiorTab" class="ma-0">
              <v-col class="pa-0" cols="12">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                  <span class="font-normal text-20 black--text">Общая информация</span>
                  <div class="mt-3 d-flex flex-column ">
                    <div class="d-flex flex-column">
                      <span class="grey--text mb-1">Описание</span>
                      <v-textarea
                          v-model="model.interiorDescription"
                          hide-details
                          outlined
                          no-resize
                          placeholder="Введите краткое описание. . ."
                      />
                    </div>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Фотографии</span>
                  <div class="estab_images mt-5 py-6 px-14 d-flex flex-column">
                    <div
                        v-if="
                                                edit
                                                    ? !model.images.filter(el => el.source === 'ESTABLISHMENT_INTERIOR')
                                                          .length && !interior.urls.length
                                                    : !interior.urls.length
                                            "
                        class="estab_images__preview"
                    >
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-wrap">
                      <div
                          v-for="(image, index) in edit
                                                    ? model.images.filter(el => el.source === 'ESTABLISHMENT_INTERIOR')
                                                    : interior.urls"
                          style="width: 100px; height: 100px; border-radius: 8px"
                          class="estab_image"
                      >
                        <div
                            v-if="
                                                        edit
                                                            ? model.images.filter(
                                                                  el => el.source === 'ESTABLISHMENT_INTERIOR'
                                                              ).length || interior.urls.length
                                                            : interior.urls.length
                                                    "
                            @click="removeImageInterior(image)"
                            class="estab_remove cursor-pointer"
                        >
                          <heroicon
                              style="margin-right: -10px"
                              class="mb-n2"
                              name="trash"
                              fill="#858D9D"
                          />
                        </div>
                        <v-img
                            style="border-radius: 8px"
                            width="100%"
                            height="100%"
                            :src="edit ? 'data:image/png;base64,' + image.file : image.url"
                        />
                      </div>
                    </div>
                    <span class="secondary--text text-14 mt-4">Загрузите фотографии интерьера</span>
                    <input
                        type="file"
                        ref="fileInputInterior"
                        accept="image/*"
                        style="display: none"
                        @change="handleImageInteriorUpload"
                        multiple
                    />
                    <v-btn
                        @click="triggerFileInputInterior"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-12"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Добавить изображение</span
                    ></v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="activeTab === 'KITCHEN'" class="pa-0 mt-6">
            <div class="d-flex justify-center align-center" v-if="!kitchenTab">
              <div @click="kitchenTab = true" class="add_block px-3 py-2 cursor-pointer">
                <span class="text-20 white--text mr-1">Добавить блок</span>
                <v-icon color="white">mdi-plus</v-icon>
              </div>
            </div>
            <v-row v-else class="ma-0">
              <v-col class="pa-0" cols="12">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                  <span class="font-normal text-20 black--text">Общая информация</span>
                  <div class="mt-5 d-flex flex-column">
                    <div class="d-flex flex-column">
                      <span class="grey--text mb-1">Описание</span>
                      <v-textarea
                          v-model="model.menuDescription"
                          hide-details
                          outlined
                          no-resize
                          placeholder="Введите краткое описание меню. . ."
                      />
                    </div>
                    <div class="mt-3">
                      <span style="color: #777980" class="grey--text mb-1">Меню в PDF</span>
                      <div class="estab_images mt-1 py-6 px-14 d-flex flex-column">
                        <div
                            v-if="
                                                        edit
                                                            ? !model.images.filter(
                                                                  el =>
                                                                      el.source === 'ESTABLISHMENT_COUSIN' &&
                                                                      el.type === 'PDF'
                                                              ) && !pdfKitchen.name
                                                            : !pdfKitchen.name
                                                    "
                            class="estab_images__preview"
                        >
                          <heroicon
                              class="mr-n1 mb-n1"
                              name="pdf"
                              stroke="#FFFFFF"
                              fill="transparent"
                          />
                        </div>
                        <div style="width: 100%" class="d-flex justify-center align-center">
                                                    <span class="text-20">{{
                                                        edit
                                                            ? pdfKitchen.name ||
                                                            model.images.filter(
                                                                el =>
                                                                    el.source === 'ESTABLISHMENT_COUSIN' &&
                                                                    el.type === 'PDF'
                                                            ).name
                                                            : pdfKitchen.name
                                                      }}</span>
                        </div>
                        <span class="secondary--text text-14 mt-4">Загрузите меню в PDF</span>
                        <input
                            type="file"
                            ref="pdfInputKitchen"
                            accept=".pdf"
                            style="display: none"
                            @change="handlePdfKitchenUpload"
                        />
                        <v-btn
                            @click="triggerPdfKitchenInput"
                            outlined
                            color="secondary"
                            class="mt-4 py-6 px-12"
                            depressed
                        ><span class="text-14 secondary--text text-none"
                        >Добавить меню в PDF</span
                        >
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Фотографии</span>
                  <div class="estab_images mt-5 py-6 px-14 d-flex flex-column">
                    <div
                        v-if="
                                                edit
                                                    ? !model.images.filter(
                                                          el =>
                                                              el.source === 'ESTABLISHMENT_COUSIN' &&
                                                              el.type === 'IMAGE'
                                                      ).length && !kitchen.urls.length
                                                    : !kitchen.urls.length
                                            "
                        class="estab_images__preview"
                    >
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-wrap">
                      <div
                          v-for="(image, index) in edit
                                                    ? model.images.filter(
                                                          el =>
                                                              el.source === 'ESTABLISHMENT_COUSIN' &&
                                                              el.type === 'IMAGE'
                                                      )
                                                    : kitchen.urls"
                          style="width: 100px; height: 100px; border-radius: 8px"
                          class="estab_image"
                      >
                        <div
                            v-if="
                                                        edit
                                                            ? model.images.filter(
                                                                  el => el.source === 'ESTABLISHMENT_COUSIN'
                                                              ).length || kitchen.urls.length
                                                            : kitchen.urls.length
                                                    "
                            @click="removeImageKitchen(image)"
                            class="estab_remove cursor-pointer"
                        >
                          <heroicon
                              style="margin-right: -10px"
                              class="mb-n2"
                              name="trash"
                              fill="#858D9D"
                          />
                        </div>
                        <v-img
                            style="border-radius: 8px"
                            width="100%"
                            height="100%"
                            :src="edit ? 'data:image/png;base64,' + image.file : image.url"
                        />
                      </div>
                    </div>
                    <span class="secondary--text text-14 mt-4"
                    >Загрузите фотографии блюд или меню</span
                    >
                    <input
                        type="file"
                        ref="fileInputKitchen"
                        accept="image/*"
                        style="display: none"
                        @change="handleImageKitchenUpload"
                        multiple
                    />
                    <v-btn
                        @click="triggerFileInputKitchen"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-12"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Добавить изображение</span
                    ></v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="activeTab === 'BAR'" class="pa-0 mt-6">
            <div class="d-flex justify-center align-center" v-if="!barTab">
              <div @click="barTab = true" class="add_block px-3 py-2 cursor-pointer">
                <span class="text-20 white--text mr-1">Добавить блок</span>
                <v-icon color="white">mdi-plus</v-icon>
              </div>
            </div>
            <v-row v-else class="ma-0">
              <v-col class="pa-0" cols="12">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                  <span class="font-normal text-20 black--text">Общая информация</span>
                  <div class="mt-5 d-flex flex-column">
                    <div class="d-flex flex-column">
                      <span class="grey--text mb-1">Описание</span>
                      <v-textarea
                          v-model="model.barDescription"
                          hide-details
                          outlined
                          no-resize
                          placeholder="Введите краткое описание бара. . ."
                      />
                    </div>
                    <div class="mt-3">
                      <span style="color: #777980" class="secondary--text mb-1">Меню в PDF</span>
                      <div class="estab_images mt-1 py-6 px-14 d-flex flex-column">
                        <div
                            v-if="
                                                        edit
                                                            ? !model.images.filter(
                                                                  el =>
                                                                      el.source === 'ESTABLISHMENT_BAR' &&
                                                                      el.type === 'PDF'
                                                              ) && !pdfBar.name
                                                            : !pdfBar.name
                                                    "
                            class="estab_images__preview"
                        >
                          <heroicon
                              class="mr-n1 mb-n1"
                              name="pdf"
                              stroke="#FFFFFF"
                              fill="transparent"
                          />
                        </div>
                        <div style="width: 100%" class="d-flex justify-center">
                                                    <span class="text-20">{{
                                                        edit
                                                            ? pdfBar.name ||
                                                            model.images.filter(
                                                                el =>
                                                                    el.source === 'ESTABLISHMENT_BAR' &&
                                                                    el.type === 'PDF'
                                                            ).name
                                                            : pdfBar.name
                                                      }}</span>
                        </div>
                        <span class="secondary--text text-14 mt-4"
                        >Загрузите меню бара в PDF</span
                        >
                        <input
                            type="file"
                            ref="pdfInputBar"
                            accept=".pdf"
                            style="display: none"
                            @change="handlePdfBarUpload"
                        />
                        <v-btn
                            @click="triggerPdfBarInput"
                            outlined
                            color="secondary"
                            class="mt-4 py-6 px-12"
                            depressed
                        ><span class="text-14 secondary--text text-none"
                        >Добавить меню в PDF</span
                        >
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Фотографии</span>
                  <div class="estab_images mt-5 py-6 px-14 d-flex flex-column">
                    <div
                        v-if="
                                                edit
                                                    ? !model.images.filter(
                                                          el => el.source === 'ESTABLISHMENT_BAR' && el.type === 'IMAGE'
                                                      ).length && !bar.urls.length
                                                    : !bar.urls.length
                                            "
                        class="estab_images__preview"
                    >
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-wrap">
                      <div
                          v-for="(image, index) in edit
                                                    ? model.images.filter(
                                                          el => el.source === 'ESTABLISHMENT_BAR' && el.type === 'IMAGE'
                                                      )
                                                    : bar.urls"
                          style="width: 100px; height: 100px; border-radius: 8px"
                          class="estab_image"
                      >
                        <div
                            v-if="
                                                        edit
                                                            ? model.images.filter(
                                                                  el => el.source === 'ESTABLISHMENT_BAR'
                                                              ).length || bar.urls.length
                                                            : bar.urls.length
                                                    "
                            @click="removeImageBar(image)"
                            class="estab_remove cursor-pointer"
                        >
                          <heroicon
                              style="margin-right: -10px"
                              class="mb-n2"
                              name="trash"
                              fill="#858D9D"
                          />
                        </div>
                        <v-img
                            style="border-radius: 8px"
                            width="100%"
                            height="100%"
                            :src="edit ? 'data:image/png;base64,' + image.file : image.url"
                        />
                      </div>
                    </div>
                    <span class="secondary--text text-14 mt-4"
                    >Загрузите фотографии блюд или меню</span
                    >
                    <input
                        type="file"
                        ref="fileInputBar"
                        accept="image/*"
                        style="display: none"
                        @change="handleImageBarUpload"
                        multiple
                    />
                    <v-btn
                        @click="triggerFileInputBar"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-12"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Добавить изображение</span
                    ></v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="activeTab === 'PECULIARITIES'" class="pa-0 mt-6">
            <div class="d-flex justify-center align-center" v-if="!peculiarTab">
              <div @click="peculiarTab = true" class="add_block px-3 py-2 cursor-pointer">
                <span class="text-20 white--text mr-1">Добавить блок</span>
                <v-icon color="white">mdi-plus</v-icon>
              </div>
            </div>
            <v-row v-else class="ma-0">
              <v-col class="pa-0" cols="12">
                <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                  <span class="font-normal text-20 black--text">Особенности</span>
                  <div class="d-flex flex-wrap">
                    <div
                        class="mt-5 peculiar_block"
                        v-for="(peculiarity, index) in model.peculiarities"
                        :key="index"
                    >
                      <div style="width: 100%" class="d-flex flex-column">
                        <div class="d-flex justify-space-between">
                                                    <span style="color: #777980" class="grey--text mb-1"
                                                    >{{ index + 1 }} особенность</span
                                                    >
                          <v-icon
                              @click="removePeculiarity(index)"
                              class="cursor-pointer"
                              color="#818C99"
                              small
                          >
                            mdi-close
                          </v-icon>
                        </div>
                        <v-text-field
                            v-model="model.peculiarities[index]"
                            placeholder="Название"
                            dense
                            outlined
                            hide-details
                        />
                      </div>
                    </div>
                  </div>
                  <div
                      @click="addPeculiarity"
                      class="d-flex align-center justify-center text-center py-3 px-10 mt-6 peculiar_block__btn cursor-pointer"
                  >
                    <span class="text-14 secondary--text mr-1">Добавить особенность</span>
                    <v-icon color="#818C99">mdi-plus</v-icon>
                  </div>
                </div>
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Фотографии</span>
                  <div class="estab_images mt-5 py-6 px-14 d-flex flex-column">
                    <div
                        v-if="
                                                edit
                                                    ? !model.images.filter(
                                                          el =>
                                                              el.source === 'ESTABLISHMENT_PECULIARITIES' &&
                                                              el.type === 'IMAGE'
                                                      ).length && !peculiar.urls.length
                                                    : !peculiar.urls.length
                                            "
                        class="estab_images__preview"
                    >
                      <heroicon class="mr-n2 mb-n1" name="picture" fill="#FFFFFF"/>
                    </div>
                    <div style="width: 100%" class="d-flex flex-wrap">
                      <div
                          v-for="(image, index) in edit
                                                    ? model.images.filter(
                                                          el =>
                                                              el.source === 'ESTABLISHMENT_PECULIARITIES' &&
                                                              el.type === 'IMAGE'
                                                      )
                                                    : peculiar.urls"
                          style="width: 100px; height: 100px; border-radius: 8px"
                          class="estab_image"
                      >
                        <div
                            v-if="
                                                        edit
                                                            ? model.images.filter(
                                                                  el => el.source === 'ESTABLISHMENT_PECULIARITIES'
                                                              ).length || peculiar.urls.length
                                                            : peculiar.urls.length
                                                    "
                            @click="removeImagePeculiar(image)"
                            class="estab_remove cursor-pointer"
                        >
                          <heroicon
                              style="margin-right: -10px"
                              class="mb-n2"
                              name="trash"
                              fill="#858D9D"
                          />
                        </div>
                        <v-img
                            style="border-radius: 8px"
                            width="100%"
                            height="100%"
                            :src="edit ? 'data:image/png;base64,' + image.file : image.url"
                        />
                      </div>
                    </div>
                    <span class="secondary--text text-14 mt-4"
                    >Загрузите фотографии особенностей</span
                    >
                    <input
                        type="file"
                        ref="fileInputPeculiar"
                        accept="image/*"
                        style="display: none"
                        @change="handleImagePeculiarUpload"
                        multiple
                    />
                    <v-btn
                        @click="triggerFileInputPeculiar"
                        outlined
                        color="secondary"
                        class="mt-4 py-6 px-12"
                        depressed
                    ><span class="text-14 secondary--text text-none"
                    >Добавить изображение</span
                    ></v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="activeTab === 'CONTACTS'" class="pa-0 mt-6">
            <div class="d-flex justify-center align-center" v-if="!contactsTab">
              <div @click="contactsTab = true" class="add_block px-3 py-2 cursor-pointer">
                <span class="text-20 white--text mr-1">Добавить блок</span>
                <v-icon color="white">mdi-plus</v-icon>
              </div>
            </div>
            <v-row v-else class="ma-0">
              <v-col class="pa-0" cols="12">
                <div
                    style="background: #FFFFFF;border-radius: 12px"
                    class="pa-6 mt-6 d-flex flex-column"
                >
                  <span class="font-normal text-20 black--text">Указать на карте</span>
                  <div v-if="!mapActive" class="map_block mt-5 pa-16 d-flex flex-column text-center">
                    <div class="estab_images__preview">
                      <heroicon class="mr-n1 mb-n1" name="map" fill="#FFFFFF"/>
                    </div>
                    <span class="text-16 secondary--text my-5"
                    >Укажите местоположение заведения <br/>
                                            на карте</span
                    >
                    <v-btn @click="mapActive = true" class="pa-6" outlined color="secondary">
                      <span class="secondary--text text-none">Указать на карте</span>
                      <heroicon class="mr-n1 mb-n1 ml-2" name="map" fill="#818C99"/>
                    </v-btn>
                  </div>
                  <div v-if="mapActive" class="mt-5 d-flex justify-center text-center">
                    <t-gis-map
                        :center="mapCenter"
                        :marker="mapMarker"
                        :styles="{ width: '1115px', height: '344px' }"
                        :zoom="16"
                        @update:marker="handleMarkerUpdate"
                    ></t-gis-map>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </template>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters} from 'vuex'
import TGisMap from '@/components/tGisMap.vue'
import {Quill, VueEditor} from 'vue2-editor'

function getFontName(font) {
  return font.toLowerCase().replace(/\s/g, '-')
}

const fontList = ['Qanelas']
const fontNames = fontList.map(font => getFontName(font))
const fonts = Quill.import('formats/font')
fonts.whitelist = fontNames
Quill.register(fonts, true)

let fontStyles = ''
fontList.forEach(function (font) {
  let fontName = getFontName(font)
  fontStyles +=
      '.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=' +
      fontName +
      ']::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=' +
      fontName +
      ']::before {' +
      "content: '" +
      font +
      "';" +
      "font-family: '" +
      font +
      "', sans-serif;" +
      '}' +
      '.ql-font-' +
      fontName +
      '{' +
      " font-family: '" +
      font +
      "', sans-serif;" +
      '}'
})

const node = document.createElement('style')
node.innerHTML = fontStyles
document.body.appendChild(node)
export default {
  name: 'CreateEstablishment',
  components: {TGisMap, VueEditor},
  data: () => ({
    customToolbar: [
      [{font: fonts.whitelist}],
      [{header: [false, 1, 2, 3, 4, 5, 6]}],
      ['bold', 'italic', 'underline', 'strike'],
      [{align: ''}, {align: 'center'}, {align: 'right'}],
      ['blockquote', 'code-block'],
      [{list: 'ordered'}, {list: 'bullet'}, {list: 'check'}],
      [{indent: '-1'}, {indent: '+1'}],
      [{color: []}, {background: []}],
      ['link', 'image', 'video', 'formula'],
      [{direction: 'rtl'}],
      ['clean']
    ],
    mapCenter: [42.8746, 74.5698],
    mapMarker: [42.8746, 74.5698],
    latitude: 54.98,
    longitude: 82.89,
    mapActive: false,
    interiorTab: false,
    kitchenTab: false,
    barTab: false,
    peculiarTab: false,
    contactsTab: false,
    edit: false,
    pdfKitchen: {
      pdf: {},
      name: '',
      dto: {
        source: 'ESTABLISHMENT_COUSIN',
        fileType: 'PDF',
        isCover: false,
        sourceName: 'cousin',
        order: 0,
        isLogo: false
      }
    },
    pdfBar: {
      pdf: {},
      name: '',
      dto: {
        source: 'ESTABLISHMENT_BAR',
        fileType: 'PDF',
        isCover: false,
        sourceName: 'bar',
        order: 0,
        isLogo: false
      }
    },
    peculiar: {
      data: [],
      urls: [],
      dto: {
        source: 'ESTABLISHMENT_PECULIARITIES',
        fileType: 'IMAGE',
        isCover: false,
        sourceName: 'peculiarities',
        order: 0,
        isLogo: false
      }
    },
    interior: {
      data: [],
      urls: [],
      dto: {
        source: 'ESTABLISHMENT_INTERIOR',
        fileType: 'IMAGE',
        isCover: false,
        sourceName: 'interior',
        order: 0,
        isLogo: false
      }
    },
    images: {
      data: [],
      urls: [],
      dto: {
        source: 'ESTABLISHMENT',
        fileType: 'IMAGE',
        userId: 0,
        isCover: false,
        sourceName: 'album',
        order: 0,
        isLogo: false
      }
    },
    kitchen: {
      data: [],
      urls: [],
      dto: {
        source: 'ESTABLISHMENT_COUSIN',
        fileType: 'IMAGE',
        isCover: false,
        sourceName: 'cousin',
        order: 0,
        isLogo: false
      }
    },
    bar: {
      data: [],
      urls: [],
      dto: {
        source: 'ESTABLISHMENT_BAR',
        fileType: 'IMAGE',
        isCover: false,
        sourceName: 'bar',
        order: 0,
        isLogo: false
      }
    },
    logo: {
      file: '',
      fileUrl: '',
      dto: {
        source: 'ESTABLISHMENT',
        fileType: 'IMAGE',
        userId: 0,
        isCover: false,
        sourceName: 'album',
        order: 0,
        isLogo: true
      }
    },
    imagesUpdatedStatus: false,
    hoursAfter: '',
    hoursBefore: '',
    categories: [],
    category: {},
    model: {
      images: [],
      isActive: true,
      hoursOfWork: '',
      top: false,
      address: '',
      categories: [
        {
          id: 0,
          nameRu: '',
          nameKg: '',
          nameEn: '',
          fastFood: true
        }
      ],
      interiorDescription: '',
      menuDescription: '',
      barDescription: '',
      peculiarities: ['', '', '', ''],
      longitude: '',
      latitude: '',
      cousinTypes: []
    },
    socialDialog: false,
    cities: [],
    activeTab: 'MAIN',
    loading: false
  }),
  computed: {
    ...mapGetters(['domain']),
    computedCategory: {
      get() {
        return this.edit ? this.model.categories[0] : this.category
      },
      set(value) {
        if (this.edit) {
          this.$set(this.model.categories, 0, value)
        } else {
          this.category = value
        }
      }
    }
  },
  watch: {
    'model.categories': function (newVal, oldVal) {
      if (newVal && newVal.length > 0) {
        this.category = newVal[0]
      }
    },
    hoursAfter(newVal) {
      this.model.hoursOfWork = `${newVal} - ${this.hoursBefore}`
    },
    hoursBefore(newVal) {
      this.model.hoursOfWork = `${this.hoursAfter} - ${newVal}`
    }
  },
  methods: {
    handleMarkerUpdate(newLatLng) {
      this.mapMarker = newLatLng
      this.model.latitude = newLatLng[0]
      this.model.longitude = newLatLng[1]
    },
    addPeculiarity() {
      this.model.peculiarities.push('')
    },
    removePeculiarity(index) {
      this.model.peculiarities.splice(index, 1)
    },
    async handlePdfKitchenUpload(e) {
      const file = e.target.files[0]
      if (file) {
        this.pdfKitchen.name = file.name
        this.pdfKitchen.pdf = file
      }
    },
    async handlePdfBarUpload(e) {
      const file = e.target.files[0]
      if (file) {
        this.pdfBar.name = file.name
        this.pdfBar.pdf = file
      }
    },
    triggerPdfKitchenInput() {
      this.$refs.pdfInputKitchen.click()
    },
    triggerPdfBarInput() {
      this.$refs.pdfInputBar.click()
    },
    filterTab(tab) {
      this.activeTab = tab
    },
    getCities() {
      this.$http.get('/cities').then(r => (this.cities = r.data))
    },
    removeImage(image) {
      if (this.edit) {
        const index = this.model.images.findIndex(file => file.id === image.id)
        if (index !== -1) {
          this.model.images.splice(index, 1)
        }
      } else {
        const index = this.images.urls.findIndex(url => url.id === image.id)
        if (index !== -1) {
          this.images.urls.splice(index, 1)
        }
      }
    },
    removeImageInterior(image) {
      if (this.edit) {
        const index = this.model.images.findIndex(file => file.id === image.id)
        if (index !== -1) {
          this.model.images.splice(index, 1)
        }
      } else {
        const index = this.interior.urls.findIndex(url => url.id === image.id)
        if (index !== -1) {
          this.interior.urls.splice(index, 1)
        }
      }
    },
    removeImageBar(image) {
      if (this.edit) {
        const index = this.model.images.findIndex(file => file.id === image.id)
        if (index !== -1) {
          this.model.images.splice(index, 1)
        }
      } else {
        const index = this.bar.urls.findIndex(url => url.id === image.id)
        if (index !== -1) {
          this.bar.urls.splice(index, 1)
        }
      }
    },
    removeImageKitchen(image) {
      if (this.edit) {
        const index = this.model.images.findIndex(file => file.id === image.id)
        if (index !== -1) {
          this.model.images.splice(index, 1)
        }
      } else {
        const index = this.kitchen.urls.findIndex(url => url.id === image.id)
        if (index !== -1) {
          this.kitchen.urls.splice(index, 1)
        }
      }
    },
    removeImagePeculiar(image) {
      if (this.edit) {
        const index = this.model.images.findIndex(file => file.id === image.id)
        if (index !== -1) {
          this.model.images.splice(index, 1)
        }
      } else {
        const index = this.peculiar.urls.findIndex(url => url.id === image.id)
        if (index !== -1) {
          this.peculiar.urls.splice(index, 1)
        }
      }
    },
    updateImages() {
      if (!this.imagesUpdatedStatus) {
        this.model.images = this.model.images.filter(el => el.isLogo)
      }
      this.imagesUpdatedStatus = true
      this.$refs.fileInput.click()
    },
    triggerFileInput() {
      this.$refs.fileInput.click()
    },
    triggerFileInputInterior() {
      this.$refs.fileInputInterior.click()
    },
    triggerFileInputPeculiar() {
      this.$refs.fileInputPeculiar.click()
    },
    triggerFileInputKitchen() {
      this.$refs.fileInputKitchen.click()
    },
    triggerFileInputBar() {
      this.$refs.fileInputBar.click()
    },
    triggerLogoInput() {
      this.$refs.logoInput.click()
    },
    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result.split(',')[1])
        reader.onerror = error => reject(error)
      })
    },
    async handleImageUpload(e) {
      const files = e.target.files

      for (let i = 0; i < files.length; i++) {
        const file = files[i]

        if (file) {
          if (this.edit) {
            const base64String = await this.fileToBase64(file)
            this.model.images.push({
              image: file,
              file: base64String,
              isTemporary: true,
              source: 'ESTABLISHMENT',
              type: 'IMAGE'
            })
          }
          this.images.data.push(file)
          const fileURL = URL.createObjectURL(file)
          const imageObject = {
            url: fileURL,
            name: file.name
          }
          this.images.urls.push(imageObject)
        }
      }
    },
    async handleImageInteriorUpload(e) {
      const files = e.target.files

      for (let i = 0; i < files.length; i++) {
        const file = files[i]

        if (file) {
          if (this.edit) {
            const base64String = await this.fileToBase64(file)
            this.model.images.push({
              image: file,
              file: base64String,
              isTemporary: true,
              source: 'ESTABLISHMENT_INTERIOR',
              type: 'IMAGE'
            })
          }
          this.interior.data.push(file)
          const fileURL = URL.createObjectURL(file)
          const imageObject = {
            url: fileURL,
            name: file.name
          }
          this.interior.urls.push(imageObject)
        }
      }
    },
    async handleImageKitchenUpload(e) {
      const files = e.target.files

      for (let i = 0; i < files.length; i++) {
        const file = files[i]

        if (file) {
          if (this.edit) {
            const base64String = await this.fileToBase64(file)
            this.model.images.push({
              image: file,
              file: base64String,
              isTemporary: true,
              source: 'ESTABLISHMENT_COUSIN',
              type: 'IMAGE'
            })
          }
          this.kitchen.data.push(file)
          const fileURL = URL.createObjectURL(file)
          const imageObject = {
            url: fileURL,
            name: file.name
          }
          this.kitchen.urls.push(imageObject)
        }
      }
    },
    async handleImageBarUpload(e) {
      const files = e.target.files

      for (let i = 0; i < files.length; i++) {
        const file = files[i]

        if (file) {
          if (this.edit) {
            const base64String = await this.fileToBase64(file)
            this.model.images.push({
              image: file,
              file: base64String,
              isTemporary: true,
              source: 'ESTABLISHMENT_BAR',
              type: 'IMAGE'
            })
          }
          this.bar.data.push(file)
          const fileURL = URL.createObjectURL(file)
          const imageObject = {
            url: fileURL,
            name: file.name
          }
          this.bar.urls.push(imageObject)
        }
      }
    },
    async handleImagePeculiarUpload(e) {
      const files = e.target.files

      for (let i = 0; i < files.length; i++) {
        const file = files[i]

        if (file) {
          if (this.edit) {
            const base64String = await this.fileToBase64(file)
            this.model.images.push({
              image: file,
              file: base64String,
              isTemporary: true,
              source: 'ESTABLISHMENT_PECULIARITIES',
              type: 'IMAGE'
            })
          }
          this.peculiar.data.push(file)
          const fileURL = URL.createObjectURL(file)
          const imageObject = {
            url: fileURL,
            name: file.name
          }
          this.peculiar.urls.push(imageObject)
        }
      }
    },
    async handleLogoUpload(e) {
      const file = e.target.files[0]
      if (file) {
        this.logo.file = file
        const fileURL = URL.createObjectURL(file)
        this.logo.fileUrl = fileURL
      }
    },
    async handleDrop(e) {
      const file = e.dataTransfer.files[0]
      if (file) {
        this.logo.file = file
        const fileURL = URL.createObjectURL(file)
        this.logo.fileUrl = fileURL
      }
    },
    saveSocial() {
      this.socialDialog = false
    },
    async saveLogo() {
      const formData = new FormData()
      formData.append('file', this.logo.file)

      const dtoBlob = new Blob([JSON.stringify(this.logo.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}establishments/image/upload`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (this.edit) {
            // Find the image with isCover = true and replace it
            const index = this.model.images.findIndex(image => image.isLogo)
            if (index !== -1) {
              this.model.images.splice(index, 1, jsonResponse)
            } else {
              console.error('No image found with isCover = true')
            }
          } else {
            this.model.images.push(jsonResponse)
          }
          console.log(this.model.images)
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload cover: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveKitchenMenu() {
      const formData = new FormData()
      formData.append('file', this.pdfKitchen.pdf)

      const dtoBlob = new Blob([JSON.stringify(this.pdfKitchen.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}files/upload`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json()
          console.log(jsonResponse)
          this.model.images.push(jsonResponse)
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload cover: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveBarMenu() {
      const formData = new FormData()
      formData.append('file', this.pdfBar.pdf)

      const dtoBlob = new Blob([JSON.stringify(this.pdfBar.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}files/upload`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })
        if (response.ok) {
          const jsonResponse = await response.json()
          console.log(jsonResponse)
          this.model.images.push(jsonResponse)
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload cover: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveImages() {
      const formData = new FormData()

      this.images.data.forEach(file => {
        formData.append('files', file)
      })

      const dtoBlob = new Blob([JSON.stringify(this.images.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}establishments/image/upload/batch`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (!this.edit) {
            this.model.images.push(...jsonResponse)
          } else {
            this.model.images = this.model.images.filter(image => !image.isTemporary)
            this.model.images.push(...jsonResponse)
          }
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload images: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveInteriorImages() {
      const formData = new FormData()

      this.interior.data.forEach(file => {
        formData.append('files', file)
      })

      const dtoBlob = new Blob([JSON.stringify(this.interior.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)
      console.log(this.interior.dto)

      try {
        const response = await fetch(`${this.domain}files/upload/batch`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (!this.edit) {
            this.model.images.push(...jsonResponse)
          } else {
            this.model.images = this.model.images.filter(image => !image.isTemporary)
            this.model.images.push(...jsonResponse)
          }
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload images: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async saveKitchenImages() {
      const formData = new FormData()

      this.kitchen.data.forEach(file => {
        formData.append('files', file)
      })

      const dtoBlob = new Blob([JSON.stringify(this.kitchen.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}files/upload/batch`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (!this.edit) {
            this.model.images.push(...jsonResponse)
          } else {
            this.model.images = this.model.images.filter(image => !image.isTemporary)
            this.model.images.push(...jsonResponse)
          }
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload images: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },

    async saveBarImages() {
      const formData = new FormData()

      this.bar.data.forEach(file => {
        formData.append('files', file)
      })

      const dtoBlob = new Blob([JSON.stringify(this.bar.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}files/upload/batch`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (!this.edit) {
            this.model.images.push(...jsonResponse)
          } else {
            this.model.images = this.model.images.filter(image => !image.isTemporary)
            this.model.images.push(...jsonResponse)
          }
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload images: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    async savePeculiarImages() {
      const formData = new FormData()

      this.peculiar.data.forEach(file => {
        formData.append('files', file)
      })

      const dtoBlob = new Blob([JSON.stringify(this.peculiar.dto)], {
        type: 'application/json'
      })
      formData.append('dto', dtoBlob)

      try {
        const response = await fetch(`${this.domain}files/upload/batch`, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          },
          body: formData
        })

        if (response.ok) {
          const jsonResponse = await response.json()
          if (!this.edit) {
            this.model.images.push(...jsonResponse)
          } else {
            this.model.images = this.model.images.filter(image => !image.isTemporary)
            this.model.images.push(...jsonResponse)
          }
        } else {
          const errorResponse = await response.text()
          console.error('Failed to upload images: ', errorResponse)
        }
      } catch (error) {
        console.error('Error during fetch', error)
      }
    },
    updateContent() {
      this.$http
          .put('/establishments', {...this.model, categories: [this.category]})
          .then(r => this.$router.push('/establishments'))
    },
    saveContent() {
      this.$http
          .post('/establishments', {...this.model, categories: [this.category]})
          .then(r => this.$router.push('/establishments'))
    },
    async save() {
      this.loading = true
      if (this.edit) {
        await this.saveImages()
        await this.saveLogo()
        this.interiorTab && (await this.saveInteriorImages())
        await this.saveKitchenImages()
        await this.saveKitchenMenu()
        await this.saveBarImages()
        await this.saveBarMenu()
        await this.savePeculiarImages()
        this.updateContent()
      } else {
        await this.saveImages()
        await this.saveLogo()
        this.interiorTab && (await this.saveInteriorImages())
        this.kitchenTab && (await this.saveKitchenImages()) && (await this.saveKitchenMenu())
        this.barTab && (await this.saveBarImages()) && (await this.saveBarMenu())
        this.peculiarTab && (await this.savePeculiarImages())
        await this.saveContent()
      }
      this.loading = false
    },
    parseHoursOfWork() {
      if (this.model.hoursOfWork) {
        const hours = this.model.hoursOfWork.split(' - ').map(s => s.trim())
        if (hours.length === 2) {
          this.hoursAfter = hours[0]
          this.hoursBefore = hours[1]
        }
      }
    },
    findLogoImage() {
      const logoImage = this.model.images.find(image => image.isLogo)
      return logoImage ? 'data:image/png;base64,' + logoImage.file : ''
    },
    getCategories() {
      this.$http.get('/categories').then(r => (this.categories = r.data))
    },
    init() {
      this.loading = true
      this.$http
          .get(`/establishments/${this.$router.currentRoute.params.id}`)
          .then(r => {
            this.model = r.data
            this.parseHoursOfWork()
            if (r.data.interiorDescription) {
              this.interiorTab = true
            }
            if (r.data.menuDescription) {
              this.kitchenTab = true
            }
            if (r.data.barDescription) {
              this.barTab = true
            }
            if (r.data.peculiarities.length) {
              this.peculiarTab = true
            }
            if (r.data.longitude.length && r.data.latitude.length) {
              this.contactsTab = true
            }
            this.loading = false
          })
          .catch(e => {
            this.loading = false
          })
    }
  },
  created() {
    this.model.hoursOfWork = `${this.hoursAfter} - ${this.hoursBefore}`
    this.getCategories()
    this.getCities()
    if (this.$router.currentRoute.params.id) {
      this.init()
      this.edit = true
    }
  }
}
</script>

<style scoped lang="scss">
.create-estab-wrapper {
  .estab_filter__wrapper {
    .estab_filter {
      background: #ffffff;
      border-radius: 8px;
      padding: 4px 8px;
      border: 1px solid #e0e2e7;
    }

    .v-input__slot {
      background: #ffffff !important;
      border-radius: 8px !important;
    }
  }

  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }

  .estab_images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;

    &__preview {
      background: #000000;
      border-radius: 8px;
      width: 44px;

      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .estab_image {
    position: relative;
    margin-right: 16px;
  }

  .estab_remove {
    position: absolute;
    display: flex;
    right: 6px;
    top: 6px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
  }

  .estab_image:nth-child(n + 7) {
    margin-top: 16px;
  }

  .image-container:nth-child(6n) {
    margin-right: 0;
  }

  .estab_top {
    .v-input {
      background: none !important;
      width: 70px !important;
    }

    .v-input__control {
      width: 20px !important;
    }
  }

  .estab_logo {
    width: 100px;
    height: 100px;
    background: #e0e2e7;
    border-radius: 50%;
  }

  .add_block {
    background: #000000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .peculiar_block {
    width: 549px;
    margin-right: 16px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .peculiar_block__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23818C99' stroke-width='1' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .map_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23E0E2E7' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
  }
}
</style>