<template>
  <v-row class="ma-0 estab_preview">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="accent--text font-normal text-24">Заведение</span>
            <div class="d-flex align-center">
              <span class="grey--text font-weight-medium">Дашборд</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium grey--text">Заведение</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium grey--text">{{ model?.name }}</span>
              <v-icon class="mx-2">mdi-menu-right</v-icon>
              <span class="font-weight-medium primary--text">{{ activeFilterTab.name }}</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4" color="grey"
                   outlined><span
                class="font-normal text-14 secondary--text">Удалить</span></v-btn>
            <v-btn v-if="edit" color="primary"><span class="font-normal text-14">Удалить</span></v-btn>
            <v-btn v-if="!edit" color="primary"><span class="font-normal text-14">Редактровать</span></v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0">
          <v-row class="pa-0 ma-0 mt-6">
            <v-col class="pa-0" cols="4">
              <div style="background: #FFFFFF;border-radius: 12px">
                <v-card elevation="0" color="transparent">
                  <v-card-text class="pa-2 pb-0">
                    <div style="background:#DBDBDB;border-radius: 8px;height: 148px;position: relative"
                         class="pa-6 d-flex flex-column align-center text-center">
                      <div class="estab_logo">
                        <v-img width="100%" height="100%" style="border-radius: 50%" :src="logoImageSrc"/>
                      </div>
                    </div>
                    <div class="d-flex justify-center align-center mt-16">
                      <span class="text-24 font-normal accent--text">{{ model.name }}</span>
                    </div>
                  </v-card-text>
                  <v-card-text class="pa-6">
                    <v-divider style="background: #f0f1f3 !important;" class="mb-2"/>
                    <div class="f-flex flex-column">
                      <div class="d-flex align-center mt-4">
                        <div class="estab_info mr-2">
                          <heroicon class="mr-n2 mb-n1" name="kitchen" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text">Тип кухни</span>
                          <span class="accent--text font-weight-medium">{{ model?.kitchenType }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-center mt-4">
                        <div class="estab_info mr-2">
                          <heroicon class="mr-n2 mb-n1" name="phone" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text">Номер телефона</span>
                          <span class="accent--text font-weight-medium">{{ model?.phone }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-center mt-4">
                        <div class="estab_info mr-2">
                          <heroicon class="mr-n2 mb-n1" name="address" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text">Адресс</span>
                          <span class="accent--text font-weight-medium">{{ model?.address }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-center mt-4">
                        <div class="estab_info mr-2">
                          <heroicon class="mr-n2 mb-n3" name="check" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text">Средний чек</span>
                          <span class="accent--text font-weight-medium">{{ model?.averageCheck }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-center mt-4">
                        <div class="estab_info mr-2">
                          <heroicon class="mr-n2 mb-n2" name="time" fill="#667085"/>
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-14 font-weight-medium grey--text">Часы работы</span>
                          <span class="accent--text font-weight-medium">{{ model?.hoursOfWork }}</span>
                        </div>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </v-col>
            <v-col class="pa-0 pl-6" cols="8">
              <v-card color="transparent" elevation="0">
                <v-card-text class="pa-0 d-flex flex-column">
                  <div class="estab_filter">
                    <v-btn @click="filterTab({index:0,name:'Фотографии'})" :text="activeFilterTab.index !== 0"
                           class="mr-1" max-width="120"
                           depressed
                           color="primary"><span class="text-none font-weight-medium"
                                                 :class="activeFilterTab.index !== 0 ? 'grey--text' : ''">Фотографии</span>
                    </v-btn>

                    <v-btn class="mr-1" @click="filterTab({index:1,name:'Репортажи'})"
                           :text="activeFilterTab.index !== 1"
                           max-width="120" depressed
                           color="primary"><span
                        class="text-none font-weight-medium"
                        :class="activeFilterTab.index !== 1 ? 'grey--text' : ''">Репортажи</span></v-btn>

                    <v-btn @click="filterTab({index:2,name:'Видео'})" :text="activeFilterTab.index !== 2"
                           max-width="120" depressed
                           color="primary"><span
                        class="text-none font-weight-medium"
                        :class="activeFilterTab.index !== 2 ? 'grey--text' : ''">Видео</span></v-btn>
                  </div>
                  <div style="background: #FFFFFF;border-radius: 12px" class="mt-6 d-flex flex-column">
                    <v-card style="border-radius: 12px" v-if="activeFilterTab.index === 0" elevation="0"
                            color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="accent--text font-normal text-24">Фотографии</span>
                        </div>
                        <div class="d-flex align-center">
                          <heroicon class="mr-1 mb-n1" name="picture" fill="#667085"/>
                          <span class="text-20 font-weight-medium grey--text">{{ model?.images?.length }}</span>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                            <div class="estab_preview__image" v-for="image in model?.images">
                              <v-hover>
                                <template v-slot:default="{ hover }">
                                  <div
                                      style="position: relative; width: 218px; height: 218px; border-radius: 12px; overflow: hidden;">

                                    <v-img width="100%" height="100%"
                                           :src="'data:image/png;base64,' + image.file"></v-img>

                                    <v-fade-transition>
                                      <v-overlay
                                          v-if="hover"
                                          absolute
                                          color="#000000B2"
                                          style="top: 0; left: 0; width: 100%; height: 100%; border-radius: 12px;">
                                        <v-btn small text icon @click="openDialog(image.file)">
                                          <v-icon large>
                                            visibility
                                          </v-icon>
                                        </v-btn>
                                      </v-overlay>
                                    </v-fade-transition>
                                  </div>
                                </template>
                              </v-hover>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="activeFilterTab.index === 1" elevation="0" color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="accent--text font-normal text-24">Репортажи</span>
                        </div>
                        <div class="d-flex align-center">
                          <heroicon class="mr-1 mb-n1" name="picture" fill="#667085"/>
                          <span class="text-20 font-weight-medium grey--text">{{ model?.albums.length }}</span>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                            <div class="estab_preview__report" v-for="image in model.albums">
                              <div
                                  style="position: relative; width: 334px; height: 218px; border-radius: 12px; overflow: hidden;">
                                <v-img :src="image.file ? image.file : '/static/images/noreport.svg'"></v-img>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="activeFilterTab.index === 2" elevation="0" color="transparent">
                      <v-card-text class="pa-6 d-flex align-end justify-space-between">
                        <div>
                          <span class="accent--text font-normal text-24">Видео</span>
                        </div>
                        <div class="d-flex align-center">
                          <heroicon class="mr-1 mb-n1" name="picture" fill="#667085"/>
                          <span class="text-20 font-weight-medium grey--text">{{ model?.videoReports.length }}</span>
                        </div>
                      </v-card-text>
                      <v-card-text style="background: #FFFFFF; min-height: 650px;overflow: hidden"
                                   class="pa-0 d-flex flex-column justify-space-between">
                        <div>
                          <v-divider style="background: #f0f1f3 !important;"/>
                          <div class="pa-6 d-flex flex-wrap">
                            <div class="estab_preview__report" v-for="video in model.videoReports">
                              <div
                                  style="position: relative; width: 334px; height: 218px; border-radius: 12px; overflow: hidden;">
                                <v-img :src="video.file ? video.file : '/static/images/noreport.svg'"></v-img>
                              </div>
                              <div class="d-flex flex-column mt-3">
                                <span class="mb-1 text-14 font-weight-medium primary--text">{{ video.name }}</span>
                                <span class="text-14 font-weight-medium grey--text">{{ video.date }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pa-6 d-flex justify-space-between align-center">
                          <span class="text-14 font-weight-medium grey--text">Показаны 1-10 из 10</span>
                          <v-pagination prev-icon="mdi-menu-left" next-icon="mdi-menu-right" v-model="page"
                                        :length="2"></v-pagination>
                        </div>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-dialog style="position: relative !important;" class="pa-0 ma-0" v-model="dialog" max-width="868px">
        <div style="position: relative !important;" class="ma-0 pa-0 d-flex justify-center align-center">
          <div style="position: absolute;z-index: 9999;left:0" class="d-flex justify-end">
            <v-btn large style="background: #F4ECFB" color="primary" icon @click="previousImage">
              <v-icon large>mdi-menu-left</v-icon>
            </v-btn>
          </div>
          <v-card width="748" style="border-radius: 8px;overflow: hidden" elevation="0" color="white">
            <v-card-text class="pa-6">
              <div style="width: 700px;height: 460px">
                <v-img width="100%" height="100%" :src=" 'data:image/png;base64,' + model?.images[currentImageIndex].file"></v-img>
              </div>
            </v-card-text>
          </v-card>
          <div style="position: absolute;z-index: 9999;right:0" class="d-flex flex-column justify-space-between">
            <div class="d-flex justify-center align-center cursor-pointer"
                 style="background: #F4ECFB;border-radius: 50%;width: 32px;height: 32px;margin-top: -250px"
                 @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </div>
            <v-btn large class="mb-n4" style="background: #F4ECFB" color="primary" icon @click="nextImage">
              <v-icon large>mdi-menu-right</v-icon>
            </v-btn>
          </div>
        </div>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    dialog: false,
    currentImageIndex: 0,
    page: 1,
    activeFilterTab: {
      index: 0,
      name: 'Фотографии'
    },
    model: {},
    edit: false
  }),
  computed: {
    logoImageSrc() {
      const logoFile = this.model?.images.find(file => file.isLogo);
      return logoFile ? 'data:image/png;base64,' + logoFile.file : '';
    }
  },
  methods: {
    filterTab(item) {
      this.activeFilterTab = item
    },
    openDialog(image) {
      this.currentImageIndex = this.model?.images.findIndex(img => img.file === image);
      this.dialog = true;
    },
    nextImage() {
      if (this.currentImageIndex === this.model.images.length - 1) {
        this.currentImageIndex = 0;
      } else {
        this.currentImageIndex++;
      }
    },
    previousImage() {
      if (this.currentImageIndex === 0) {
        this.currentImageIndex = this.model.images.length - 1;
      } else {
        this.currentImageIndex--;
      }
    },
    init() {
      this.$http.get(`/establishments/${this.$router.currentRoute.params.id}`)
          .then(r => this.model = r.data)
    }
  },
  created() {
    if (this.$router.currentRoute.params.id) {
      this.init()
    }
  }
}
</script>


<style lang="scss">
.estab_preview {
  .estab_filter {
    background: #FFFFFF;
    border-radius: 8px;
    width: 305px;
    padding: 4px;
    border: 1px solid #E0E2E7;
  }

  .estab_logo {
    position: absolute;
    bottom: -50px;
    width: 148px;
    height: 148px;
    background: #E0E2E7;
    border-radius: 50%;
  }

  .estab_info {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #F0F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-right: 20px;
  }

  &__image:nth-child(n+4) {
    margin-top: 24px;
  }

  &__image:nth-child(3n) {
    margin-right: 0;
  }

  &__report {
    margin-right: 20px;
  }

  &__report:nth-child(n+3) {
    margin-top: 24px;
  }

  &__report:nth-child(2n) {
    margin-right: 0;
  }

  .image_hover {
    background-color: red !important;
    z-index: 9999;
  }

}

.v-dialog {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
</style>