<template>
  <div>
    <v-dialog hide-overlay persistent transition="dialog-bottom-transition" fullscreen v-model="loading" class="fill-height">
      <v-card color="#f5f5f5" class="d-flex align-center justify-center">
        <v-card-text class="d-flex justify-center">
          <div>
            <v-img width="300" class="circle_block" src="/static/images/logo.svg" />
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-row style="background: #F5F5F5" class="ma-0 pa-0 mb-120">
      <v-col v-if="model.images" style="min-height: 70vh" class="pa-0 mt-10" cols="12">
        <v-card elevation="0" color="transparent" class="wrapper px-16">
          <v-card-text class="pa-0 mb-15 d-flex align-center">
            <span @click="$router.push('/dashboard')" class="mr-2 text-14 secondary--text opacity-70 cursor-pointer">Дашборд</span>
            <heroicon class="mr-n5 mb-n4" name="smallArrowRight" stroke="#000000" fill="transparent"/>
            <span  @click="$router.push('/establishments')" class="mr-2 ml-2 text-14 secondary--text opacity-70 cursor-pointer">Заведения</span>
            <heroicon class="mr-n5 mb-n4" name="smallArrowRight" stroke="#000000" fill="transparent"/>
            <span class="ml-2 black--text text-14">{{ model.name }}</span>
          </v-card-text>
          <v-card-text class="pa-0">
            <div class="d-flex">
              <v-card width="753" class="mr-8" style="border-radius: 24px" elevation="0" color="#FFFFFF">
                <v-card-text class="px-8 py-12">
                  <div class="mr-10 mb-10">
                    <span class="text-82 black--text font-title text-uppercase">{{ model.name }}</span>
                  </div>
                  <span v-html="model.description" class="text-24 black--text font-weight-300"></span>
                </v-card-text>
              </v-card>
              <v-card width="527" elevation="0" color="transparent">
                <v-card-text class="pa-0">
                  <v-carousel style="z-index: 997 !important;border-radius: 24px " prev-icon="" next-icon=""
                              ref="images"
                              :continuous="false"
                              hide-delimiters>
                    <v-carousel-item style="position: relative;"
                                     v-for="(poster, i) in model.images.filter(el => el.source === 'ESTABLISHMENT' && !el.isLogo)"
                                     :key="i">
                      <v-img style="z-index: 998 !important;position: absolute" height="100%" width="100%"
                             :src="'data:image/png;base64,' + poster.file"/>
                      <div style="background: #00000080; z-index: 999;position: absolute;width: 100%;height: 100%">

                      </div>
                      <div class="d-flex justify-end align-end"
                           style="position: absolute;z-index: 9999 !important;width: 100%;height: 100%;">
                        <div class="pa-8 d-flex flex-column">
                          <div>
                            <span class="text-44 font-weight-550 white--text mr-1">{{ currentSlideImages }}/</span>
                            <span style="color: #4D4E4D" class="text-20 font-weight-550">{{
                                model.images.filter(el => el.source === 'ESTABLISHMENT' && !el.isLogo).length
                              }}</span>
                          </div>
                          <div class="mt-2 d-flex align-center">
                            <v-img @click="customPrevImages" width="40" height="40" class="mr-4 cursor-pointer"
                                   src="/static/images/icons/ArrowLeft.svg"/>
                            <v-img @click="customNextImages" width="40" height="40" class="cursor-pointer"
                                   src="/static/images/icons/ArrowRight.svg"/>
                          </div>
                        </div>
                      </div>
                    </v-carousel-item>
                  </v-carousel>
                </v-card-text>
              </v-card>
            </div>
          </v-card-text>
          <v-card-text class="pa-0 mt-8 mb-120">
            <div style="background: #FFFFFF;border-radius: 20px" class="pa-8 d-flex flex-wrap">
              <div style="width: 400px" class="d-flex align-center">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon class="mr-n1" name="kitchen" stroke="transparent" fill="white"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Кухня</span>
                  <template v-if="model.cousinTypes.length">
                    <div class="d-flex">
                      <span v-for="(type,index) in model.cousinTypes" class="text-20 black--text">{{ type }} <span v-if="model.cousinTypes.length > 1 && index !== model.cousinTypes.length - 1">,</span></span>
                    </div>
                  </template>
                </div>
              </div>
              <div style="width: 400px" class="d-flex align-center">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon class="mr-n1 mb-n1" name="hours" stroke="transparent" fill="white"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Время работы</span>
                  <span class="text-20 black--text">{{ model.hoursOfWork }}</span>
                </div>
              </div>
              <div style="width: 400px" class="d-flex align-center">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon class="mr-n1 mb-n1" name="global" stroke="transparent"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Сайт</span>
                  <a style="text-decoration: none;color:#125CEC;" href="#">
                    <span class="text-20">{{ truncateText(model.link, 20) }}</span>
                  </a>
                </div>
              </div>
              <div style="width: 400px" class="d-flex align-center mt-10">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon style="border: none !important;" class="mr-n2 mb-n1" name="marker" fill="white"
                            stroke="transparent"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Адрес</span>
                  <span class="text-20 black--text">{{ model.address }}</span>
                </div>
              </div>
              <div style="width: 400px" class="d-flex align-center mt-10">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon class="mr-n1 mb-n2" name="money" fill="white" stroke="transparent"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Средний чек</span>
                  <span class="text-20 black--text">{{ model.averageCheck }} KGS</span>
                </div>
              </div>
              <div style="width: 400px" class="d-flex align-center mt-10">
                <div style="background: black;width: 52px;height: 52px;border-radius: 50%"
                     class="d-flex align-center justify-center mr-4">
                  <heroicon class="mr-n1" name="smartphone" fill="white" stroke="transparent"/>
                </div>
                <div class="d-flex flex-column">
                  <span class="text-16 dark--text opacity-70 font-weight-300">Номер телефона</span>
                  <a style="text-decoration: none;color:#125CEC;" href="#">
                    <span class="text-20">{{ model.phone }}</span>
                  </a>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
        <v-card v-if="model.images.filter(el => el.source === 'ESTABLISHMENT_INTERIOR').length" elevation="0"
                class="mb-120" color="transparent">
          <v-card-text class="pa-0 px-16 wrapper">
            <div class="d-flex justify-space-between pt-80">
              <span class="text-uppercase text-68 black--text font-title">Интерьер</span>
              <div style="width: 640px" class="d-flex flex-column">
                <div style="border-top: 1px solid #0000004D;" class=""></div>
                <span class="text-22 font-weight-300 black--text mt-6">Внутри клуба царит атмосфера таинственности и элегантности. Стены украшены гламурными элементами, зеркальными панелями и неоновыми акцентами, создавая чувство глубины и пространства</span>
              </div>
            </div>
          </v-card-text>
          <v-card-text class="pa-0">
            <div class="mt-80 wrapper">
              <swiper class="swiper" :options="swiperOption">
                <swiper-slide
                    style="height : 560px !important;width: 868px !important;border-radius: 20px !important;overflow: hidden"
                    class="mx-8 cursor-pointer"
                    v-for="(slide,index) in model.images.filter(el => el.source === 'ESTABLISHMENT_INTERIOR')"
                    :index="index">
                  <v-img style="border-radius: 20px;" :src="'data:image/png;base64,' + slide.file"/>
                </swiper-slide>
              </swiper>
            </div>
          </v-card-text>
        </v-card>
        <v-card
            v-if="model.images.filter(el => el.source === 'ESTABLISHMENT_COUSIN' || el.source === 'ESTABLISHMENT_BAR').length"
            elevation="0" color="#FFFFFF" class="pr-0 wrapper pb-120">
          <v-card-text class="pa-0">
            <div class="pt-80 d-flex justify-space-between px-16 pr-0">
              <div style="width: 564px" class="d-flex flex-column">
                <span class="text-68 font-title text-uppercase black--text">Кухня</span>
                <span class="text-20 font-weight-300 black--text mt-10">В меню — блюда домашней, европейской и средиземноморской кухни. На закуску — тартар из сельди с яйцом и зелёным яблоком, картофельные вафли с лососем и яйцом пашот, брускетты с ростбифом, бакинскими помидорами и красным луком</span>
                <div>
                  <v-btn @click="downloadPdfKitchen" style="border-radius: 16px !important;" outlined color="#0000004D"
                         class="px-15 py-10 mt-10">
                    <span class="text-20 black--text text-none">Посмотреть меню</span>
                  </v-btn>
                </div>
              </div>
              <div style="width: 720px">
                <v-carousel style="z-index: 997 !important;border-radius: 24px 0 0 24px " prev-icon="" next-icon=""
                            ref="kitchen"
                            :continuous="false"
                            hide-delimiters>
                  <v-carousel-item style="position: relative;"
                                   v-for="(poster, i) in model.images.filter(el => el.source === 'ESTABLISHMENT_COUSIN' && el.type !== 'PDF')"
                                   :key="i">
                    <v-img style="z-index: 998 !important;position: absolute" height="100%" width="100%"
                           :src="'data:image/png;base64,' + poster.file"/>
                    <div style="background: #00000080; z-index: 999;position: absolute;width: 100%;height: 100%">

                    </div>
                    <div class="d-flex justify-end align-end"
                         style="position: absolute;z-index: 9999 !important;width: 100%;height: 100%;">
                      <div class="pa-8 d-flex flex-column">
                        <div>
                          <span class="text-44 font-weight-550 white--text mr-1">{{ currentSlideKitchen }}/</span>
                          <span style="color: #4D4E4D" class="text-20 font-weight-550">{{
                              model.images.filter(el => el.source === 'ESTABLISHMENT_COUSIN' && el.type !== 'PDF').length
                            }}</span>
                        </div>
                        <div class="mt-2 d-flex align-center">
                          <v-img @click="customPrevKitchen" width="40" height="40" class="mr-4 cursor-pointer"
                                 src="/static/images/icons/ArrowLeft.svg"/>
                          <v-img @click="customNextKitchen" width="40" height="40" class="cursor-pointer"
                                 src="/static/images/icons/ArrowRight.svg"/>
                        </div>
                      </div>
                    </div>
                  </v-carousel-item>
                </v-carousel>
              </div>
            </div>
            <div class="mt-120 d-flex justify-space-between px-16 pl-0">
              <div style="width: 720px">
                <v-carousel style="z-index: 997 !important;border-radius: 0 24px 24px 0" prev-icon="" next-icon=""
                            ref="bar"
                            :continuous="false"
                            hide-delimiters>
                  <v-carousel-item style="position: relative;"
                                   v-for="(poster, i) in model.images.filter(el => el.source === 'ESTABLISHMENT_BAR' && el.type !== 'PDF')"
                                   :key="i">
                    <v-img style="z-index: 998 !important;position: absolute" height="100%" width="100%"
                           :src="'data:image/png;base64,' + poster.file"/>
                    <div style="background: #00000080; z-index: 999;position: absolute;width: 100%;height: 100%">
                    </div>
                    <div class="d-flex align-end"
                         style="position: absolute;z-index: 9999 !important;width: 100%;height: 100%;">
                      <div class="pa-8 d-flex flex-column">
                        <div>
                          <span class="text-44 font-weight-550 white--text mr-1">{{ currentSlideBar }}/</span>
                          <span style="color: #4D4E4D" class="text-20 font-weight-550">{{
                              model.images.filter(el => el.source === 'ESTABLISHMENT_BAR' && el.type !== 'PDF').length
                            }}</span>
                        </div>
                        <div class="mt-2 d-flex align-center">
                          <v-img @click="customPrevBar" width="40" height="40" class="mr-4 cursor-pointer"
                                 src="/static/images/icons/ArrowLeft.svg"/>
                          <v-img @click="customNextBar" width="40" height="40" class="cursor-pointer"
                                 src="/static/images/icons/ArrowRight.svg"/>
                        </div>
                      </div>
                    </div>
                  </v-carousel-item>
                </v-carousel>
              </div>
              <div style="width: 564px" class="d-flex flex-column">
                <span class="text-68 font-title text-uppercase black--text">Бар</span>
                <span class="text-20 font-weight-300 black--text mt-10">В нашем баре вам приготовят самые изысканные и необычные коктейли которые будут вам точно по душе</span>
                <div>
                  <v-btn @click="downloadPdfBar" style="border-radius: 16px !important;" outlined color="#0000004D"
                         class="px-15 py-10 mt-10">
                    <span class="text-20 black--text text-none">Посмотреть меню бара</span>
                  </v-btn>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
        <v-card v-if="model.images.filter(el => el.source === 'ESTABLISHMENT_PECULIARITIES').length" elevation="0"
                color="transparent" class="pr-0 wrapper pt-80 pb-120">
          <v-card-text class="pa-0 px-16">
            <span class="text-68 black--text text-uppercase font-title">Особенности</span>
          </v-card-text>
          <v-card-text class="pa-0 px-16 mt-15">
            <div class="d-flex flex-wrap">
              <div v-for="peculiar in model.peculiarities" style="background: #FFFFFF;width: 640px;border-radius: 20px"
                   class="px-10 pt-10 pb-12 peculiarities">
                <span class="text-32 black--text font-title text-uppercase font-weight-300">{{ peculiar }}</span>
              </div>
            </div>
          </v-card-text>
          <v-card-text class="pa-0 mt-80">
            <div class="images-block">
              <image-carousel/>
            </div>
          </v-card-text>
        </v-card>
        <v-card v-if="model?.albums?.length" elevation="0" color="transparent" class="pr-0 wrapper pt-80 pb-120">
          <v-card-text class="pa-0 px-16">
            <div class="d-flex">
              <div @click="setActiveTab('REPORTS')" :class="{'active' : activeTab === 'REPORTS' }"
                   class="px-6 py-3 tabs_block">
                <span class="text-24">Репортажи</span>
              </div>
              <div @click="setActiveTab('VIDEO')" class="px-6 py-3 mx-6 tabs_block"
                   :class="{'active' : activeTab === 'VIDEO' }">
                <span class="text-24">Видео</span>
              </div>
              <div @click="setActiveTab('EVENTS')" class="px-6 py-3 tabs_block"
                   :class="{'active' : activeTab === 'EVENTS' }">
                <span class="text-24">События</span>
              </div>
            </div>
          </v-card-text>
          <div v-if="activeTab === 'REPORTS'" class="mt-80 px-16 d-flex flex-column">
            <span class="text-68 font-title text-uppercase">Репортажи</span>
            <div class="pa-0 mt-10 d-flex flex-wrap reports_block">
              <div style="width: 416px"
                   v-for="(card, index) in model?.albums" :key="card.id"
                   class="reports_block__card cursor-pointer">
                <v-img height="516" style="position: relative;border-radius: 20px;"
                       :src="getCoverFile(card.files)"
                >
                  <div
                      style="position: absolute;z-index: 999;width: 100%;height: 100%;background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%); "
                      class="px-8 py-6 d-flex flex-column justify-space-between">
                    <div>
                      <div style="background: #FFFFFF33;border-radius: 30px;display: inline-block" class="py-1 px-4">
                        <span class="text-18 white--text">{{ card.name }}</span>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-16 opacity-70 white--text">{{ card.date }}</span>
                      <span class="text-32 font-weight-550 white--text mt-3">{{ card.name }}</span>
                    </div>
                  </div>
                </v-img>
              </div>
            </div>
            <div v-if="reports.length > 0" class="d-flex justify-center mt-10 pa-0">
              <v-btn style="border-radius: 16px !important;"
                     :color="$vuetify.theme.dark ? '#FFFFFF' : '#0000004D'" outlined
                     class="px-10 py-8 hover-red">
                <span class="text-16 black--text font-weight-medium text-uppercase">Показать еще</span>
              </v-btn>
            </div>
          </div>
          <div v-if="activeTab === 'VIDEO'" class="mt-80 px-16 d-flex flex-column">
            <span class="text-68 font-title text-uppercase">Видео</span>
            <div class="pa-0 mt-10 d-flex flex-wrap reports_block">
              <div style="width: 416px"
                   v-for="(card, index) in model.videoReports" :key="card.id"
                   class="reports_block__card cursor-pointer">
                <v-img height="516" style="position: relative;border-radius: 20px;"
                       :src="'data:image/png;base64,' + card.coverImage.file"
                >
                  <div
                      style="position: absolute;z-index: 999;width: 100%;height: 100%;background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%); "
                      class="px-8 py-6 d-flex flex-column justify-space-between">
                    <div>
                      <div style="background: #FFFFFF33;border-radius: 30px;display: inline-block" class="py-1 px-4">
                        <span class="text-18 white--text">{{ card.title }}</span>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-16 opacity-70 white--text">{{ card.reportDate }}</span>
                      <span class="text-32 font-weight-550 white--text mt-3">{{ card.name }}</span>
                    </div>
                  </div>
                </v-img>
              </div>
            </div>
            <div v-if="reports.length > 0" class="d-flex justify-center mt-10 pa-0">
              <v-btn style="border-radius: 16px !important;"
                     :color="$vuetify.theme.dark ? '#FFFFFF' : '#0000004D'" outlined
                     class="px-10 py-8 hover-red">
                <span class="text-16 black--text font-weight-medium text-uppercase">Показать еще</span>
              </v-btn>
            </div>
          </div>
          <div v-if="activeTab === 'EVENTS'" class="mt-80 px-16 d-flex flex-column">
            <span class="text-68 font-title text-uppercase">События</span>
            <div class="pa-0 mt-10 d-flex flex-wrap reports_block">
              <div style="width: 416px"
                   v-for="(card, index) in model.posters" :key="card.id"
                   class="reports_block__card cursor-pointer">
                <v-img height="516" style="position: relative;border-radius: 20px;"
                       :src="getCoverFile(card.files)"
                >
                  <div
                      style="position: absolute;z-index: 999;width: 100%;height: 100%;background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%); "
                      class="px-8 py-6 d-flex flex-column justify-space-between">
                    <div>
                      <div style="background: #FFFFFF33;border-radius: 30px;display: inline-block" class="py-1 px-4">
                        <span class="text-18 white--text">{{ card.title }}</span>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-16 opacity-70 white--text">{{ card.date }}</span>
                      <span class="text-32 font-weight-550 white--text mt-3">{{ card.contacts }}</span>
                    </div>
                  </div>
                </v-img>
              </div>
            </div>
            <div v-if="reports.length > 0" class="d-flex justify-center mt-10 pa-0">
              <v-btn style="border-radius: 16px !important;"
                     :color="$vuetify.theme.dark ? '#FFFFFF' : '#0000004D'" outlined
                     class="px-10 py-8 hover-red">
                <span class="text-16 black--text font-weight-medium text-uppercase">Показать еще</span>
              </v-btn>
            </div>
          </div>
        </v-card>
        <v-card elevation="0" color="transparent" class="pr-0 wrapper pt-80 mb-80">
          <v-card-text class="pa-0 px-16">
            <span class="text-68 black--text font-title text-uppercase">Контакты</span>
            <div style="background: #FFFFFF;border-radius: 20px"
                 class="mt-15 pt-80 px-8 pb-15 d-flex justify-space-between align-center">
              <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                  <span class="text-24 dark--text opacity-70 font-weight-300 mb-6">Адрес</span>
                  <span class="text-32 black--text">{{ model.address }}</span>
                </div>
                <div class="d-flex flex-column my-15">
                  <span class="text-24 dark--text opacity-70 font-weight-300 mb-6">Телефон</span>
                  <span class="text-32 black--text">{{ model.phone }}</span>
                </div>
              </div>
              <div>
                <t-gis-map
                    style="border-radius: 24px !important;"
                    :center="mapMarker"
                    :marker="mapMarker"
                    :styles="{width: '781px', height: '508px'}"
                    :zoom="16"
                ></t-gis-map>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {Swiper, SwiperSlide} from "vue-awesome-swiper";
import 'swiper/css/swiper.css'
import ImageCarousel from "@/components/ImageCarousel.vue";
import TGisMap from "@/components/tGisMap.vue";

export default {
  name: "Establishment",
  components: {TGisMap, ImageCarousel, SwiperSlide, Swiper},
  metaInfo: {
    title: 'Kipish бар',
    titleTemplate: 'Заведения',
    meta: [
      {name: 'description', content: 'Лучший бар в Бишкеке с уникальной атмосферой.'},
      {name: 'keywords', content: 'бар, Бишкек, отдых, напитки, развлечения'},
      {property: 'og:title', content: 'Kipish бар'},
      {property: 'og:description', content: 'Лучший бар в Бишкеке с уникальной атмосферой.'},
      {property: 'og:type', content: 'website'},
      {property: 'og:url', content: 'https://www.yourwebsite.com/'},
      {property: 'og:image', content: 'https://www.yourwebsite.com/image.jpg'}
    ],
    link: [
      {rel: 'icon', type: 'image/x-icon', href: '/favicon.svg'}
    ],
  },
  data: () => ({
    mapMarker: [],
    activeTab: 'REPORTS',
    swiperOption: {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      initialSlide: 1,
      // autoplay: {
      //   delay: 3500,
      //   disableOnInteraction: true
      // },
      coverflowEffect: {
        rotate: 0,
        stretch: -33,
        depth: 150,
        modifier: 1,
        slideShadows: true
      },
    },
    files: [
      {
        file: '/static/images/estab/1.svg'
      }
    ],
    slides: [
      "/static/images/test.jpg",
      "/static/images/test.jpg",
      "/static/images/test.jpg",
    ],
    currentSlideImages: 1,
    currentSlideKitchen: 1,
    currentSlideBar: 1,
    reports: [
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
      {
        id: 1,
        file: '/static/images/reports/1.svg',
        name: 'Minibar',
        date: '17 ноября / 2023',
        address: 'Muchen'
      },
    ],
    model: {},
    loading: false
  }),
  computed: {},
  created() {
    this.init()
  },
  methods: {
    truncateText(text, maxLength) {
      if (text.length > maxLength) {
        return text.substring(0, maxLength) + "...";
      } else {
        return text;
      }
    },
    downloadPdfKitchen() {
      const {file} = this.model.images.find(el => el.source === 'ESTABLISHMENT_COUSIN' && el.type === 'PDF');

      const binaryPdfData = atob(file);

      const bytes = new Uint8Array(binaryPdfData.length);
      for (let i = 0; i < binaryPdfData.length; i++) {
        bytes[i] = binaryPdfData.charCodeAt(i);
      }

      const blob = new Blob([bytes], {type: "application/pdf"});

      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);

      link.download = "меню-кухня.pdf";

      link.click();
    },
    downloadPdfBar() {
      const {file} = this.model.images.find(el => el.source === 'ESTABLISHMENT_BAR' && el.type === 'PDF');

      const binaryPdfData = atob(file);

      const bytes = new Uint8Array(binaryPdfData.length);
      for (let i = 0; i < binaryPdfData.length; i++) {
        bytes[i] = binaryPdfData.charCodeAt(i);
      }

      const blob = new Blob([bytes], {type: "application/pdf"});

      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);

      link.download = "меню-бар.pdf";

      link.click();
    },
    customPrevImages() {
      this.$refs.images.prev();
      if (this.currentSlideImages > 1) {
        this.currentSlideImages--;
      }
    },
    customNextImages() {
      this.$refs.images.next();
      if (this.currentSlideImages < this.model.images.filter(el => el.source === 'ESTABLISHMENT' && !el.isLogo).length) {
        this.currentSlideImages++;
      }
    },
    customPrevKitchen() {
      this.$refs.kitchen.prev();
      if (this.currentSlideKitchen > 1) {
        this.currentSlideKitchen--;
      }
    },
    customNextKitchen() {
      this.$refs.kitchen.next();
      if (this.currentSlideKitchen < this.model.images.filter(el => el.source === 'ESTABLISHMENT_COUSIN' && el.type !== 'PDF').length) {
        this.currentSlideKitchen++;
      }
    },
    customPrevBar() {
      this.$refs.bar.prev();
      if (this.currentSlideBar > 1) {
        this.currentSlideBar--;
      }
    },
    customNextBar() {
      this.$refs.bar.next();
      if (this.currentSlideBar < this.model.images.filter(el => el.source === 'ESTABLISHMENT_BAR' && el.type !== 'PDF').length) {
        this.currentSlideBar++;
      }
    },
    init() {
      this.loading = true
      this.$http.get(`/establishments/${this.$router.currentRoute.params.id}`)
          .then(r => {
            this.model = r.data
            this.mapMarker[0] = r.data.latitude
            this.mapMarker[1] = r.data.longitude
            this.loading = false
          })
          .catch(e => {
            this.loading = false
          })
    },
    setActiveTab(tab) {
      this.activeTab = tab
    },
    getCoverFile(files) {
      const coverFile = files.find(el => el.isCover === true);
      console.log(coverFile)
      return coverFile ? 'data:image/png;base64,' + coverFile.file : null;
    },
    setSelectedCity(city) {
      console.log(city)
      // this.getReports(city)
    },
    // getReports(city) {
    //   this.$http.get(`/albums?city=${city.id}`)
    //       .then(r => {
    //         console.log(r.data)
    //         this.reports = r.data.content
    //       })
    // },
  },
}
</script>


<style lang="scss">
.months_block {
  .v-input__slot {
    i {
      margin-top: 10px !important;
    }

    font-family: "ALS Hauss VF", sans-serif;

    &::before {
      border: none !important;
    }

    &::after {
      border: none !important;
    }

    cursor: pointer !important;
  }

  .v-select__selections {
    input {
      opacity: 0;
    }
  }
}

.scroll-container {
  display: flex;
  cursor: pointer;
  user-select: none;
  overflow-x: hidden;
}

.scroll-item {
  flex: 0 0 auto;
  position: relative;
}

.day-number {
  border-radius: 12px;
  text-align: center;
  padding: 12px;
  width: 67px;
  height: 76px;
  border: 1px solid #0000001A;
}

.marker {
  border: 1px solid #FE252E;
}

.scroll-item:hover .marker {
  display: block;
}

.day-events {
  /* Добавьте стили для событий дня здесь */
}

.event {
}

.animated-container {
  position: absolute;
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s, transform 0.1s
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-block {
  height: 560px;
  margin: 0 auto;
  position: relative;
  width: 100vw;
}

.wrapper {
  width: 1440px !important;
  margin: 0 auto;
}

.images-block {
  height: 360px;
  margin: 0 auto;
  position: relative;
}

.tabs_block {
  cursor: pointer;
  background: #FFFFFF;
  padding: 12px 24px 12px 24px;
  border-radius: 60px;
  color: #111111;
}

.active {
  background: #FE252E !important;
  color: #FFFFFF !important;
}

.reports_block {
  .reports_block__card {
    margin-right: 32px;
    margin-bottom: 32px;
  }

  .reports_block__card:nth-child(3n) {
    margin-right: 0;
  }

  .reports_block__card:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.peculiarities {
  margin-right: 32px;
  margin-bottom: 32px;
}

.peculiarities:nth-child(even) {
  margin-right: 0;
}

.peculiarities:nth-last-child(1),
.peculiarities:nth-last-child(2) {
  margin-bottom: 0;
}
.leaflet-container {
  border-radius: 24px !important;
}
</style>