<template>
  <v-row class="ma-0 estab_wrapper">
    <v-dialog max-width="440" v-model="deleteDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text
            class="pa-5 py-10 d-flex flex-column justify-center align-center"
        >
          <span class="font-weight-medium text-20 black--text"
          >Удалить заведение</span
          >
          <span class="text-16 accent--text mt-3"
          >Вы действительно хотите удалить заведение?</span
          >
          <div class="mt-8">
            <v-btn
                style="width: 192px"
                @click="deleteDialog = false"
                class="mr-4 py-6 px-10"
                outlined
                depressed
                color="secondary"
            ><span class="text-14 font-weight-medium secondary--text"
            >Отменить</span
            ></v-btn
            >
            <v-btn
                style="width: 192px"
                @click="deleteEstab"
                class="py-6 px-10"
                depressed
                color="red"
            ><span class="text-14 font-weight-medium white--text"
            >Удалить</span
            >
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="errorDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text
            class="py-8 px-16  d-flex flex-column justify-center align-center"
        >
          <span class="font-weight-bold text-18 accent--text"
          >Произошла ошибка при удалении</span
          >
          <span class="text-16 accent--text text-center mt-4"
          >Возможная причина: к данному заведению привязаны данные</span
          >
          <div class="mt-11">
            <v-btn @click="errorDialog = false" depressed color="primary"
            ><span class="text-14 font-normal">Понятно</span></v-btn
            >
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog max-width="440" v-model="archiveDialog">
      <v-card style="border-radius: 8px !important;">
        <v-card-text
            class="py-8 px-16  d-flex flex-column justify-center align-center"
        >
          <span class="font-weight-bold text-18 accent--text"
          >Переместить в архив</span
          >
          <span class="text-16 accent--text text-center mt-4"
          >Действительно хотите переместить заведение в архив?</span
          >
          <div class="mt-11">
            <v-btn
                @click="archiveDialog = false"
                class="mr-4"
                depressed
                color="#F5F6F7"
            ><span class="text-14 font-normal accent--text"
            >Отменить</span
            ></v-btn
            >
            <v-btn depressed color="primary"
            ><span class="text-14 font-normal">Переместить</span></v-btn
            >
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex flex-column">
          <div class="d-flex justify-space-between align-end">
            <div>
              <span class="black--text font-weight-medium text-24"
              >Заведения</span
              >
              <div class="d-flex align-center mt-2">
                <span
                    @click="$router.push('/dashboard')"
                    class="grey--text cursor-pointer"
                >Дашборд</span
                >
                <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
                <span class="black--text">Заведения</span>
              </div>
            </div>
            <v-btn
                @click="$router.push('/establishments/create')"
                class="py-6 px-6"
                depressed
                color="primary"
            >
              <v-icon class="mr-1">mdi-plus</v-icon>
              <span class="font-weight-medium text-none text-14 white--text"
              >Добавить Заведение</span
              >
            </v-btn>
          </div>
          <div
              class="d-flex justify-space-between align-center mt-6 estab_filter__wrapper"
          >
            <div class="estab_filter">
              <v-btn
                  @click="filterTab('ALL')"
                  :text="activeFilterTab !== 'ALL'"
                  class="mr-1"
                  max-width="120"
                  depressed
                  color="primary"
              ><span
                  class="text-none font-weight-medium"
                  :class="activeFilterTab !== 'ALL' ? 'grey--text' : ''"
              >Все заведения</span
              >
              </v-btn>
              <v-btn
                  @click="filterTab('TOP')"
                  :text="activeFilterTab !== 'TOP'"
                  max-width="120"
                  depressed
                  color="primary"
              ><span
                  class="text-none font-weight-medium"
                  :class="activeFilterTab !== 'TOP' ? 'grey--text' : ''"
              >Топ заведения</span
              ></v-btn
              >
            </div>
            <div>
              <v-text-field
                  v-model="search"
                  style="width: 200px"
                  placeholder="Поиск заведений"
                  outlined
                  hide-details
                  dense
                  prepend-inner-icon="mdi-magnify"
              >
              </v-text-field>
            </div>
          </div>
        </v-card-text>
        <v-card-text
            style="background: #FFFFFF; min-height: 650px;border-radius: 12px;overflow: hidden"
            class="pa-0 mt-5 d-flex flex-column justify-space-between"
        >
          <v-data-table
              :loading="loading"
              hide-default-footer
              :items="filteredData"
              :headers="headers"
          >
            <template v-slot:item.logo="{ item }">
              <div class="estab_logo">
                <v-img
                    style="border-radius: 8px"
                    width="100%"
                    height="100%"
                    :src="'data:image/png;base64,' + isLogo(item)"
                />
              </div>
            </template>
            <template v-slot:item.categories="{ item }">
              <span>{{ item.categories[0].nameRu }}</span>
            </template>
            <template v-slot:item.contacts="{ item }">
              <span>{{ item.phone }} {{ item.address }}</span>
            </template>
            <template v-slot:item.topEstablishment="{ item }">
              <v-switch
                  @change="updateEstab(item)"
                  class="mt-n2"
                  hide-details
                  inset
                  v-model="item.top"
              />
            </template>
            <template v-slot:item.albums="{ item }">
              <div
                  v-if="item?.albums"
                  class="d-flex justify-center align-center"
              >
                <span class="mr-2">{{ item?.albums?.length }}</span>
                <heroicon
                    class="cursor-pointer mt-3"
                    name="eye"
                    fill="#A3A9B6"
                />
              </div>
              <span v-else>-</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      :outlined="attrs['aria-expanded'] === 'false'"
                      :color="
                      attrs['aria-expanded'] === 'true' ? 'black' : 'secondary'
                    "
                      v-bind="attrs"
                      v-on="on"
                      class="pl-3 pr-0"
                  >
                    <span
                        :style="{
                        color:
                          attrs['aria-expanded'] === 'true'
                            ? '#FFFFFF'
                            : '#818C99'
                      }"
                    >Действия</span
                    >
                    <heroicon
                        class="mb-n5 ml-2"
                        :name="
                        attrs['aria-expanded'] === 'true'
                          ? 'menuUp'
                          : 'menuDown'
                      "
                        :fill="
                        attrs['aria-expanded'] === 'true'
                          ? '#FFFFFF'
                          : '#818C99'
                      "
                    />
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item>
                    <v-list-item-title>
                      <div
                          @click="$router.push('/establishments/edit/' + item.id)"
                          class="d-flex align-center cursor-pointer"
                      >
                        <heroicon
                            class="mr-3 mb-n2"
                            name="pencil"
                            fill="#A3A9B6"
                        />
                        <span>Редактировать</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-title>
                      <div
                          @click="
                          $router.push('/establishment/preview/' + item.id)
                        "
                          class="d-flex align-center cursor-pointer"
                      >
                        <heroicon
                            class="mr-3 mb-n2"
                            name="eye"
                            fill="#A3A9B6"
                        />
                        <span>Просмотр</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-title>
                      <div
                          @click="openDeleteDialog(item.id)"
                          class="d-flex align-center cursor-pointer"
                      >
                        <heroicon
                            class="mr-3 mb-n2"
                            name="trash"
                            fill="#A3A9B6"
                        />
                        <span>Удалить</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-data-table>
          <div class="pa-6 d-flex justify-space-between align-center">
            <span class="text-14 font-weight-medium grey--text">
              Показаны {{ Math.min((page - 1) * 10 + 1, totalItems) }}-
              {{ Math.min(page * 10, totalItems) }}
              из {{ totalItems }}
            </span>
            <v-pagination
                @input="fetchData"
                total-visible="10"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                v-model="page"
                :length="totalPages"
            ></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Users",
  data: () => ({
    search: "",
    errorDialog: false,
    deleteDialog: false,
    deletedEstabId: null,
    archiveDialog: false,
    activeFilterTab: 'ALL',
    loading: false,
    data: [],
    headers: [
      {text: "Обложка", value: "logo", sortable: false},
      {text: "Название", value: "name", sortable: false},
      {text: "Тип заведения", value: "categories", sortable: false},
      {text: "Часы работы", value: "hoursOfWork", sortable: false},
      {text: "Контакты", value: "contacts", sortable: false, align: "center"},
      {
        text: "Топ заведения",
        value: "topEstablishment",
        sortable: false,
        align: "center"
      },
      {text: "Действие", value: "actions", sortable: false, align: "center"}
    ],
    page: 1,
    size: 10,
    totalPages: 0,
    totalItems: 0
  }),
  computed: {
    filteredData() {
      return this.filterData(this.search);
    }
  },
  mounted() {
    this.fetchData();
  },
  watch: {},
  methods: {
    filterData(searchText) {
      if (!searchText.trim()) {
        if (this.activeFilterTab === 'ALL') {
          return this.data;
        } else if (this.activeFilterTab === 'TOP') {
          return this.data.filter(item => item.top);
        }
      }

      const searchLower = searchText.toLowerCase();
      return this.data.filter(item => {
        const nameMatch = item.name.toLowerCase().includes(searchLower);
        const phoneMatch = item.phone.toLowerCase().includes(searchLower);
        const addressMatch = item.address.toLowerCase().includes(searchLower);
        const categoryMatch = item.categories[0].nameRu
            .toLowerCase()
            .includes(searchLower);
        if (this.activeFilterTab === 'ALL') {
          return nameMatch || phoneMatch || addressMatch || categoryMatch;
        } else if (this.activeFilterTab === 'TOP') {
          return (nameMatch || phoneMatch || addressMatch || categoryMatch) && item.top;
        }
        return false;
      });
    },
    deleteEstab() {
      this.$http
          .delete(`/establishments/${this.deletedEstabId}`)
          .then(r => {
            this.deleteDialog = false;
            this.fetchData();
          })
          .catch(e => {
            this.errorDialog = true;
            this.deleteDialog = false;
          });
    },
    openDeleteDialog(id) {
      this.deletedEstabId = id;
      this.deleteDialog = true;
    },
    filterTab(param) {
      this.activeFilterTab = param;
    },
    previewEstab(item) {
      this.$router.push({name: "establishment", params: {id: item.id}});
    },
    fetchData() {
      this.loading = true;
      const params = {page: this.page - 1, size: this.size};
      this.$http
          .get("/establishments", {params})
          .then(r => {
            this.totalPages = r.data.totalPages;
            this.totalItems = r.data.totalElements;
            this.data = r.data.content;
            this.loading = false;
          })
          .catch(e => {
            this.loading = false;
          });
    },
    updateEstab(item) {
      this.$http
          .put(`/establishments/${item.id}/top?top=${item.top}`)
          .then(r => console.log(r.data));
    },
    isLogo(item) {
      const logo = item.images.find(el => el.isLogo === true);
      return logo ? logo.file : "";
    }
  },
};
</script>

<style lang="scss">
.estab_wrapper {
  .estab_filter__wrapper {
    .estab_filter {
      background: #ffffff;
      border-radius: 8px;
      padding: 4px;
      border: 1px solid #e0e2e7;
    }

    .v-input__slot {
      background: #ffffff !important;
      border-radius: 8px !important;
    }
  }

  .estab_logo {
    width: 64px;
    height: 64px;
    border-radius: 8px;
  }
}
</style>