@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Bold_1.2.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Medium_1.2.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Regular_1.2.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Thin_1.2.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Variable_1.0.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}