<template>
  <v-row class="ma-0 create-wrapper">
    <v-col cols="12" class="pa-6 d-flex">
      <v-card elevation="0" color="transparent">
        <v-card-text class="pa-0 d-flex align-end justify-space-between">
          <div>
            <span class="black--text font-weight-medium text-24">Добавить тип заведений</span>
            <div class="d-flex align-center mt-2">
              <span @click="$router.push('/dashboard')"
                class="secondary--text cursor-pointer">Дашборд</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span @click="$router.push('/category/establishment')" class="secondary--text cursor-pointer">Справочник заведений</span>
              <v-icon color="#C2C6CE" class="mx-2">mdi-menu-right</v-icon>
              <span class="black--text">Добавить тип заведения</span>
            </div>
          </div>
          <div>
            <v-btn style="border: 1px solid #858D9D !important;" @click="$router.go(-1)" class="mr-4 pa-6" color="grey"
              outlined><span class="secondary--text">Отменить</span></v-btn>
            <v-btn v-if="edit" class="pa-6" color="primary"><span
                class="font-weight-medium text-14">Сохранить</span></v-btn>
            <v-btn @click="addCata" class="pa-6" v-if="!edit" color="primary"><span
                class="font-weight-medium text-14">Добавить</span>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-text class="pa-0 mt-6">
          <v-row class="ma-0">
            <v-col class="pa-0 pr-6" cols="9">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <span class="font-weight-medium black--text text-20">Общая информация</span>
                <div class="mt-5 d-flex justify-space-between align-end">
                  <div style="width: 100%" class="d-flex flex-column">
                    <span style="color: #777980" class="grey--text mb-1">Название типа заведения</span>
                    <v-text-field dense outlined hide-details v-model="model.nameRu"/>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col class="pa-0" cols="3">
              <div style="background: #FFFFFF;border-radius: 12px" class="pa-6 d-flex flex-column">
                <div class="d-flex justify-space-between align-center">
                  <span class="text-18 black--text">Общепит</span>
                  <v-switch v-model="model.fastFood" class="mt-0" inset hide-details />
                </div>
                <span class="grey--text mt-4">Если у вас заведение с общепитоп обзятельно включите тумблер</span>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'EstabCreate',
  data: () => ({
    edit: false,
    visible: false,
    visibleVerify: false,
    types: [],
    model: {
      nameRu: "",
      nameKg: "",
      nameEn: "",
      type: "ESTABLISHMENT",
      fastFood: false
    },
  }),
  methods: {
    addCata() {
      this.$http.post('/categories', this.model)
        .then(r => {
          this.$router.push('/category/establishment')
        })
    },
    init() {
      this.$http.get('/categories/types')
        .then(r => this.types = r.data)
    }
  },
  created() {
    this.init()
  }
}
</script>


<style scoped lang="scss">
.create-wrapper {
  .v-input {
    background: #f9f9fc !important;
    border-radius: 8px;
  }
}
</style>