<template>
  <v-app class="exception">
    <v-container fluid class="mt-16">
      <v-layout class="flex-column" align-center justify-center>
        <div style="background: #FAFAFA;width: 400px" class="text-md-center mt-n1 pa-8">
          <p class="text-20 mb-2 headline">This page was not found!</p>
          <span style="opacity: 60%" class="text-14">Change your request and try again</span>
        </div>
        <div style="width: 400px" class="mt-6 d-flex justify-space-between">
          <v-btn width="45%" depressed color="grey" @click="$router.go(-1)">
            <span class="white--text">BACK</span>
          </v-btn>
          <v-btn width="45%" depressed color="primary" @click="goHome">MAIN PAGE</v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  methods: {
    goHome() {
      this.$router.push({path: '/login'})
    },
  },
}
</script>
<style lang="sass" scoped>
h1
  font-size: 150px
  line-height: 150px
  font-weight: 700
  color: #252932
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px
</style>
